[2021-01-29 13:47] #555 closed

[2021-01-29 13:50] cpu commented on #555
I think I remember the rough shape of the "why" now: initially I implemented the integration test ground truth per-test certificate (e.g. ~600,000 rows of JSON, each with an err, info, etc count). That made for a big JSON file (~100mb) and I was noodling with using a smaller type since we didn't have 255 lints. Later we restructured the tests to group source of truth by lint instead of by cert but

[2021-01-30 20:04] christopher-henderson opened #559 "Call for testing: ZLint v3.1.0 release candidate"
Howdy folks,

We've cut a new release candidate, [v3.1.0-rc1](https://github.com/zmap/zlint/releases/tag/v3.1.0-rc1).

Testing would be appreciated. If you find any problems feel free to report them in this issue. We will plan to cut a final v3.1.0 release in the next week if no problems are identified, per the "Versioning and Releases" guidance in the [README](https://github.com/zmap/zlint#versio

[2021-01-30 20:09] christopher-henderson commented on #545
Pecked my way through the workflow for a [tag](https://github.com/zmap/zlint/releases/tag/v3.1.0-rc1) and [call for testing](https://github.com/zmap/zlint/issues/559). However, I don't think I have post privileges to [zlint-announcements](https://groups.google.com/g/zlint-announcements) (note that I'm not too familiar with Google Groups so I may have just missed the `new post` widget somewhere)

[2021-02-01 23:00] cpu commented on #545
Thanks @christopher-henderson, it looks like you sorted out groups access? I see a post from you in there now.

[2021-02-02 02:48] christopher-henderson commented on #545
Oh yeah, Zakir got me rolling on that.

[2021-02-04 09:04] AEtherC0r3 opened #561 "w_qcstatem_qctype_web generates false posiives for qualified certificates"
If a qualified certificate is not a QWAC (Qualified Web Authentication Certificate) `w_qcstatem_qctype_web` will be triggered. This lint should not be applicable to certificates that can't be used for TLS server authentication.

[2021-02-04 19:16] sleevi commented on #561
Could you provide an example certificate you believe this is a false-positive for? This would help diagnose.

I "suspect" this is because the early lints from @mtgag unconditionally assume TLS certs (i.e. do not restrict via their `CheckApplies` function), as I suspect some assumption that this would only be run on TLS hierarchies. I suspect we can resolve this through liberally updating `CheckApp

[2021-02-05 12:17] AEtherC0r3 commented on #561
The attached certificate is an example of a qualified certificate for qualified eSignatures
[John Doe.pem](https://github.com/zmap/zlint/files/5932272/John.Doe.pem.txt)

[2021-02-08 22:21] cpu commented on #561
Is this something that should be considered a blocker for https://github.com/zmap/zlint/issues/559 ? My instinct is to revert anything ETSI related that seems buggy but I'll defer to others for this case.

[2021-02-08 22:27] sleevi commented on #561
@cpu I don't think so. This particular lint comes from v1 (that is, before lints were shuffled and split). Specifically, https://github.com/zmap/zlint/pull/250 from 2019. So this is long-standing, (un?)fortunately, and mostly a result of several of the existing ETSI lints assuming they'll only be run in the context of Web PKI hierarchies.

[2021-02-08 22:28] cpu commented on #561
SGTM. I also feel better these days knowing that users can exclude certain lint categories.

[2021-02-10 06:03] mtgag commented on #561
It is true that the assumption made was that only TLS certificates are involved. If the scope of zlint is beyond this use case then this lint is not correct. Two suggestions are to either remove the lint or change the warning to a notice. What is your opinion on this? We could then implement this.

[2021-02-13 14:24] cpu commented on #545
@christopher-henderson Will you have a chance to cut the final tag shortly? Thanks!

[2021-02-13 15:50] christopher-henderson commented on #545
@cpu precisely, I was going to cut the release this morning after a quick check that relative silence in response to the RC is normal (just to double check, I didn't want to cut and then panic that I was suppose to look out for testing response from <whomever>).

[2021-02-13 15:53] cpu commented on #545
Very normal :-)

Thanks!

[2021-02-13 19:18] christopher-henderson opened #564 "Lint template produces a file with an `init` function that is not at the top of the new lint"

[2021-02-13 19:26] cpu commented on #564
Do as I say, not as I generate

[2021-02-13 21:00] christopher-henderson opened #566 "DNS Name Constraints may not have a "." prefix."
This relates to #136 as well as #413 (begin linting out DNS and IP name constraints). Rather than have a monolithic "invalid DNS" lint I reckoned that it would be pertinent to break these out into individual lints as one can imagine how quickly that one lint could grow.

This issue relates to the mistake of thinking that a DNS name constraint is allowed to have a leading "." (much like how a URI c

[2021-02-13 21:09] christopher-henderson commented on #413
@sleevi while digging into this I found your filing at https://github.com/cabforum/servercert/issues/160 which brings up...

Which screams of the same confusions brought up in https://github.com/zmap/zlint/issues/553 last month.

I may be a bit green WRT to what RFCs are out there, but I'm beginning to wonder if an RFC 2119 type document for boolean expressions in plain English prose would be a go

[2021-02-13 21:17] christopher-henderson commented on #564
@cpu it reminds me of one time when I made a small contribution to a project. The entire project was not following the "standard" style guidelines, but it was at least very consistent in the style that it had chosen. So, since I was in someone else's home, my small change emulated their style to the T.

So of course the very author of those many thousands of lines of customly stylized code chastis

[2021-02-13 21:20] christopher-henderson commented on #545
So I think I may have done something wrong. The [v3.1.0](https://github.com/zmap/zlint/releases/tag/v3.1.0) release only has two assets in it (it's missing the built binaries). I _did_ faff around a bit and ended up making multiple drafts :slightly_frowning_face:

[2021-02-13 21:23] christopher-henderson commented on #545
Would there be any issue in taking the binaries from [v3.1.0-rc1](https://github.com/zmap/zlint/releases/tag/v3.1.0-rc1) and manually dragging them into this one? There we no changes in the RC, however I don't know if there is something like version stamping into the resulting binaries that would cause there to be a difference.

[2021-02-14 19:16] christopher-henderson opened #568 "Include a playground script for generating one off certificates and certificate chains"
It was brought up by @RufusJWB that generating test data certificates can be opaque and slow for contributors. I actually found myself writing a small Go script the other day in order to rapid fire generate (relatively speaking) test data. I'll open up a PR to see how palatable it is to have a playground in the repo.

[2021-02-16 23:52] cpu commented on #545
Thanks @christopher-henderson

That seems fine to me. AFAICT we don't have any fancy version embedding (_but probably should_).

Could you update the CONTRIBUTING.md docs to mention this issue about creating multiple drafts? It's definitely something we'll want to keep in mind for future releases.

[2021-02-16 23:52] cpu commented on #559
https://github.com/zmap/zlint/releases/tag/v3.1.0 is released.

[2021-02-16 23:52] #559 closed

[2021-02-17 22:29] cpu commented on #545
There's something going on with v3.1.0 above and beyond the release artifacts. Updating ZCertificate is showing the dependency as an incompatible Go mod version:

[code]

[code]

[2021-02-17 22:39] christopher-henderson commented on #545
@cpu it's my understanding that `+incompatible` means that the dependency in question is not of the `module` system that Go came up with a few years back. Did zceritificate update it's Go version to 1.16 as well? Maybe the whole system has been updated to want `go.mod` in the root of the repo (hence not picking up on `./v3/go.mod` and thinking that we're not a module)?

[2021-02-17 22:42] cpu commented on #545
Yup, I landed PRs for this in zcrypto, zlint and zcertificate

Ohhhhh! Your comment totally made me realize what I did wrong.....

should be:

The import is: `"github.com/zmap/zlint/v3"`, the "v3" part is critical.

Sorry for the false alarm!!! PEBKAC error through and through.

[2021-02-17 22:44] cpu commented on #545
:facepalm: Confirmed w/ https://github.com/zmap/zcertificate/pull/26  We're all good!

[2021-02-17 22:47] christopher-henderson commented on #545
:laughing:

Not enough people in the world know this acronym.

As an side, I'll get on top of doing the super high tech, DevOps compliant, exercise of manually dragging and dropping a binary into GitHub.

[2021-02-17 22:48] cpu commented on #545
:laughing: Thank you. We can close this issue afterwards I think.

[2021-02-17 22:56] christopher-henderson commented on #545
[Release v3.1.0](https://github.com/zmap/zlint/releases/tag/v3.1.0)

[2021-02-17 22:56] #545 closed

[2021-02-26 16:42] robplee commented on #564
One other thing about the lint template is that it currently has the import wrong - "github.com/zmap/zlint/v2/lint" should be v3 these days :)

[2021-02-26 17:26] christopher-henderson commented on #564
@robplee precisely, and we did catch and bundle that in the change [on the sly](https://github.com/zmap/zlint/commit/1f157ab6c8ab2a591daefeaad74bd061b13b4d3f).

But I certainly did forget to close this issue, so thanks for the reminder. :joy:

[2021-02-26 17:27] #564 closed

[2021-03-02 01:55] 1209973 opened #573 "How to check for lints from JSON data got from the CT logs?"
Dear maintainers!

Do you have a way to run zlint to check for lint issues when the JSON data from a CT log is given as the input?

Currently, most of the functions required the input to be in the x509.Certificate type.  And if there isn't any way to run Zlint with JSON input, Is there is any way to convert the JSON data into an x509.Certificate type?

[2021-03-02 20:53] #546 closed

[2021-03-02 21:35] christopher-henderson commented on #573
Howdy @1209973! As of today, ZLint operates on a single certificate in isolation (that is, one at a time). If you would like to lint each certificate within your CT logs I think I would suggest that you write a wrapper script that can extract each individual certificate that you're interested in and run ZLint from there.

So something like...

[code]

[2021-03-02 21:53] dadrian commented on #573
You can also use [ZCertificate](https://github.com/zmap/zcertificate) to run ZLint against PEMs extracted from a CT log using some other tool.

[2021-03-03 01:14] 1209973 commented on #573
@christopher-henderson, So in this example code, log[çertificate'] is of type PEM or a JSON or x509.Certificate. Because when we use [Certstream](https://github.com/CaliDog/certstream-python) to capture CT log data we get a JSON output in which the data field would contain all the properties of the certificate in JSON format. Is it possible to use that JSON format in Zlint?

[code]

[2021-03-03 01:34] christopher-henderson commented on #573
ooooof x509 serialized as JSON rather than as ASN1 is indeed outside of the scope of this tool. We support PEM, DER, and base64 encoded certificates (anything that is itself just a re-encoding or armoring of ASN1). This is especially tricky because there are a non trivial number of lints that take into consideration precisely the ASN1 serialization of the given certificate.

Unless I missed someth

[2021-03-03 01:42] cpu commented on #573
No, I can't. This seems like a limitation the OP should pursue with Certstream. The certificate transparency logs _do_ contain the DER encoded leaf certificates in a form that would be easily lintable but it looks to me like Cerstream creates a friendly JSON representation without exposing the original underlying certificate. I would recommend making a feature request with Certstream or consuming

[2021-03-03 02:31] dadrian commented on #573
It is not possible to lint a JSON representation (even the ZCrypto one), since they drop necessary encoding information about the ASN.1 itself. You can only lint a DER-encoded certificate.

[2021-03-03 02:43] #573 closed

[2021-03-03 16:35] #568 closed

[2021-03-03 22:13] christopher-henderson opened #574 "Lint that DSA is not used - BR"
This issue duplicates-ish #537

A lint was implemented in #572 which checks this against the Mozilla effective date. This issue is to implement a second which tracks against the BR effective date.

[2021-03-03 22:16] christopher-henderson opened #575 "Introduce an upper bounds to effective dates"
In the issue for [`Lint that DSA is not used `](https://github.com/zmap/zlint/issues/537#issuecomment-757876869) we opened up the idea of a policy that may eventually be deprecated, and the notion of a sort of `notAfter` for lints was introduced.

One would think this change would be as simple as

[code]

...with the consequent updates to the framework and documentation. I don't think I see any re

[2021-03-03 22:38] christopher-henderson commented on #575
There was also a discussion brought up by @cardonator on the possibility of encoding the notion of a lint being "superseded". One could imagine something like...

[code]

...although if it is always the case that once one policy supersedes another, that the first would acquire an `IneffectiveDate` and this case would naturally be handled? Or do we policies that are technically both alive on inters

[2021-03-03 22:40] christopher-henderson commented on #537
Merged in with #572. #574and #575  were fired up for the BR version of this as well as keeping the discussion alive for sunset dates and superseding lints (respectively).

[2021-03-03 22:40] #537 closed

[2021-03-04 15:49] dadrian commented on #575
I wouldn't add `SupersedesBy` until it's actually a problem.

This can also be solved by writing a single lint with an if statement in the middle.

[2021-03-04 15:54] zakird commented on #575
I don't think that's necessarily true. The two pints could have different
citations, names, scopes.

I'm not opposed to having a date when a lint is no longer applicable. If we
have an effective date, it seems quite reasonable to have an end date too.

In terms of superseded, I'm not sure if that specific piece is worth
codifiying. We've tried really hard to have lints be simple and
independent. A

[2021-03-04 15:58] dadrian commented on #575
To be clear, I think a `NotAfter` / `IneffectiveDate` is totally reasonable. 🚀

[2021-03-04 16:00] cardonator commented on #575
FWIW I don't have a use case where Superseded would be helpful, it was just something I thought we ought to consider when adding boundaries. IOW if it did have any use case.

[2021-03-04 16:25] christopher-henderson commented on #575
Precisely. And this would be, essentially, building a statically defined graph structure implicitly in code which screams "complications".

Given that we don't have a use case immediately I kinda doubt that we would want to do it.

...But at the same time I can't help but noodle on how it would be done if we did :stuck_out_tongue: (interesting problems are...interesting :man_shrugging: ) perhaps s

[2021-03-14 19:59] #575 closed

[2021-03-28 17:02] #574 closed

[2021-03-29 16:12] attilarozgonyi opened #581 "Bug: ESI lints are not consistent with ETSI EN 319 412-5 requirements regarding non-qualified certificates"
When non-qualified certificates containing QC Statements are used, zlint returns an error for e_qcstatem_mandatory_etsi_statems. By the documentation's description, this lint "Checks that a QC Statement that contains at least one of the ETSI ESI statements, also features the set of mandatory ETSI ESI QC statements." and the description references "ETSI EN 319 412-5 V2.2.1 (2017 - 11) / Section 5".

[2021-03-29 16:36] sleevi commented on #581
@zakird @dadrian @cpu Given that @mtgag has mostly trailed off contributing, how do you feel about removing the ETSI lints entirely, and closing out the related items?

@attilarozgonyi Thanks for raising this! One of the unique challenges with ETSI’s approach, which is unfortunately very different and incompatible with other trust frameworks, is that CA compliance is a bit more ineffable. That is,

[2021-03-29 17:41] mtgag commented on #581
We are still willing to contribute to the ETSI and other lints, as well as update/correct the current ones from ETSI. I am not sure if this helps this discussion, but I just wanted to note it.

[2021-03-30 17:15] sandorszoke commented on #581
ZLint is a very useful tool, especially for TLS certificates. We run it automatically for every  TLS certificate issued before publishing.

We as a European CA would like to use it for all type of certificates, but the false error messages and warnings make this more difficult and problematic. Of course, false error messages can be prevented during runtime by disabling problematic lints (-excludeN

[2021-03-30 19:03] CBonnell opened #582 "lint_serial_number_not_positive does not flag serial numbers == 0"
https://github.com/zmap/zlint/blob/master/v3/lints/rfc/lint_serial_number_not_positive.go#L62 only flags an error if the certificate serial number is negative. RFC 5280 requires that the serial number be positive, which excludes "0" as a valid value.

See https://crt.sh/?id=12724095&opt=cablint,zlint as an example where cablint correctly flags this error condition but zlint does not.

[2021-03-30 20:24] sleevi opened #583 "Discussion: Consider how proposed CA/B Forum SCWG profiles will be linted"
I [recently shared](https://archive.cabforum.org/pipermail/validation/2021-March/001645.html) with the CA/B Forum the latest draft that attempts to overhaul how the Server Certificate Working Group expresses requirements on certificates, by moving from its three section approach ("root", "subordinate", "leaf") into category-specific profiles that fully express the intersections and permitted varia

[2021-03-31 15:07] christopher-henderson commented on #581
Let me check up with at least Digicert on this as I have a handle into their Slack. Last time I spoke with them it sounded like they were at least one major CA that had an interest in ETSI (although I am not sure how strong that interest is).

[2021-03-31 19:36] christopher-henderson commented on #582
Hmmm we might actually be the ones who are correct here.

And checking the sign in this fashion is exactly what we do...

[code]

However, what is vexing is the following clause from 4.1.2.2

...which seems to imply that the intent of the author of this paragraph is that zeroes are _not_ legal.

Could I ask for a favor from @sleevi  and weigh in on this? You tend to have a much better pulse on the

[2021-03-31 19:43] christopher-henderson commented on #582
Hmmm lets take a look at this from a number line perspective

![image](https://user-images.githubusercontent.com/8518514/113201165-11c92080-921e-11eb-84f6-4bd9136161fe.png)

Zero is commonly considered neither positive nor negative. So you can think of the `positive` set, the `negative` set, and the `zero` singleton set. In this take

`positive` --> `positive`
`negative` --> `negative`
`non-negati

[2021-03-31 19:46] CBonnell commented on #582
Obviously I am not @sleevi, but my understanding about 0 being prohibited is based on the specification in https://tools.ietf.org/html/rfc5280#section-4.1.2.2, specifically:

This exact issue was discussed several years ago on m.d.s.p. and the conclusion is that 0 is prohibited: https://groups.google.com/g/mozilla.dev.security.policy/c/3avqmSF4MVU/m/ZPFE0rIuAQAJ

[2021-03-31 20:04] sleevi commented on #582
@christopher-henderson I'm not seeing the dissonance. Could you spell it out a bit more?

Appendix B is talking about the **sign bit**, not the entire serial. Prefixing a serial with `00` resolves the sign-bit, but it's not the same as encouraging an all-zero serial.

[2021-03-31 20:10] christopher-henderson commented on #582
@sleevi Specifically because one uses `positive` and the other uses `non-negative`, for which the latter does include zero.

Although I would say that my take would be more convincing if instead the Appendix said

That is, I would accept that the Appendix is just giving a hot tip that the leading ASN,1 encoding has to be zero and to be careful that your number (say, `0011`) does not get encoded wi

[2021-03-31 20:12] sleevi commented on #582
Ah, yeah, gotcha. As the thread @CBonnell linked to covered, the reading of Appendix B is "negative or not-negative", since it's talking about sign-bit, while the reading of 4.1.2.2 is "positive or not-positive. But also, not zero".

But yeah, a sole `00` is nonsense.

[2021-03-31 20:14] christopher-henderson commented on #582
:man_shrugging: I scanned the conversation, but apparently did so too fast and missed that resolution. Thank you!

[2021-04-01 14:53] #582 closed

[2021-04-04 17:08] christopher-henderson commented on #583
First of all, this [tabular format](https://github.com/sleevi/cabforum-docs/blob/b0e0dd1699682b5e5cf9a166d00b1cd1f919f942/docs/BR.md#71211-root-ca-extensions) is _very_ helpful from a legibility perspective. It seems like so much time is spent converting prosaic English into lints that a format that is darned near machine readable is appreciated. So a huge thanks for that :smile:

This is certainl

[2021-04-04 17:45] sleevi commented on #583
@christopher-henderson Kind of! One of the things I was worried about is that in the approach taken by the certificate profiles work, one of the goals I had was trying to align of "Every cert issued must meet at least ONE of the following profiles". I _think_ ETSI shares some similarity with that (admittedly, it's a _must_ larger set of profiles, some CA-defined), although I think #522 was a bit d

[2021-04-04 18:01] christopher-henderson commented on #583
So we do have a way to accomplish this, but from a CLI approach that would be painful for an individual operator to type out if these profiles are even modestly rich.

From the README

[code]

Which, of course, there would be nothing stopping people from writing bash scripts with the appropriate `-includeNames` here to encapsulate a particular profile. Alternatively, we could maintain a list of kn

[2021-04-04 18:09] sleevi commented on #583
Right, my concern (with the existing approach and the context) is that it would significantly make it more difficult for CAs to get things right, as they have to re-derive from the BRs all the lints to enable for a given profile, and it means introducing new lints for those profiles wouldn’t get enabled.

I see it as a spectrum of flexibility vs complexity, for both this project and the CA: how mu

[2021-04-06 14:51] sleevi opened #585 "rfc/lint_subject_given_name_max_length / rfc/lint_subject_surname_max_length use the incorrect upper bound"
Originally noted by @dzacharo in https://github.com/sleevi/cabforum-docs/pull/36#discussion_r607699868

## Current Behavior

`rfc/lint_subject_given_name_max_length` errors if more than 16 characters present
`rfc/lint_subject_surname_max_length` errors if more than 40 characters present

## Expected Behavior

`rfc/lint_subject_given_name_max_length` and `rfc/lint_subject_surname_max_length` should

[2021-04-09 20:11] CBonnell commented on #585
After discussing this further (see https://github.com/sleevi/cabforum-docs/pull/36#discussion_r608199222), it was determined that a 64-character limit for `givenName` and `surname` is the path forward.

[2021-04-10 15:21] christopher-henderson commented on #585
Thanks folks!

If I'm understanding this conversation right, the decision for a 64 character length is hinged on the idea that the 32k value from 5280 is informative and that the 64 value from the ITU is normative, thus overriding 5280s informative 32k?

@CBonnell @sleevi did I read that right (just want to make sure that any code changes that I make I actually understand :stuck_out_tongue: )?

[2021-04-10 15:28] sleevi commented on #585
@christopher-henderson Close! 5280 is normative at 32K. In parallel, X.509 was originally normative at 64, then informative at 32K. So the CABF side settled on the smallest normative value, even though the requirements didn’t chronologically overlap, as a way of minimizing compat risks.

[2021-04-10 15:39] christopher-henderson commented on #585
Thank you @sleevi !

hmmm then perhaps the `rfc_lint` should check for 32k and there should be a new `cabfbr_lint` added that checks 64? For citation/effective date purposes, is it in the BR?

[2021-04-10 15:58] sleevi commented on #585
@christopher-henderson No. I would still think we want a warning for >64, since that dates to X.509/88, which probably means fixing this and adding a new lint for the new level. Alternatively, deferring fixing this lint until it’s in the BRs is an alternative 😅😇

[2021-04-10 16:14] christopher-henderson commented on #585
@sleevi  Hmmm then how about in the RFC lint we have today we...

[code]
And then once it's in BRs we can add that lint as a straight forward `must be <= 64` under the right category.

[2021-04-22 17:33] sandorszoke opened #591 "BUG: lint "e_ext_san_rfc822_name_present" should only be applied to SSL/TLS subscriber certificates"
#### Certificate with potential issue

As part of a wider test we checked all of our CA certificates by Zlint ver.3.1.0 and we could identify a potential issue with the following certificate:

- e-Szigno SSL CA 2014
- https://crt.sh/?id=4569808

#### The summarized result of the zlint test

[code]

#### The scope of lint "e_ext_san_rfc822_name_present"

We checked the scope of the lint "e_ext_san_

[2021-04-22 17:50] sleevi commented on #591
So, for the context of the current requirements, it does sound like your description is correct, and this lint should only apply to end-entity certificates.

However, in the context of ongoing requirements, the intent of the certificate profiles work going on in the validation subcommittee is to make clear this is forbidden for CA certificates, because it's very much problematic.

[2021-04-23 15:41] sandorszoke commented on #591
Our CA certificates have never included dnsname or ipaddress values in the SAN extension, but due to a local requirement, we had to enter the CA contact email address in the CA certificates. It was included in both the SN and the SAN.

Our CA certificates issued after 2014 do not include email address in either the SN field or the SAN extension.

[2021-04-24 18:18] #585 closed

[2021-04-25 19:37] christopher-henderson commented on #583
@sleevi so it seems that we have two enhancements here and I'm fishing for whether or not they need to be tackled together in order to make sense at all or if they can be landed one at a time (and perhaps timelines so that we try to head the industry off at the pass).

1. Context declarations for information that either spans multiple certificates or is not encoded within certificates at all, and

[2021-04-25 19:44] sleevi commented on #583
At any given time, it’s always a minimum of six weeks away (1 for
discussion, 1 for voting, 4 for IP review if successful).

However, most salient to this issue is trying to suss out of there are
structural or architectural issues in the design or approach that would
make linting easier or harder, and those ideally get surfaced before voting
starts, since changes can still be made.

My hope is to

[2021-04-25 19:44] christopher-henderson commented on #591
@sleevi when do you think that those ongoing requirements will make it through to publishing? If it's awhile off (I dunno, six months or more...?) then I would be amenable to "fixing" this and then sunsetting it when the new requirements are published.

It's sort of a letter-of-the-law versus the spirit-of-the-law type situation. The current wording appears to allow it (letter-of-the-law) but it s

[2021-04-25 19:46] sleevi commented on #591
https://github.com/zmap/zlint/issues/583#issuecomment-826379236 covers the
timing.

[2021-04-25 19:46] christopher-henderson opened #592 "Support for lints with extended contexts"

[2021-04-25 19:50] christopher-henderson commented on #581
@sleevi @cpu @zakird

Digicert is showing interest in maintaining ETSI support, however they recognize that ZLint is sort of a lame duck in this regard.

I am thinking of moving forward with #592 which seems like it will be necessary for upcoming BRs regardless. Perhaps when we have such an infrastructure in place we can revisit whether or not the extant ETSI lints can be updated to be accurate of

[2021-04-30 16:31] sandorszoke opened #593 "ISSUE: lint "e_key_usage_and_extended_key_usage_inconsistent" in technically constrained CA certificates"
### Short Summary

As part of a wider test we checked all of our CA certificates by Zlint ver.3.0.0 (?) and we could identify a potential issue with different types of technically constrained CA certificates.

### Some of the certificates with this potential issue

| CA Type               | Common Name                         | crt.sh link                   |
|:----------------------|:------------

[2021-04-30 17:09] sandorszoke commented on #593
We do not have any experience with the ZLint source code, so our primary goal was to raise this issue to the community.

[2021-05-01 16:42] christopher-henderson opened #594 "Support for linting profiles"
Conversations in #583 led us down the path of the concept of a `profile` in ZLint.

A profile is a named grouping of lints that, taken together, refer to a published source that enumerates and names requirements into one, larger, requirement.

A profile _must_ come from a publicly published source and _should_ have a citation explaining why these requirements are grouped together.

#### Why not ju

[2021-05-10 14:49] mimi89999 opened #597 "FR: Check stateOrProvinceName against ISO 3166-2"
There have been many cases of misissuance with an invalid `stateOrProvinceName`. Having a lint warning for that would help detect them.

[2021-05-10 14:59] zakird commented on #597
Can you suggest something specific here that you think we're missing? What statements in BRs, RFCs, or root programs are not being checked today? As stated, I think that this issue is too broad to be readily addressable (or for us to even know if there is something to fix in ZLint).

[2021-05-10 15:17] sleevi commented on #597
This is not explicitly a requirement of the BRs. I think this is WontFix for now, or at best a request for a `WARNING` Level notice?

The context here is the issue around `country` explicitly being ISO 3166-1 two letter code, and a desire that `stateOrProvince` be interpreted as ISO 3166-2 subdivision. This has been discussed in the Forum before, but the BRs presently offer CAs some flexibility an

[2021-05-10 15:18] sleevi commented on #597
The requirement, FWIW, is 7.1.4.2.2(e) of the current requirements.

[2021-05-10 18:42] cardonator commented on #597
What data source would be used to compare this information to?

[2021-05-10 19:31] mimi89999 commented on #597
They are on Wikipedia and in the ISO norm. That norm is not free, but they kindly provide sources like in https://www.iso.org/obp/ui/#iso:code:3166:PL, so _List source_, so it could be rebuilt from source.

[2021-05-10 21:48] cpu commented on #594
@christopher-henderson Can you write something in the issue body? I appreciate the desire to link PRs to issues but if the issues are blank it's maybe a net neutral act :-)

[2021-05-10 21:52] cpu commented on #593
Hi @sandorszoke, thanks for filing this issue (and testing ZLint releases).

Is the question mark here because you're not sure if it was 3.0.0 or 3.1.0 you tested?

This sounds good to me but I think will necessitate splitting the lint. Guidance on [adding new lints](https://github.com/zmap/zlint/blob/master/CONTRIBUTING.md#adding-new-lints) documents a desire to keep each lint to a single result

[2021-05-10 21:52] cpu commented on #593
Hi @sandorszoke, thanks for filing this issue (and testing ZLint releases).

Is the question mark here because you're not sure if it was 3.0.0 or 3.1.0 you tested?

This sounds good to me but I think will necessitate splitting the lint. Guidance on [adding new lints](https://github.com/zmap/zlint/blob/master/CONTRIBUTING.md#adding-new-lints) documents a desire to keep each lint to a single result

[2021-05-11 19:34] vanbroup commented on #597
The [PKI Consortium](https://pkic.org) would like to bring the following lint to your attention:

https://github.com/pkic/zlint/blob/state-province/v3/lints/community/lint_subject_dn_state_unknown.go

The initial goal of the lint is to identify incorrect values by combining multiple authoritative data sources. Currently the data is obtained directly from the European Union and combined with data f

[2021-05-11 19:43] mimi89999 commented on #597
Why do all provinces have `province` appended to the province name like in https://github.com/pkic/regions/blob/main/data/pl.yaml? Most certificates I saw didn't have `province` in the province name.

[2021-05-11 19:53] vanbroup commented on #597
When you look at the data you can see the following:

[code]

The codes on the first lines map back to the source of the information.

As you can see in the authoritative data source (http://eurovoc.europa.eu/7971) these values are reported as such by the local governments. We retain the original value under `sources`, but you can also see that we normalized the value and removed the `province` su

[2021-05-11 19:58] mimi89999 commented on #597
The data is not even consistent. Some entries have `value` with `województwo`, others don't have it:
[code]

[2021-05-11 20:04] cpu commented on #597
I think the last few comments are probably better captured as issues/discussion on the https://github.com/pkic/regions/ repository instead of here. Thanks!

[2021-05-12 01:22] cpu commented on #593
@sandorszoke While looking into this I realized you can run `zlint -h` on a release binary and it includes the version information. (_For 3.1.0 in particular it shows v3.1.0-rc1 because of a hiccup in the release process for that release._):
[code]

Clearly that's too subtle (I forgot it was even implemented!) so https://github.com/zmap/zlint/pull/598 adds an explicit `-version` flag.

[2021-05-12 12:43] #519 closed

[2021-05-12 12:45] cpu commented on #519
There's a new `-version` flag for both `zlint` and `zlint-gtld-update` as of c47eab4 that will appear in the next release.

In the meantime I noticed that the `--help` output from existing release binaries includes the release version. You can use that as a work-around for previous releases (I tested with both 3.0.0 and 3.1.0 but I believe this was implemented from the start of publishing binaries

[2021-05-14 10:27] mimi89999 opened #601 "e_subject_common_name_not_from_san when commonName is U-label"
From the discussion in https://archive.cabforum.org/pipermail/public/2017-July/011775.html I understand that U-labels are allowed in CN. However, when CN is a U-label, zlint shows errors and that seems wrong.

Example certificate: https://crt.sh/?id=4512264235&opt=zlint

[2021-05-14 10:49] robstradling commented on #601
Ballot 202 failed (see https://cabforum.org/2017/07/26/ballot-202-underscore-wildcard-characters/), and AFAIK no revised ballot has yet been proposed.

The BRs currently specify the following requirement for the subject:commonName field in leaf certificates:
_"If present, this field MUST contain a single IP address or Fully‐Qualified Domain Name that is one of the values contained in the Certifica

[2021-05-14 10:58] mimi89999 commented on #601
So that would mean that the certificate was misissued?

[2021-05-14 11:52] cpu commented on #601
Yes, I agree with @robstradling's assessment, this seems like a valid linter error.

[2021-05-14 16:41] sandorszoke opened #602 "ISSUE: Time Stamping certificates with false warning results"
#### Certificates with potential issues

As part of a wider test, we checked several of our Time Stamping certificates with Zlint ver.3.1.0 and we could identify two potential issues with the following certificates:

| CERTIFICATE FILE NAME                               | crt.sh link (if included)     | KEY TYPE | QCSTATEMENTS                    |
|-------------------------------------------------

[2021-05-14 19:22] FozzieHi commented on #597
I think a basic warning level lint for a country name appearing in the `stateOrProvinceName` field is a good starting point here. I don't think, at this stage, that it's feasible to implement a full on regional check for the ST field and it's best left up for the individual CAs to build their own list of acceptable ST values, especially as there is a lot of flexibility in the BRs for this.

A warn

[2021-05-14 19:45] robstradling commented on #597
@FozzieHi For a "warning level lint for a country name appearing in the stateOrProvinceName field", how would you handle name collisions?  For example, "Georgia" is both a State in the U.S. and a Country in Europe.

[2021-05-14 19:50] FozzieHi commented on #597
@robstradling The simple way would be to tie the country name in the ST field to the `countryName` field in the certificate. So it would only warn if "Georgia" was in the `stateOrProvinceName` field and GE was in the `countryName` field. I haven't seen many (if any) certificates where there is a country name is in the ST field which is different to the country in the countryName field.

[2021-05-14 21:05] cpu commented on #602
@sandorszoke Thank you for the detailed description! :bow: Minor note: In the future I think we would prefer if you can keep to one problem per issue instead of describing two problems in one. It makes the follow-up discussion easier :-)

### Problem 1

`w_qcstatem_qctype_web` has been flagged in a few other issues at this point (e.g. https://github.com/zmap/zlint/issues/561, https://github.com/zm

[2021-05-14 21:12] cpu commented on #592
:bow: request for an issue description. I can infer from the link to #581 and the title but it would be better for everyone if we can capture more context here.

[2021-05-14 21:15] cpu commented on #517
:bow: request for an issue description.

[2021-05-14 21:28] zakird commented on #602
You could also exclude lints from specific sources (e.g., Apple Root Store Program and Baseline requirements). This is likely easier than trying to exclude specific named lints.

[2021-05-15 18:09] christopher-henderson commented on #594
Sorry @cpu in my rush last weekend I neglected to fill this ticket out with anything meaningufl :pray:

[2021-05-15 18:32] christopher-henderson commented on #602
@cpu with regard to #595 I am also cooking up some code that should allow for lints to accept arbitrary contexts that contain information that is out-of-band of the certificate itself

[code]

[code]

Of course there are details to hammer out (not the least of which are global configurables that are easy to maintain without being dynamic and complications arising from runs of ZLint having global s

[2021-05-18 01:44] cpu opened #605 "Cut v3.2.0 release candidate"
It's been a little while since we've had a release and we intend to make some breaking changes soon to remove ETSI lints.

Scanning the [diff between v3.1.0 and master](https://github.com/zmap/zlint/compare/v3.1.0...master) I think the changes justify a `minor` release. I don't see anything that merits a `major` release bump. Here''s my quick summary:

* zcrypto updates (`ea3fdbd5ea2`)
* gtld upda

[2021-05-20 12:15] sandorszoke commented on #593
@cpu Thank you for this useful information.
zlint -h really gives the zlint version in the first output line, so the installed version can be verified before running the tests.

-version flag will be also useful to include the version information into each test result.

[2021-05-20 12:47] sandorszoke commented on #602
@cpu OK, next time I will open separate issues for each infected lint.

@zakird You are right, this is probably the best solution. We can omit the entire source by using -excludeSources  instead of dealing with the individual lints separately.

[2021-05-20 21:37] cpu commented on #601
I'm following [the MDSP discussion](https://groups.google.com/a/mozilla.org/g/dev-security-policy/c/TMqAcMJh45U) on this subject and considering the issue blocked on spec for now.

[2021-05-20 21:38] cpu commented on #605
Things that might be nice to try and have addressed for this release:
* #593 (needs an existing lint tweaked slightly and a new lint split off)
* #601 (blocked on MDSP discussion)

[2021-05-20 21:40] cpu commented on #605
We'll save linting profiles (in review) + removing ETSI lints for a near-future v4.0.0.

[2021-05-22 18:57] christopher-henderson commented on #605
Cut the RC to https://github.com/zmap/zlint/releases/tag/v3.2.0-rc1 and shot out the call for testing.

[2021-05-30 19:05] christopher-henderson opened #606 "Swap out the Initialize method for proper constructors"
The `LintInterface` requires the method [`Initialize`](https://github.com/zmap/zlint/blob/7e75dc35e04f682f0d0eb3de6d4af49ccd5db5af/v3/lint/base.go#L27). It seems very reasonable to allow for struct initialization, however the `Initialize` method runs into several issues:

1. This is really just a constructor, and it's a bit awkward to have the constructor be called into post allocation in such a w

[2021-06-03 19:53] aarongable commented on #605
LE/ISRG has tested and everything seems good on our end: https://github.com/letsencrypt/boulder/pull/5442

[2021-06-05 19:04] christopher-henderson commented on #605
Thank you @aarongable!

Seemed reasonably move forward and cut [v3.2.0](https://github.com/zmap/zlint/releases/tag/v3.2.0).

[2021-06-05 19:04] #605 closed

[2021-06-05 19:12] cpu commented on #605
Thanks @christopher-henderson !

[2021-06-09 06:08] aarongable opened #608 "Computation of validity period is incorrect"
RFC 5280, Section 4.1.2.5, [says](https://datatracker.ietf.org/doc/html/rfc5280#section-4.1.2.5):

This means that a certificate with a notBefore timestamp of 2021-01-01 01:01:01 GMT and a notAfter timestamp of 2021-01-01 02:01:01 GMT actually has a "validity period" of 1 hour and one second.

The Baseline Requirements, Section 6.3.2, [say](https://cabforum.org/wp-content/uploads/CA-Browser-Forum-

[2021-06-09 06:10] aarongable commented on #608
(FYI, I'm happy to tackle fixing this, just wanted to get all the details down in a bug before opening PRs.)

[2021-06-09 09:44] mtgag commented on #411
Revisiting these issues.

A check on #399 can be set because this is already implemented in lint_ev_organization_id_missing.go.

#400 pull request is also updated.

[2021-06-10 00:02] sleevi commented on #608
@aarongable I believe this is similar to the Chrome issue you filed, namely https://bugs.chromium.org/p/chromium/issues/detail?id=1217920

The context being that there were existing lints that used the old BR definitions. The new lints that were added for 398 day certs - also part of SC31 - use the definition [that accompanied that ballot](https://github.com/zmap/zlint/blob/d5ab97e9ca1cef2c7b59467

[2021-06-18 15:14] orangepizza opened #612 "move lint mp_allowed_eku to cabf_br folder"
as ballet SC31 merged this requirement into CA/B BR as 7.1.2.2, it's be better move this lint there too.
https://github.com/cabforum/servercert/commit/6b870f92d4788a52c2bbc9d96a1db17751e906b1
, from BR line 1619

[2021-06-18 16:18] sleevi commented on #612
Thanks for reporting this!

Closing, as #539 tracks this work :)

[2021-06-18 16:18] #612 closed

[2021-06-26 19:08] christopher-henderson opened #615 "Disallow duplicate entries in the test corpus config"
Since the file gets parsed into a hashmap the later entry will override the former, which can be surprising. Additionally, it is extremely surprising to think that you have completely deleted an entry and yet certain conditions are still being asserted. See #613 for an example of a morning wasted trying to figure this out.

[2021-06-30 09:49] defacto64 opened #617 "Clarify installation instructions in README w.r.t. release binaries + building from source."
Zlint built on CentOS and Ubuntu (and presumably other related OSes) shows a wrong version number:

`# /root/go/bin/zlint -version`
`ZLint version dev-unknown`

[2021-06-30 11:55] cpu commented on #617
@defacto64 Can you share how you're building?

[2021-06-30 12:53] defacto64 commented on #617
We observe this both by just doing "go get github.com/zmap/zlint/v3/cmd/zlint" and launching the resulting binary we find under $GOPATH/bin, and by doing "go build" from the v3 sources folder, then "go install" ....

[2021-06-30 14:45] cpu commented on #617
@defacto64 The version is only injected into the built binary when you provide the correct ` --ldflags` flag to `go build`:
https://github.com/zmap/zlint/blob/48b300e877f2ed3e6b7e75426a273f84455f17a6/v3/makefile#L17 I recommend that if you want to install ZLint from source you use `make zlint` from the `v3` directory.

Alternatively, download and use one of the [release binaries](https://github.co

[2021-06-30 14:58] cpu commented on #617
I think the README could use a touchup on this subject. I will take a crack at that shortly.

[2021-07-05 12:53] defacto64 commented on #617
Thank you "cpu", the version issue is solved.

[2021-07-16 16:27] robplee opened #620 "Test certificate generator doesn't create a certificate chain"
In #569, @christopher-henderson added a helpful tool for generating certificates and chains.  However, it currently contains a bug in that the certificate chain produced is a chain in name only and not cryptographically as all the certs are self-signed.

This means that the script always has to be hacked a bit to generate certificates which don't return true on util.SelfSigned(), this came up in t

[2021-07-16 16:38] christopher-henderson commented on #620
@robplee I'll look at. It _should_ be generating a self signed trust anchor and then chaining that down appropriately. But it could have a bug in it, yeah.

[2021-07-16 16:44] robplee commented on #620
So, the previous cert is passed in as the parent certificate to the call to CreateCertificate but then the private key used in the call to CreateCertificate is that of the key pair generated in the function and it's that key, priv, which is used to sign according to https://pkg.go.dev/crypto/x509#CreateCertificate

[2021-07-16 21:43] christopher-henderson commented on #620
Argggh good catch @robplee. I'll fix it up this weekend :metal:

![image](https://user-images.githubusercontent.com/8518514/126011268-2e87efab-9be0-4d43-8f41-dae1b1c39a6d.png)

[2021-07-24 18:20] #620 closed

[2021-07-24 18:33] #615 closed

[2021-07-26 09:03] aldelsa opened #623 "can Zlint recognize several profiles of certificate?"
Hi,
We are trying to use zlint validator in our CA with EJBCA. In this CA we have several certificate profiles for example Signature Certification. When we are trying to test this type of certificate we have error from TLS-Server certificate. Our question is the next,
can Zlint recognize several profiles of certificate? or Zlint check all the lint that it has regardless of the profile.

I show bel

[2021-07-26 15:03] zakird commented on #623
I don't think that I understand your question. To clarify though, the command you're running will run all lints unless you exclude some on the command line.

[2021-07-26 15:38] sleevi commented on #623
I’m closing this as a dupe of https://github.com/zmap/zlint/issues/594

As @zakird mentions, currently with ZLint, if you are only wanting a subset of lints to be run, you can specify these with command-line parameters. For EJBCA, you can run with different parameters per intermediate, so you can enable and disable lints as needed. However, you should only consider doing this if your intermediates

[2021-07-26 15:38] #623 closed

[2021-07-31 17:09] christopher-henderson opened #624 "RFC for Configurable Lints"
# Purpose

Today, the only facts that are provided to ZLint are those that are present within the target x509 certificate. That is to say, the only input to the linter is the certificate itself. This works fairly well, in general, due to the fact that most requirements refer to data encoded within the certificate itself.

This is not, however, universally true. A lint may require access to the ful

[2021-08-06 13:47] sleevi commented on #624
Just ACKing that I have seen it, I feel bad for not having meaningfully commented yet, and that I'm still noodling this (in part, to think of counterfactuals or edge cases to sort through)

[2021-08-12 08:47] robplee opened #625 "e_subject_common_name_not_from_san is no longer sufficient for enforcing CABF BRs"
As of the 21st August 2021, the e_subject_common_name_not_from_san lint is not strict enough according to the update that'll be merged into the BRs on that date (I'm not 100% sure how the CABF works yet so my use of terms may be wrong, sorry!).  The new text makes it clear that if the common name contains either a wildcard domain name or FQDN then it must appear _exactly_ in the SAN dNSNames field

[2021-08-13 00:27] cardonator opened #626 "zlint 3.2.0 can't compile as a library"
Hi all, I noticed when attempting to upgrade our internal zlint wrapper to zlint 3.2.0 that zlint is no longer able to compile with the following errors.
[code]
I checked out a later release of zlint and it works so I'm guessing these issues were fixed in a commit back in June. Can we cut a new minor/patch release or something in order to get this working again?

[2021-08-13 08:58] robplee commented on #626
Hi @cardonator, my initial thought it that you haven't mentioned which version of golang you're using.  zlint 3.2.0 included a requirement to update your go version from 1.15.x to 1.16.y (can't remember the exact numbers for x and y) so might you be running a version of go too old for zlint 3.2.0?

I've tried and succeeded to import zlint 3.2.0 into a project so I am very much expecting this to be

[2021-08-13 14:24] cardonator commented on #626
Thanks, Rob. I am using Go 1.16.6 and observed the same behavior from a local Go instance (in Linux) versus an Alpine Go docker image on 1.16.6 as well. I haven't tried to test if it has something to do with my wrapper or the wrapper pulling in its own zcrypto dependency, but the errors show up on 3.2.0 and don't appear after the commits on June 20th.

[2021-08-15 17:24] christopher-henderson commented on #624
It's good @sleevi, there's a fair amount here. And regardless I wanted to figure out that the "higher scoped configurations" problem was at least technically feasible without being _too_ filthy with reflection. I think I have some reasonable enough code local that I'm comfortable pitching the idea as something that can actually be delivered reasonably well.

[2021-08-21 19:24] christopher-henderson commented on #624
Howdy folks @sleevi @cpu @robplee @zakird. I've reached a point where I have enough of a complete working example on my local of the above proposal that I am comfortable in taking the `[WIP]` tag away and discussing concrete details and alternatives.

My goal is for this to be a non-breaking change, however it is a _large_ change with user impact for both consumers of the CLI tool as well as lint

[2021-08-23 18:06] sleevi commented on #624
@christopher-henderson Thanks for the long - and detailed - comment on the design!

I'll be honest, I'm not too familiar with the Go idioms to be able to usefully comment on the implementation strategy, so this may feel a bit of 'high level' feedback without much concrete actionable, directed change. I definitely think getting feedback from CAs is useful, and I think the most useful feedback from

[2021-08-23 19:54] CBonnell opened #628 "Emit an error for DV certificates with an OU attribute"
SC47 (https://github.com/cabforum/servercert/pull/290/files#diff-e0ac1bd190515a4f2ec09139d395ef6a8c7e9e5b612957c1f5a2dea80c6a6cfeR2111) specifies that effective immediately upon completion of the IPR period, the OU attribute is prohibited if the `organizationName` attribute is absent. This bans OU for DV as well as OU for IV where `givenName` and `surname` is specified but `organizationName` is no

[2021-08-28 20:07] christopher-henderson commented on #624
Thank you @sleevi! The `Explainers`...explanation...seems like it'll be useful, even in general. As in, it's just a good way to speak with other people.

It sounds like you are referring to semantic validation, right? As in, `yeah, you gave me a file path, but I'm telling you it's just not there`? In that case, I reckon that if the lint in question has taken on the burden of opening files (which,

[2021-08-28 20:42] sleevi commented on #624
Yes. Just trying to think of the ergonomics for how misconfiguration is
signaled, and minimizing the risk of “fail open” implementation errors. I
suppose dozens of lints failing is a useful signal.

func (l *MyLint) Execute(cert *x509.Certificate) {

that checks that. Not saying I’m opposed, just making sure to discuss the
design and make sure we’re not overlooking anything.

Is this the right way

[2021-08-28 20:57] christopher-henderson commented on #624
two main use cases for linting are CAs doing pre-issuance lints and
observers doing post-issuance lints.

Well perhaps change the word `cache` to `class` and that might help. As in, `this is the configuration we use for all new issuances of <some category>`.

You are absolutely right in that duplicate keys/sections become very difficult to reason with regard to which one would take affect. If **_I

[2021-08-29 23:09] dadrian commented on #626
Can you post you `go.sum`? I suspect this is because ZCrypto doesn't have releases, and version 3.2.0 of ZLint is not prepared for commit https://github.com/zmap/zcrypto/commit/12fab66869644acf821e0fd110cdfa40def19fa3 in ZCrypto, which changes the type signature of many functions. When fetching clean with no pins of ZCrypto, Go will fetch the latest version of ZCrypto that is not a major rev as co

[2021-08-30 18:43] cardonator commented on #626
I suspect you're exactly right that that is the issue. The version of zcrypto I'm pinning in my go.mod is `github.com/zmap/zcrypto v0.0.0-20210811211718-6f9bc4aff20f`. I'm not sure how to work with this version format, how do I switch to the commit immediately before the one you mentioned?

If that solves the issue I think it's fine, but it might be worth noting that in the release notes on this p

[2021-08-30 20:59] cardonator commented on #626
After looking into this a bit more, there is a type issue in zlint that's to blame for this. There are some lints in zlint that use the encoding/asn1 type where zcrypto/x509 is expected. In the commit I mentioned above in zlint, the offending lints were all switched to use zcrypto/x509 instead, which fixes the issue. In order to solve this issue or upgrade to a 3.2.0 release or newer we would have

[2021-08-31 18:13] dadrian commented on #626
I think the easiest thing to do would be to cut a 3.2.1 from HEAD on both projects. I don't know our process for doing so, maybe @christopher-henderson can help us out.

[2021-09-05 17:02] #606 closed

[2021-09-06 17:13] christopher-henderson opened #630 "Cut 3.3.0 Release Candidate"
We have the following changelog since May. Most notably #629 fixed #626 which is a blocker for anyone attempting to use ZLint as a library, so I reckon that's a good point to cut a new release.

1b89405 bump zcrypto to v0.0.0-20210811211718-6f9bc4aff20f (#629)
9da3c9f disallow duplicate entries in config.json (#616)
4940d55 Test certificate generator doesn't create a certificate chain (#622)
e2742

[2021-09-06 17:20] zakird commented on #630
Makes sense to me. Are #627, #619, #609 apt to close here soon such that we could include them? They don't seem large in scope, but there's been a lot of discussion going on.

[2021-09-06 17:44] christopher-henderson commented on #626
A fix for this is included in the [v3.3.0 Release Candidate](https://github.com/zmap/zlint/releases/tag/v3.3.0-rc1).

[2021-09-06 17:44] #626 closed

[2021-09-06 18:00] christopher-henderson commented on #630
I went ahead and cut the RC1 because the library compilation issue was enough of a blocker for those consumers that I felt that getting out there was a good idea. I'll have to revisit those three, but if I recall correctly they're in the "it's complicated" limbo of upstream policy decisions.

[2021-09-06 18:03] christopher-henderson commented on #630
#619 at the least is largely dependent upon #624 in order for the lint to be deterministic.

[2021-09-07 08:12] robplee commented on #625
Closing this now following the merging of #627 which enforces the newly refined text in CABF BRs v1.8.0

[2021-09-07 08:12] #625 closed

[2021-09-08 12:23] CBonnell commented on #601
Now that SC48 has passed and is effective, this can be closed.

[2021-09-24 10:23] babish504 opened #632 "ZLINT for code sign certificates"
I am new to zlint, and want to know if zlint has linting checks for code sign certificates..
If yes, how can i test only code sign certificate lints using zlint.
i used cmd:  **zlint codesign.pem** looks like it is validating all the checks.

[2021-09-24 15:25] christopher-henderson commented on #632
Howdy @babish504!

ZLint is meant for linting certificates used in TLS communications. While I am aware that the CA/B Forum has [baseline requirements for code signing](https://cabforum.org/baseline-requirements-code-signing/) I do not believe I have seen a lint written that cites these documents.

With regard to running only a select number of names lints, please refer to the README's [Command Li

[2021-09-24 17:03] cardonator commented on #632
There are a number of lints that apply to simply producing a valid certificate according to the RFCs which would equally apply to code signing certs. Also, there is no reason there couldn't be a catalogue of code signing lints were someone to create and maintain them but I don't think any exist right now.

[2021-09-24 17:13] christopher-henderson commented on #632
Right, you can pick and choose whatever lints may happen to apply, but as you pointed out we don't have any categories that are _explicitly_ for code signing.

[2021-09-24 17:46] zakird commented on #632
I suspect that most of the lints you want are going to be RFC-based. I would start by running certificate against RFC-based lints and see where that gets you. You can do this on CLI by setting `includeSources= RFC5280,RFC5480, RFC5891`. This might still have _some_ FPs but certainly less than if you're trying to run against CABF and other root store policies.

[2021-09-26 18:04] #538 closed

[2021-09-29 16:37] mimi89999 opened #634 "Wildcard EV certificates"
Hello,

https://cabforum.org/wp-content/uploads/CA-Browser-Forum-EV-Guidelines-1.7.8.pdf#16 states that

However ZLint does not detect this as an issue in EV certificates.

Example: https://crt.sh/?id=5234772527&opt=zlint
[code]

[2021-10-14 14:28] alex opened #639 "Add lint which checks for explicitly encoded critical default values"
From ITU X.690:

[code]

From RFC 5280:

[code]

therefore `critical` should never be encoded with a false value.

Some issuing software does do this though, so a lint to capture it would be valuable.

(My proximate motivation: https://github.com/pyca/cryptography/issues/6368)

[2021-10-14 16:52] mimi89999 opened #640 "SC48v2 non conformance not detected"
Hello,
I tested certificates from https://bugzilla.mozilla.org/show_bug.cgi?id=1735247 in ZLint 3.3.0 and no issues were detected.

[2021-10-14 16:59] sleevi commented on #640
See https://github.com/zmap/zlint/pull/635

[2021-10-17 17:50] #634 closed

[2021-11-07 18:22] christopher-henderson commented on #640
Addressed in #635

[2021-11-07 18:22] #640 closed

[2021-11-21 19:35] christopher-henderson commented on #639
I'm sorry, @alex, but I do not believe that this is quite feasible in our codebase without some interesting gymnastics. The reason is as follows...

Consider the definition of a `pkix.Extension` withing the Go standard library (and `zcyrpto` as well)

[code]

The `Critical` data member here is a `bool` value. In Go, non-pointer values _may not_ be uninitialized. That is, if this field was not foun

[2021-11-21 19:38] alex commented on #639
My suggestion would be to do the `*bool` approach, but in an `Extension` struct that's only used in this lint, and then simply have this lint re-parse data into this structure. That's the least-invasive way I think think to do it.

[2021-11-21 19:46] christopher-henderson commented on #639
Would that not involve yet another fork of `zcrypto`, but private to exactly only this lint?

[code]

That is certainly non-evasive. However, it is taking a thermonuclear device to a worm.

[2021-11-21 19:52] alex commented on #639
I don't think it'd require a full fork, it's really just

[code]

And then an `encoding/asn.Unmarshal`.

[2021-11-21 20:13] christopher-henderson commented on #639
That's actually a good point. I'm not getting any luck with the following definition, however, so I'm gonna debug what I'm doing wrong here (I even left the `Extension` struct the same, but I'm still getting tag mismatch errors).

[code]

[2021-11-21 20:23] christopher-henderson commented on #639
(figured it out, `zcrypto/asn1` vomits on it but the standard library likes it just fine)

[2021-11-21 20:28] christopher-henderson commented on #639
Alas, boo. I don't think the `asn1` library deals with pointers Given [getUniversalType](https://cs.opensource.google/go/go/+/refs/tags/go1.17.3:src/encoding/asn1/common.go;l=158)

[code]

This naturally results in a `asn1: structure error: unknown Go type: *bool` error when attempting our little workaround.

[2022-01-30 20:25] christopher-henderson opened #657 "Add lints checking for underscores in labels pre-and-post CABF 1.6.2"
[Ballot SC12](https://cabforum.org/2018/11/12/ballot-sc-12-sunset-of-underscores-in-dnsnames/) sunsetted the allowability of underscores in DNS names on April 1st, 2019 via CABF 1.6.2.

The language is as follows:

[2022-02-20 17:06] christopher-henderson opened #665 "genTestCerts.go should be more ergonomic when generating data destined for the testdata directory"
* Generating the cert, creating the file by hand, copying the data into the file, and pointing the test to correct file is cumbersome.
* Generating test data for not effective date is painful without access to the util package.
* newLeaf was too far down into the file, leading to excessive scanning up and down.

[2022-03-19 12:10] mimi89999 opened #667 "Zlint incorrectly requires TorServiceDescriptors for onion V3 domains"
Example cert: https://crt.sh/?id=6357116915

ZLint version: 3.3.0

[2022-03-19 15:18] christopher-henderson commented on #667
Howdy @mimi89999

I believe that you are referring to [Ballot SC27v3: Version 3 Onion Certificates](https://cabforum.org/2020/02/20/ballot-sc27v3-version-3-onion-certificates/), correct?

The wording here befuddles me a bit.

...immediately followed by...

In my head, I read this as...

Do you have any insight into this @sleevi?

---

(The lint line in question which is failing this cert) https://

[2022-03-19 17:58] mimi89999 commented on #667
Initially I thought the same and opened https://bugzilla.mozilla.org/show_bug.cgi?id=1759122, but then I realized that the EV guidelines states:
`Appendix F – Issuance of Certificates for .onion Domain Names`

Domain Name provided that issuance complies with the requirements set forth in this
Appendix or Appendix C of the Baseline Requirements.

Since the `APPENDIX B – Issuance of Certificates for

[2022-03-20 18:15] christopher-henderson commented on #667
It is taking every ounce of my willpower to not pun that the requirements themselves are an onion.

Interesting, so it seems to me that the change here would be to add an `IsOnionV2` check to the `CheckApplies` procedure for the above lint (of course, I will have to research how to pick up on that - I'm not too familiar with onion addresses/protocol).

Does that sound right, @mimi89999?

[2022-03-20 19:40] mimi89999 commented on #667
Yes, that seems correct.

That should be easy. https://gitweb.torproject.org/torspec.git/tree/rend-spec-v3.txt#n2160 specifies it. You only need to base32 decode the address and check the last byte.

[2022-03-21 19:25] cardonator opened #668 "Can we cut a new release?"
There have been multiple TLD updates since the last release of zlint. Can we cut a new release to stay up to date with these?

[2022-03-26 14:56] christopher-henderson commented on #668
Ah, sure @cardonator. There were a handful of key features that have been stuck in limbo that I wanted to get in, but the TLDs are good enough to update on.

[2022-03-27 17:06] #667 closed

[2022-03-27 17:41] christopher-henderson commented on #668
Release candidate up at https://github.com/zmap/zlint/releases/tag/v3.3.1-rc1

[2022-03-27 18:36] cpu commented on #668
If TLD updates are the impetus for a release https://github.com/zmap/zcrypto/pull/320 needs to be merged and zlint updated to use it.

[2022-04-02 17:52] christopher-henderson commented on #668
#670 is up which pulls in [zcrypto@599ec18ecbac3129a5ed383d15188060229b500d](https://github.com/zmap/zcrypto/commit/599ec18ecbac3129a5ed383d15188060229b500d) which includes https://github.com/zmap/zcrypto/pull/320

[2022-04-14 15:06] sandorszoke commented on #593
### PKI Consortium supports zlint
PKI Consortium decided to help the improvement of zlint, and as a first step we studied the lint ***e_key_usage_and_extended_key_usage_inconsistent***.
We would like to discuss the requirement, make the necessary changes in the code and reactivate it in zlint.

We checked the RFC requirements for using KU and EKU, and the correspondig zlint issues:

#581 #591 #602

[2022-04-23 14:23] #665 closed

[2022-04-24 19:00] christopher-henderson commented on #668
[v3.3.1](https://github.com/zmap/zlint/releases/tag/v3.3.1) has been release.

[2022-04-24 19:00] #668 closed

[2022-04-26 12:14] vanbroup opened #673 "Add close-primes detection via Fermat's factorization"
zlint is currently missing a close-primes lint, maybe we can repurpose the check from boulder for this?

https://github.com/letsencrypt/boulder/commit/89000bd61cfc6f373cb48b6f046d4fce7df5468e

https://fermatattack.secvuln.info/

cc: @aarongable

[2022-04-27 16:10] aarongable commented on #673
Happy for the boulder implementation to be reused for this, but I don't currently have time to put together the zlint PR myself, sorry!

[2022-04-27 18:41] vanbroup commented on #673
No problem, thanks for letting this code be used. I can work on this in a few weeks (currently on vacation).

[2022-05-06 15:15] sandorszoke commented on #593
Hi @sleevi and @cpu  ,
if you agree with the proposed changes, we plan to submit our first zlint patch to resolve this issue.

[2022-05-08 13:55] christopher-henderson commented on #673
@aarongable @vanbroup the change listed in Boulder is reasonably contained (and commented) so I can take a crack at this. Although, I may enlist Aaron (or at least @ mention them) in the PR for a smoke check

[2022-05-18 10:48] mimi89999 opened #676 "Zlint incorrectly requires TorServiceDescriptors if V3 onion and DNS name"
Zlint incorrectly requires TorServiceDescriptors if a certificate contains a V3 onion name and DNS name. I failed to notice that when reviewing https://github.com/zmap/zlint/pull/669.

A certificate https://crt.sh/?id=6748280018 was issued that contains a V3 onion name and a DNS name, that I believe is valid, but has the `e_ext_tor_service_descriptor_hash_invalid` lint error.

[2022-06-03 07:21] primetomas commented on #593
@sandorszoke I like the thorough listing of consistency checks. Different logic for a field in different types of certificates almost always leads to issues in the field so good linting support for this is important and very helpful.
I'd like to see this in zlint.

[2022-06-05 18:16] #676 closed

[2022-06-08 13:47] dzacharo commented on #291
Updating the issue with the final RFC that clarifies Elliptic Curve Cryptography Subject Public Key Information and Key Usage bits.
- https://datatracker.ietf.org/doc/html/rfc8813

[2022-06-10 22:32] mimi89999 opened #680 "FR: Validate postal code"
Hello,

Recently I found a certificate with an invalid postal code: https://crt.sh/?id=6811189993&opt=zlint

It was found due to the field length exceeding 17 chars. However, if the value in that field was shorter, but still invalid, the certificate would not have been found

I think that Zlint should check if the postal code matches a template/regex for the country. A list of postal code template

[2022-06-21 15:30] zakird commented on #680
Is this formalized in any standard or baseline requirements? We might be able to add a community-based INFO or WARN lint, but I suspect not a hard error without something like that.

[2022-06-21 15:38] christopher-henderson commented on #680
@zakird that's precisely what I was thinking at first. I balk at the idea of maintaining a list of postal codes as I'm not sure if there is any authority on such a list. I might give something naive a shot and see what shows up in the test corpus. If it's an ocean of postal codes that aren't listed in non-authoritative sources (wiki) then I reckon we might not want to enforce what we don't know.

[2022-06-21 16:39] mimi89999 commented on #680
No, but it might be declared in a formal way by the national post of each country.

[2022-06-21 16:41] mimi89999 commented on #680
For Poland, there is the list maintained by Poczta Polska: https://www.poczta-polska.pl/hermes/uploads/2013/11/spispna.pdf

[2022-06-21 17:14] cardonator commented on #680
I agree that this would be extremely rough for a project like zlint to manage. I can see the benefits of doing so (even for CSL information as well), but it's a massive undertaking that there are entire industries built around that doesn't seem to make much sense in this project.

[2022-06-21 22:14] mimi89999 commented on #680
I think that Zlint shouldn't keep entire lists of postal codes for each country, but just templates like `xx-xxx`. This should be easier.

Maybe it would be worth trying the templates from Wikipedia on a large number of certificates downloaded from CT logs.

[2022-06-22 09:39] robplee opened #681 "Add lint to check KU bitstring is correctly formed"
Following on from a recent thread on mozilla.dev.security.policy about a malformed cert in the Mozilla root store with a bad KU bit string.

This is something that other linters (x509lint) catch but that zlint doesn't so we could add a linter to check the encoding of the KU bit string.

Mozilla thread: https://groups.google.com/a/mozilla.org/g/dev-security-policy/c/EKAIB01lvlo

[2022-07-02 14:41] mathewhodson opened #683 "Inconsistency in `IsOnionV2Address` util function"
The [`IsOnionV2Address` function comments](https://github.com/zmap/zlint/blob/d8b86f771ea068173826b2088f0c502c17eaaa8d/v3/util/onion.go#L46) say, "The second-to-the-right most label is a 16 character long, base32." The code actually seems to check the left-most label.

Based on similar [code in `IsOnionV3Address`](https://github.com/zmap/zlint/blob/d8b86f771ea068173826b2088f0c502c17eaaa8d/v3/util/

[2022-07-19 10:08] #681 closed

[2022-07-23 18:55] #624 closed

[2022-07-23 18:57] #592 closed

[2022-08-19 11:07] lechugaletal opened #685 "RFC5280 regarding CRL Distribution Points"
The following section of RFC5280 specifies that certificates issued by a certain CA MUST not include the extension filed "CRL Issuer" for certificate extension "CRL Distribution Points":

[RFC5280 Section 4.2.1.13](https://www.rfc-editor.org/rfc/rfc5280.html#section-4.2.1.13)
_The cRLDistributionPoints extension is a SEQUENCE of DistributionPoint.  A DistributionPoint consists of three fields, eac

[2022-08-19 18:40] CBonnell commented on #685
The BRs in sections 7.1.2.1 (b) and 7.1.2.2 (e) mandate that CA certificates assert the cRLSign KU bit. Given that the bit is asserted, the CA is by definition the CRL issuer for certificates it issues. Thus, it is inappropriate to include the cRLIssuer field in certificates that the CA issues.

Given this, if we are limiting ourselves to a BR lint, then I think this lint would be as simple as fla

[2022-08-31 18:46] aarongable commented on #673
Should this bug be considered fixed/closed, or is there more work to do now that #674 has been merged?

[2022-08-31 18:47] #673 closed

[2022-09-01 15:38] robplee opened #690 "lint e_organizational_unit_name_prohibited CheckApplies may be overly permissive"
Following from the conversation between @defacto64 and myself on #689 it seems like the lint I added in #675 may need some adjustment?

Currently the CheckApplies function returns true meaning the only check to determine if the lint is to be applied is the one in here:

https://github.com/zmap/zlint/blob/44e12c12ca43a4af86f0dc2da4a71493ac9f8345/v3/lint/base.go#L101

Which ensures that the cert bei

[2022-09-04 18:58] christopher-henderson commented on #690
So #167 is the original discussion which ultimately resulted in this precondition being implemented in #171.

I believe the original intent was as follows:

1. Each lint features a `CheckApplies` method whose intent is to simply bail on the lint of the given certificate is not bound to the requirement cited for that lint.
2. The above, however, would have been remarkably noisy in code when whole c

[2022-09-05 14:54] defacto64 commented on #690
In my opinion the lint proposed by @robplee - while certainly useful - requires some more (easy) work, for two reasons (one already discussed here but not fixed yet):

1. does not correctly deal with the case of CA certificates to which the prohibition of the OU does not apply;

1. does not consider the case of certificates issued with OU before Sep  2022.

We must consider that zlint is not only

[2022-09-08 08:18] robplee commented on #690
Ok.  On that note, I'll open a PR today to add the !c.IsCA to the #675 CheckApplies and a unit test to check it's working.

@defacto64, your second point is covered by the effective date of the lint which is set to 1st September so fortunately no changes are needed there (see the test case using certificate ouPresentBeforeSep22.pem)

[2022-09-18 18:08] #690 closed

[2022-09-18 19:09] christopher-henderson opened #692 "Cut v3.4.0"

[2022-10-15 14:34] #692 closed

[2022-11-03 14:15] christopher-henderson opened #696 "test.ReadTestCert breaks for downstream consumers dependent on the previous relative certificate path building behavior"
A change was made in https://github.com/zmap/zlint/commit/e5ee614b989dca0615c7fdb9cb6d621f281c5a20#diff-47c0d21c7e2125d3727429db1028c23a261ce73c25250dc176cb68bf666d7a23L73 wherein the path to find test certificates was changed to be absolute from the root of the repo.

This made it easier to run the tests from any location in the repo, however it broke some downstream consumers who were dependent

[2022-11-03 16:18] #696 closed