[2017-03-12 14:28] zakird opened #12 "rename util.RsaDate2 and util.RsaDate3"
Can we please rename these variables to be a bit more descriptive? I have _no_ idea what they are offhand.

[2017-03-12 23:14] mhyder13 commented on #12
RsaDate2 appears to be the day after 31 Dec 2010 (RsaDate). It looks like it was added as a constant by someone rather than adding 1 day at the place it was needed. RsaDate3 is one day after 31 Dec 2013, it appears to be off by one day for the same reason. Both dates are from the CA/B Baseline Requirements section 6.1.5.

[2017-03-13 00:11] dadrian commented on #12
@mhyder13 Do you have a link to the BR's?

[2017-03-13 14:48] kumarde opened #14 ".onion lint"
The EV Guidelines require certificates issued for .onion include the cabf-TorServiceDescriptor extension, defined in the EV Guidelines, as part of these certificates. This is required by Section 11.7.1 (1) of the EV Guidelines, reading: "For a Certificate issued to a Domain Name with .onion in the right-most label of the Domain Name, the CA SHALL confirm that, as of the date the Certificate was is

[2017-04-14 19:37] kumarde opened #24 "What is a .cer file?"
We need to change all the test certs to be .pem

[2017-04-14 19:42] zhengping12 commented on #24
This is fixed in PR #22

[2017-04-16 16:32] #24 closed

[2017-05-21 19:51] kumarde opened #46 "Need a test for UpdateReport functions"
All new lints should have UpdateReport functions when they're created. We should have a unit test for this.

[2017-05-22 02:20] kumarde opened #50 "Fix the Execute API"
We need to fix the ZLint api to actually use the Execute function properly and not throw errors.

[2017-05-30 15:50] kumarde opened #58 "Creating a new lint is error prone"
The current steps to add a new lint are incredibly tedious. There are too many places where we're storing lint information and all of this should be built in a script.

[2017-05-31 14:24] dadrian opened #60 "Add test to ensure all lints have `UpdateReport` defined"

[2017-05-31 14:26] #60 closed

[2017-05-31 20:06] dadrian opened #65 "meta_lint.py should enforce naming conventions"
Right now, `lints/meta_lint.py` enforces that the Lint Name matches the report field being updated if you `.replace("_", "").lower()`. It should further match that the name of the report field matches the field that would be generated by the protobuf compiler.

[2017-05-31 20:07] dadrian commented on #46
Fixed in #61

[2017-05-31 20:07] #46 closed

[2017-05-31 21:49] dadrian opened #66 "Rename Providence to be Provenance"
Providence is in Rhode Island. They're also what Canada calls states. The correct word is "Provenance".

[2017-05-31 22:06] dadrian opened #67 "meta_lint.py should confirm RegisterLint is called"

[2017-06-12 19:37] dadrian opened #72 "All .pem files should have output from `openssl x509 -text`"
See https://github.com/zmap/zlint/blob/master/testlint/testCerts/rootCAValid.pem for example.

[2017-06-12 19:38] dadrian opened #73 "All lints need tests"
We should have a meta-test, that enforces that any lint file has an associated test file.

[2017-06-12 19:41] dadrian opened #74 "ZLint should be able to output its coverage of the BR's"
ZLint should be able to output what Sections of the BR's it thinks it covers. We should then compare this to the BR's, and ensure that we are covering all rules regarding certificates.

Furthermore, it may make sense to maintain our model of the sections of the BR's, and which are relevant to ZLint, as some sort of declarative structure / code, that can be easily compared to the BR's themselves (e

[2017-06-12 19:42] dadrian opened #75 "All Lint tests need review"
We need to ensure that the current tests actually test what we think they do. This will require manual inspection.

[2017-07-22 14:11] zakird opened #76 "OCSP Protocol Lint"
ERROR: BR certificates must include an HTTP URL of the OCSP responder

[code]

[2017-08-02 14:27] kumarde commented on #76
It looks like this cert does have the OSCP responder in the AIA extension, so ZLint didn't error on it. Is there somewhere else I should be looking?

[2017-08-02 14:30] zakird commented on #76
Is it http though?

On Wed, Aug 2, 2017 at 10:27 AM Deepak Kumar <notifications@github.com>
wrote:

[2017-08-02 14:30] kumarde commented on #76
[code]

[2017-08-02 14:30] kumarde commented on #76
Ah, it's HTTPS.

[2017-08-02 14:31] kumarde commented on #76
Is that an error, then?

[2017-08-02 14:32] zakird commented on #76
Yes that's https

On Wed, Aug 2, 2017 at 10:31 AM Deepak Kumar <notifications@github.com>
wrote:

[2017-08-02 14:39] kumarde commented on #76
Okay, fixed it 👍

[2017-08-11 22:33] #76 closed

[2017-08-20 17:34] #66 closed

[2017-08-20 18:03] #72 closed

[2017-08-20 20:37] kumarde commented on #58
@titanous and I had a conversation about this here: https://github.com/zmap/zlint/pull/85

One solution may be to change the underlying protobuf.

[2017-08-20 23:24] #12 closed

[2017-08-20 23:47] zakird opened #89 "Document creating test certificates"
We need to document the process we're following to create zlint test certificates.

Do we have any scripts that we're using, or if we have a process, what it is.

[2017-08-25 00:00] #58 closed

[2017-08-26 04:10] richsalz opened #123 ""providence" isn't a good term"
And "provenance" isn't that much better. :) Perhaps just the simple "from"?
providence shows up in the json output format.

[2017-08-26 12:47] zakird commented on #123
#124 addresses the incorrect output. I'm personally don't have much opinion on _provenance_ vs _from_. Happy to let others weigh in.

[2017-08-26 13:28] richsalz commented on #123
feel free to close this if you like that fancy, but wrong, word :)

[2017-08-26 13:44] zakird commented on #123
I agree that provenance isn't the right word, so definitely not going to close. :) Not sure if I'm in love with "from". _source_? _origin_?

[2017-08-26 14:25] richsalz commented on #123
Either of those is better than what i suggested, yeah.

[2017-08-29 14:44] kumarde opened #136 "DNSNames should be checked in Name Constraints and Issuer Alternative Name as well"

[2017-08-29 15:11] #50 closed

[2017-08-29 23:04] #75 closed

[2017-08-30 12:26] #74 closed

[2017-08-30 17:53] #89 closed

[2017-08-30 18:45] zakird commented on #123
This is addressed by #145, which renames `Provenance` to `Source`.

[2017-08-30 18:45] #123 closed

[2017-08-31 20:59] #67 closed

[2017-08-31 21:00] dadrian commented on #67
`meta_lint.py` no longer exists.

[2017-08-31 21:00] dadrian commented on #65
We now code gen protobufs based on name of Lint.

[2017-08-31 21:00] #65 closed

[2017-09-01 13:16] titanous opened #155 "PSL-related lints shouldn't fatal when encountering public suffixes"
https://crt.sh/?id=202503674&opt=zlint

[2017-09-01 14:57] robstradling opened #157 "Postal code prohibited check is incorrect"
Some of the "Prohibited" clauses in BR 7.1.4.2.2 are badly written.  For example (emphasis mine):
- subject:localityName is prohibited "if the subject:organizationName field, subject:givenName, **and** subject:surname field are absent".
- subject:stateOrProvinceName is prohibited "if the subject:organizationName field, subject:givenName field, **or** subject:surname field are absent"
- subject:pos

[2017-09-01 15:04] kumarde commented on #157
@robstradling thanks for catching this. When writing these tests I thought it was weird that they used different clauses for each, so I assumed it must have been intentional. I'll fix this.

[2017-09-01 15:31] dadrian commented on #157
Fixed by #158

[2017-09-01 15:31] #157 closed

[2017-09-01 15:32] robstradling commented on #157
Thanks @kumarde and @dadrian.  :-)

[2017-09-01 15:36] kumarde opened #159 "Go can't asn1.Unmarshal some certs"
Example: https://crt.sh/?id=300&opt=zlint,cablint,x509lint

We should investigate after a full cert-daemon run.

[2017-09-04 12:17] robstradling opened #163 "Maximum name attribute lengths are specified in characters, not bytes"
https://crt.sh/?id=202870758&opt=zlint
"ERROR: The commonName field of the subject MUST be less than 64 characters"

This certificate's subject:commonName is much shorter than 64 characters but much longer than 64 bytes, so presumably the code is (incorrectly) counting and comparing against the number of bytes rather than the number of characters.

[2017-09-04 12:25] robstradling commented on #163
Same problem for the subject:organizationName in https://crt.sh/?id=202395492&opt=zlint

[2017-09-04 13:08] kumarde commented on #163
@robstradling thanks, addressed here: https://github.com/zmap/zlint/pull/164

[2017-09-05 00:14] alex opened #165 "Use a distinct error message for certs with bad DNSNames due to leading ?."
These are found in Symantec's pre-certificates. These should use a distinct error message from other dnsname errors to make them easier to filter.

[2017-09-05 09:18] robstradling opened #166 "Correctly deal with IV Subject names"
https://crt.sh/?id=204117585&opt=zlint
"ERROR: The postal code MUST NOT be included without an organization name
 ERROR: The 'Street Address' field MUST NOT be included without an organization name"

As described in issue #157, some of the "Prohibited" clauses in BR 7.1.4.2.2 are badly written, but looking at the "Optional" clauses helps to determine the intent.

Subject:postalCode is (emphasis mi

[2017-09-05 09:59] robstradling opened #167 "Decide how to handle non-server certificates"
Consider the following example certs:
https://crt.sh/?id=204352566&opt=zlint (a Client Authentication certificate)
https://crt.sh/?id=201186679&opt=zlint (an OCSP Signing certificate)
https://crt.sh/?id=122792187&opt=zlint (a Code Signing certificate)
https://crt.sh/?id=158872566&opt=zlint (an EV Code Signing certificate)

Currently ZLint "checks for consistency with RFC 5280 and the CA/Browser Fo

[2017-09-05 12:35] zakird commented on #167
I think it makes sense to update ZLint to detect certificate scope and to execute the correct certificates. I think there are likely two parts of this:

(1) Deciding what logic we want to use to determine whether a certificate falls under CA/B purview.

(2) Marking lints with their scope.

It sounds like there isn't a clear definition for (1). @pzb had suggested limiting scope to certificates with

[2017-09-05 13:24] robstradling commented on #167
Where "All auth" means that the EKU extension is either: (1) absent; or (2) present and contains anyExtendedKeyUsage?  SGTM.

[2017-09-05 13:26] zakird commented on #167
@robstradling yep

[2017-09-05 13:54] kumarde commented on #166
Ah, good catch @robstradling. I think this was implemented from an earlier version of the BRs where the text read: "Prohibited if the subject:organizationName field is absent."

The new versions, w/ givenName and surname checking are more up to date, so I'll remove any instances of these old ones in the codebase.

[2017-09-05 14:10] zakird commented on #167
Notes:
(1) add programmatic source field. Three options to start: (1) BR, (2) RFC5280, (3) ZLint

[2017-09-05 15:47] kumarde commented on #166
Merged.

[2017-09-05 15:47] #166 closed

[2017-09-06 09:01] robstradling commented on #166
@kumarde Thanks, that's removed the false positives.  However...

I'm curious as to why you've removed the following good lints:
  "The organization name field MUST not be included without a country name"
  "If organization is included in a subscriber certificate, either stateOrProvince or locality MUST be included"

I think those 2 lints should be reintroduced, and further lints should be added,

[2017-09-06 12:55] kumarde commented on #166
@robstradling for IV certs, there are a set of separate lints that cover whether the proper fields are included. These are:

`lint_cab_iv_requires_personal_name`, `lint_cert_policy_iv_requires_country`, `lint_cert_policy_iv_requires_province_or_locality`

I removed the ones you mentioned because they were, afaict, incorrect checks on _all_ subscriber certificates (as indicated by their source bein

[2017-09-06 19:41] kumarde commented on #167
Merged.

[2017-09-06 19:41] #167 closed

[2017-09-07 10:16] robstradling commented on #166
@kumarde Ah, I see.  I hadn't spotted that you were already doing these "proper fields are included" lints when one of the CABForum-defined Policy OIDs is included in the cert.

Interestingly though, including the CABForum-defined Policy OIDs in serverAuth certs is optional for CAs, as far as the BRs and EVGs are concerned.  In practice though, most CAs are (or should be!) doing this due to Micros

[2017-09-07 12:05] kumarde commented on #166
@robstradling For lints that apply to those specifically with CABForum-defined policy OIDs, we first check if the OID exists, and if it doesn't, the result will be `NA`, which translates to the lint is not applicable for this certificate. Another example: for tests that apply to say all subscriber certificates, we'll return `NA` if it's a CA cert.

Another thing we do is return `NE`, not effective

[2017-09-07 12:07] robstradling commented on #166
@kumarde Yeah, I think that makes sense.  Thanks for explaining!

[2017-09-07 13:59] kumarde commented on #165
Merged.

[2017-09-07 13:59] #165 closed

[2017-09-07 15:23] #155 closed

[2017-09-09 16:35] zakird opened #173 "RFC 5280 Lints should be documented"
We need to go through the lints we have for RFC5280 and document them in master spreadsheet (https://docs.google.com/spreadsheets/d/1ywp0op9mkTaggigpdF2YMTubepowJ50KQBhc_b00e-Y/edit#gid=0).

Given the number of lints that were missing from the CA/B Forum lints before this was done, I'm not confident that we have actual RFC coverage currently.

[2017-09-09 16:48] zakird commented on #73
I went through and looked at which lints don't have tests by name. Here is the list that we should investigate:

- [ ] lint_generalized_time_does_not_include_seconds.go
- [ ] lint_generalized_time_includes_fraction_seconds.go
- [ ] lint_subject_locality_without_org.go
- [ ] lint_dsa_improper_modulus_or_divisor_size.go
- [ ] lint_dh_params_missing.go
- [ ] lint_rsa_no_public_key.go
- [ ] lint_subje

[2017-09-09 16:49] zakird commented on #73
In case it helps, this is the code I used to check:

[code]

[2017-09-15 15:15] robstradling opened #175 "Misapplication of e_dnsname_bad_character_in_label"
https://crt.sh/?id=209801779&opt=zlint
"ERROR: Characters in labels of DNSNames MUST be alphanumeric, - , _ or *"

But this is a client/email certificate that doesn't contain any SAN:dNSName fields.  I'm guessing that it's complaining (wrongly) about the email address in the Subject:CN.

[2017-09-15 15:53] zakird commented on #175
I'm not quite sure what the right approach is here. Thoughts:

(1) We could not check CN for these errors and rely on the combination of (1) BRs state that CN must be in SAN and (2) we check SAN correctly

(2) We could try to detect when something looks like an email and not apply checks

(3) We could check in CN shows up in a not-DNSname-SAN (e.g., email) and then not check it

(4) In the case th

[2017-09-15 15:54] titanous commented on #175
I think this is the correct way to go.

[2017-09-15 16:12] zakird commented on #175
I also just noticed this on that certificate:

[code]

[2017-09-15 16:13] kumarde commented on #175
@zakird @titanous I think that the right solution is actually just that we should make _any_ DNS formed-ness checks apply only to serverAuth/anyEKU/no EKU certs, as we've done for the `publicsuffix` certificates.

I think @robstradling has correctly identified this is just a bug that needs to be fixed. Thoughts?

[2017-09-15 16:14] zakird commented on #175
I'm with with that or with what @titanous proposed.

[2017-09-15 16:18] titanous commented on #175
Yeah, this is correct. I think the other change suggested is also correct (though not as a fix for this) because it reflects the BRs better (the rules are about dnsNames, and the CN has to be the same as a dnsName) but filtering by EKU will solve this and is the correct fix.

[2017-09-15 16:20] kumarde commented on #175
👍  sounds great.

[2017-09-15 17:23] zakird commented on #175
I believe this has been addressed by #176. If this is the case, @kumarde, can you close?

[2017-09-15 18:08] kumarde commented on #175
Addressed in #176. Thanks!

[2017-09-15 18:08] #175 closed

[2017-09-16 14:05] zakird opened #177 "Notice for `arpa` domains"
From my reading, it's not strictly against the rules to have a certificate for .arpa (e.g., `*.0.0.b.c.0.0.4.2.ip6.arpa`), but it's a somewhat odd case. It'd be nice to have a notice that checks for this.

[2017-09-17 16:03] kumarde commented on #173
RFC5280 Coverage is added to the doc.

[2017-09-17 16:32] zakird commented on #173
I am re-opening this issue. This should look like the BR tab and list which lint covers each provision.

[2017-11-02 15:24] szank opened #178 "Speeding up the slowest lints"
Hi, I was intending to use zlint as a library, and ran some benchmarks to see how it fares.
It turns out that there are five lints (w_dnsname_underscore_in_trd, e_dnsname_underscore_in_sld, e_dnsname_hyphen_in_sld, w_dnsname_wildcard_left_of_public_suffix, w_san_iana_pub_suffix_empty) that slow down the linter tremendously. Without them the linter runs ~70x faster on my laptop. The current perform

[2017-11-02 16:15] zakird commented on #178
Thanks for your note. I agree that it makes sense to cache this processing if it'll provide a significant speedup. I suspect it'll be better to add a call to the ZCrypto library (i.e., a function on the certificate object that caches it after being run the first time) such that we don't need to track state between lints in ZLint and can make the change without any API modification.

I also suspect

[2017-11-02 16:18] #173 closed

[2017-11-02 16:21] dadrian commented on #178
I don't follow what you mean here, but everything else sounds reasonable.

[2017-11-03 10:54] szank commented on #178
Hey,
Thanks for the quick reply.
I have ran a quick benchmark comparing the old code and the optimised one:
[code]
Strangely enough the delta value is wonky, as the new code is ~70x faster.
The benchmark results above doesn't include the time it takes to parse the x509 certificate used as input to the linter.

I have added a new field to the x509.Certificate, that stores the parsed domain names. I

[2017-11-03 11:49] zakird commented on #178
Sounds good to me. It might be nice to have this be lazily loaded (i.e., make it a method that you compute and cache instead of running when Parse is called).

[2017-11-03 11:49] #178 closed

[2017-11-22 13:25] robstradling opened #180 "Spurious e_dnsname_bad_character_in_label errors due to PR #179"
PR #179 definitely speeds things up, so thanks for that.  :-)

However, having just updated zlint to https://github.com/zmap/zlint/commit/36a643fb3d1d4e92d7de5056003fda59676d18ea on the crt.sh servers, I'm now seeing most certs being incorrectly flagged with the e_dnsname_bad_character_in_label error.

[2017-11-22 13:29] robstradling commented on #180
Just to clarify: I've only updated zlint on the crt.sh master DB server so far, which affects https://crt.sh/?zlint=1+week but not the certificate pages (such as https://crt.sh/?id=3&opt=zlint).

[2017-11-22 14:09] #180 closed

[2017-11-23 15:16] szank commented on #180
Damn. Thanks for fixing this!
I am surprised that the old regex have compiled.

[2017-12-05 14:18] szank opened #183 "Generating certificates for unit tests"
Hi guys, I wanted to add few more lints and need to generate certificates that would fail those lints.
Are there any guidelines on how to generate them?
I can see that the subject/issuer are similar in most of them. Shall I reuse those?
Are you using self signed certs? Any easy way to generate ones? If not, I could write a tool that would create a self signed cert from a template and put it in the

[2017-12-05 15:10] zakird commented on #183
@kumarde is going to get back to you about how we've been creating certificates.

[2017-12-05 15:14] szank commented on #183
Thanks ! :)

[2017-12-05 15:56] kumarde commented on #183
Hi @szank,

Thus far, we've been using a built-in Go function:(https://golang.org/pkg/crypto/x509/#CreateCertificate) to create certificates that modify the appropriate fields. I've been less concerned about the fields that are unrelated to the test at hand (for example, if the SAN extension is being tested, I haven't cared much about the `issuer_dn`).

If you'd like to create a simple tool using

[2017-12-05 16:21] szank commented on #183
I was wondering if it would be better to just generate an appropriate cert structure and fill it in for each unit test.
The linters input does not have to be signed, nor it needs all fields required in the valid x509 certificate.

I would have to create such template anyway, but signing it, saving it to file and then parsing the file when running unit tests seems completely unnecessary to me.

[2017-12-07 11:14] szank commented on #183
Turns out that there is no good way to make an universal tool to generate test certificates. Too much fiddling with the certificate internals that have to be tailored for each and every test.
Closing the issue.

[2017-12-07 11:14] #183 closed

[2017-12-13 13:38] szank opened #186 "Certs with CN containing capital letters flagged by `e_subject_common_name_not_from_san` false positive"
Example:
https://crt.sh/?id=276876975&opt=cablint,x509lint,zlint

No other linters in crt.sh are flagging this cert, and as far as I can tell, DNS names should be normalised before parsing/validation. Either way pasting `Tours.AlliedTT.com` to chrome works, as the dns name is automatically converted to lowercase (possibly by the IDNA engine)

The `e_subject_common_name_not_from_san` should perform

[2017-12-13 15:10] titanous commented on #186
Sounds good to me.

[2017-12-13 15:15] zakird commented on #186
I agree that it shouldn't be an error. There isn't security vulnerability here.

That said, it is somewhat interesting to note that they have different capitalization. Might be worth having an `info` that they're note quite the same.

[2017-12-14 10:24] szank opened #187 "w_serial_number_low_entropy lint should return an error:"
Suprisingly, some CAs can't get even this right:
https://crt.sh/?id=277579245&opt=cablint,x509lint,zlint

As per the CA/B BR wording this should be an error. Any objections ?

[2017-12-14 10:27] szank commented on #187
The definitely could do better: https://crt.sh/?id=277426104&opt=x509lint,zlint,cablint

[2017-12-14 13:57] zakird commented on #187
Agree, this looks more like an error than a warning given the `SHALL`.

[2017-12-14 14:06] titanous commented on #187
This is intentionally not an error as it's not possible to programmatically detect a violation of this clause with 100% accuracy: https://github.com/zmap/zlint/pull/112#issuecomment-324677507

[2017-12-15 11:32] szank commented on #187
Sigh that's fair enough. It have been some time since I have read about the reasoning about this requirement. It was about a known prefix attack, right ?

The question is, does the missing bytes in the serial number ( if they CSPRNG outputs  bits with leading zeroes ) facilitate the attack> I guess not, because the length of the prefix cannot be predicted anyway in such case. Can someone please co

[2017-12-15 17:34] titanous commented on #187
It was introduced in response to the MD5/SHA-1 weaknesses in order to change the level of attack necessary to forge a certificate with a broken hash algorithm from chosen-prefix collision to random-prefix collision: https://cabforum.org/pipermail/public/2016-June/007858.html

No, the byte length itself doesn't matter.

While this is trivial, it is not required by the Baseline Requirements, and so

[2017-12-27 15:09] robstradling opened #189 "dNSName lints should not be applied to iPAddress fields"
https://crt.sh/?id=284927361&opt=zlint
"DNSNames must have a valid TLD"

I'm not sure if it's complaining about the IPv4 address in the Subject CN field or in the SAN iPAddress field.  Either way, it's a false positive.

[2017-12-28 00:17] kumarde commented on #189
Good point. It's complaining about the CN field. In fact, we should probably check that the CN field is NOT an IP address before we do any sort of DNS-related checks. I can submit a PR to this effect.

[2017-12-28 21:40] zakird commented on #189
I believe this has been addressed by #190 and that this was added as a test case, which is passing As such, I'm going to close this issue.

[2017-12-28 21:40] #189 closed

[2017-12-28 21:41] zakird commented on #187
It looks like this has been addressed in the conversation here. I'm going to close this issue.

[2017-12-28 21:41] #187 closed

[2018-01-02 13:43] alex opened #191 "Add a lint for the upcoming March 1st, 2018 825 day cert validity limit"

[2018-01-08 22:09] justinbastress commented on #191
See https://github.com/zmap/zlint/pull/193

[2018-01-11 11:21] szank opened #197 "Lint "e_subject_dn_country_not_printable_string" is too strict"
Hi, this is a bit embarrassing, but I've had another read through the RFC 5280 (https://tools.ietf.org/html/rfc5280#section-4.1.2.4)
and it states that for both Issuer and Subject the RDN fields can be either PrintableString or UTF8String.
[code]
The Appendix A that is used as the citation for the lint is wrong, or at least inconsistent. Also, I think that this should be a warning, given the allow

[2018-01-11 11:24] #191 closed

[2018-01-11 11:25] robstradling commented on #197
That paragraph is about DirectoryString.  The countryName DN field is defined as a PrintableString, *not* as a DirectoryString.
I recommend closing this ticket as invalid.

[2018-01-11 11:36] zakird commented on #197
My reading of 5280 matches Rob's. Closing.

[2018-01-11 11:36] #197 closed

[2018-01-11 11:48] szank commented on #197
Thanks for the input. I assumed incorrectly that all the fields in the RDN are Directory strings. The "Issuer" section in the RFC does imply that. If the consensus is that Appendix A overrides this, which seems valid then this issue is invalid indeed.

[2018-01-12 16:45] szank opened #198 "Lint e_ext_san_uri_host_not_fqdn_or_ip returning an error on valid uris"
Hi, this lint doesn't work like intended. Given a valid URI, for example `sip:user@example.domain.com` it returns an error.

Problem is in the util.GetHost() method, fortunately as far as I can tell it is not used elsewhere:
lint_ext_san_uri_host_not_fqdn_or_ip_test.go:
[code]
Given the input mentioned before, util.GetHost(uri) returns an empty string.
The problem is compounded by the bad test dat

[2018-02-09 11:31] robstradling opened #200 "e_sub_ca_eku_name_constraints should be removed"
```Subordinate CA: If includes id-kp-serverAuth EKU, then it MUST include Name constraints w/ constraints on DNSName, IPAddress, and DirectoryName```

I don't see any justification for this lint.

The logic is correct **if** the CA intends the intermediate cert to be regarded as "Technically Constrained".  However, there are plenty of cases where this is not the CA's intent.

Consider these two ex

[2018-02-09 11:38] robstradling opened #201 "e_sub_ca_must_not_contain_any_policy should be removed"
```Subordinate CA: MUST NOT contain the anyPolicy identifier (2.5.29.32.0)```

This is only true when the Subordinate CA "is not an Affiliate of the Issuing CA".  I think evaluating legal relationships is out of scope for ZLint!

Here are two examples of intermediate certs where the Issuing CA and the Subordinate CA are affiliated, and so this error is a false positive:
https://crt.sh/?id=25086469

[2018-02-09 15:44] zakird commented on #200
@kumarde do you know where this one originated?

[2018-02-09 15:46] zakird commented on #201
👍

[2018-02-09 19:05] justinbastress commented on #201
Yeah, "Affiliate" is defined in such a way that there's no way we could verify affiliation:

https://cabforum.org/wp-content/uploads/CA-Browser-Forum-BR-1.5.4.pdf, section 1.6.1:

And from section 7.1.6.3:

[2018-02-09 19:18] zakird commented on #201
I've merged #202. Closing.

[2018-02-09 19:18] #201 closed

[2018-02-09 19:18] zakird commented on #198
I believe this was addressed in #199. Closing.

[2018-02-09 19:18] #198 closed

[2018-02-09 19:53] justinbastress commented on #200
It seems like the lint is in line with a literal reading of 7.1.5, where the "technically constrained" qualifier only applies to the first paragraph, not the second:

(https://cabforum.org/wp-content/uploads/CA-Browser-Forum-BR-1.5.4.pdf, section 7.1.5)

If it said "*If the __Technically Constrained__ Subordinate CA Certificate includes...then [it] MUST...*" that would be unambiguous, but the exis

[2018-02-09 20:13] justinbastress commented on #200
Reading it again, the fact that they say "*__the__ Subordinate CA*" rather than "*__a__ Subordinate CA*" links the two paragraphs.

[2018-02-12 10:04] robstradling commented on #201
Thanks Zakir.

[2018-02-21 14:42] #200 closed

[2018-02-22 14:02] RufusJWB opened #204 "w_dnsname_underscore_in_trd should not be a warning"
According to https://stackoverflow.com/a/2183140 it is perfectly okay to have underscores in domain names. But zlint creates a warning https://crt.sh/?id=206304439&opt=zlint and I can't find a place in the BRGs where it is explicitly forbidden. I would suggest to change this.

[2018-02-22 20:37] zakird commented on #204
This is somewhat undefined. There was a CA/B ballot over whether underscores are allowed, but this failed. See: https://cabforum.org/2017/07/26/ballot-202-underscore-wildcard-characters/. For more context, see https://www.mail-archive.com/dev-security-policy@lists.mozilla.org/msg02548.html. At the end of the day, given this ambiguity, I think it goes against community best practices to allow under

[2018-02-23 08:37] RufusJWB commented on #204
Thank you for pointing out the discussion on m.d.s.p . As I understand the discussion, the point with the underscore is not so much topic of the CAs but how browsers are resolving domain names / host names. Since in practice there are hundreds of thousands of domain names with underscores out in the field, which are perfectly reachable from the internet, even if it is unclear if those names are co

[2018-02-23 13:52] zakird commented on #204
Thanks. Unfortunately though ZLint is designed with CAs in mind. Just because those names has been registered (or are reachable) doesn't mean that CAs can correctly sign certificates for them.

[2018-02-23 14:17] RufusJWB commented on #204
If I understand the discussion correctly, it is not even clear, whether underscores are valid characters  according to the RFCs in FQDNs or not. If you compare the link to [SO](https://stackoverflow.com/a/2183140) it seems to be legit and also the voting results to ballot 202 underline, that the vast majority of CAs and Browsers (incl. Google) share this understanding. Therefore I still think it w

[2018-02-23 15:40] titanous commented on #204
dNSName SANs as implemented in the WebPKI are intended to be TLS server hostnames, and underscores are not allowed in DNS hostnames. The fact that some DNS resolvers and clients are lax in their handling of the specifications does not cause the RFCs to change.

I'm not so sure that the "vast majority" of CAs and browsers share your understanding of the situation. For example, Let's Encrypt does no

[2018-02-23 15:42] titanous commented on #204
For reference, there are very few certificates that trigger this warning: https://crt.sh/?zlint=922&dir=^&sort=1&minNotBefore=2017-01-01

[2018-02-23 15:48] titanous opened #205 "duplicate SAN entries should warn"
For example https://crt.sh/?id=324712272&opt=cablint,zlint has `w80.siemens.com` and `W80.siemens.com`

[2018-02-23 16:15] zakird commented on #204
While a number of groups voted in favor of the proposal, it did not pass. We cannot apply our own voting rules on top of another organization. As Jonathon points out, dNSNames are intended to represent DNS hostnames, which do not permit underscores.

[2018-02-23 16:15] #204 closed

[2018-02-23 16:15] RufusJWB commented on #204
@titanous wrote

Well, in Ballot [202 ](https://cabforum.org/2017/07/26/ballot-202-underscore-wildcard-characters/)63% of the CAs and 100% of the browsers voted "Yes" to allow the underscore character explicitly. So i think, the "vast majority"was in favor, but the Bylaw 2.2(f) requiring a two-third-majority of the CAs was not reached.

Exactly due to the ambiguity I think it should be seen only a

[2018-02-23 16:26] zakird commented on #204
I also want to quickly clarify that this is not an `error`, but a `warning`. Errors represent explicitly violating a standards document (e.g., a `MUST NOT`) in an RFC. `warnings` represent violating best practices or community standards (e.g., an RFC `SHOULD NOT`). We view performing an action that is questionably incorrect (and is in conflict with a failed ballot to permit) as violating best prac

[2018-02-23 16:38] RufusJWB commented on #204
@zakird Thank you for your clarification. The background of rising this topic is, that we are striving to operate our CA in the future without any `warning` from the LINTer. To reach this goal we will have to reject CSRs for FQDNs which are perfectly okay in all browsers just because of some 'ambiguity' in 40 years old RFCs. This is not really user-centric but it is as it is.

[2018-02-27 20:19] jdkasten opened #206 "CA Certs verified under BRs 7.1.6.1 use 7.1.4.2.2"
BRs 7.1.6.1 states that OV certificates (with policy identifer 2.23.140.1.2.2) must include the localityName to the extent such a field is required under Section 7.1.4.2.2.

Section 7.1.4.2.2 is only applicable to Subscriber Certificates. zlint is currently enforcing this check on CA certificates.
Example: https://censys.io/certificates/95c074e35902a14abd9d19afb6e7f80e669ff8e2363270539d963613f04aa

[2018-02-27 22:13] justinbastress commented on #206
Updated the relevant tests to only apply to subscriber certificates in #207.

[2018-02-27 23:27] zakird commented on #206
I've merged #207.

[2018-02-27 23:27] #206 closed

[2018-02-27 23:28] jdkasten commented on #206
Thanks for the prompt fix!

[2018-03-09 11:04] l-ko opened #209 "stdin certificate in cmd mode"
running cmd
[code]
Seems to not respond.

While the same is working for zcertificate
[code]

[2018-03-09 14:33] justinbastress commented on #209
@l-ko I am not able to reproduce this from a clean docker image:

[code]

[2018-03-10 06:53] l-ko commented on #209
I see,

I use to run it from OSX 10.11.6
go version go1.9.1 darwin/amd64

Tried to install with go version go1.10 darwin/amd64
but got:
`go/src/github.com/zmap/zcrypto/ct/x509/root_darwin.go:73: cannot use nil as type _Ctype_CFDataRef in assignment`

Anyway, I'm going to use it with docker, so I guess everything will be fine in linux, as you wrote.

[2018-03-10 23:47] justinbastress commented on #209
@l-ko got it — there is currently an issue open for that in zcrypto (https://github.com/zmap/zcrypto/issues/106). You might try pulling feature/update-x509 in zcrypto and seeing if that fixes the OSX issue.

[2018-03-12 15:33] #209 closed

[2018-03-12 15:51] justinbastress commented on #209
@i-ko that change has been merged into master in zcrypto, so you might try doing a clean pull/rebuild.

[2018-03-13 18:58] jsha opened #210 "Godoc for lints package malformed"
On https://godoc.org/github.com/zmap/zlint/lints, it looks like some of the comments are being turned into godoc in unexpected ways:

[code]

[2018-03-13 20:19] jsha opened #211 "TestSANEDIPartyMissing failing"
Running unittests on master with go version go1.10 linux/amd64:

[code]

[2018-03-13 20:43] jsha opened #212 "Data races when used concurrently"
I ran zlint in a tool that runs multiple lints concurrently, with Go's race detector turned on, and it found data races. I'm assuming zlint isn't currently meant to be concurrency-safe. Is that accurate? If so, it should be documented. Thanks!

[code]

[2018-03-14 16:25] justinbastress commented on #210
I think the real issue is that zlint just doesn't do godocs -- but for the short term, we can probably clean up that `lints` page by moving the copyright / BR citations down below the `package` lines.

[2018-03-14 17:50] justinbastress commented on #211
It looks like SANOtherName.pem is actually malformed -- neither OpenSSL nor Windows can decipher the SAN.

Poking around at the SAN (https://lapo.it/asn1js/#3016A00B06025303130568656C6C6F8207646E732E636F6D)
[code]
the first part (otherName 2.3.3 = hello) is weird, but looks valid; the second though, if my memory of DER serves, looks like it's a DNSName "dns.com" encoded as an integer (0x80 = conte

[2018-03-14 18:31] justinbastress commented on #211
I see the problem -- it doesn't have the [0]EXPLICIT tag on the OtherName content:
[code]
I do recall seeing certificates like this in the wild, but it is definitely wrong:
[code]

[2018-03-19 14:49] justinbastress commented on #212
I think with #217 we have covered all cases where test data gets stored in the global lint instance; more general race conditions however could still be present.

[2018-04-13 21:12] zakird commented on #210
Looks like this was addressed by #213.

[2018-04-13 21:12] #210 closed

[2018-05-06 10:51] microshine opened #219 "RFC5280 email address length is 255"
[code]

[2018-05-07 11:46] YuryStrozhevsky opened #220 "Incorrect warning on multiple attributes in one RDN"
In your code you have [this warning](https://github.com/zmap/zlint/blob/master/lints/lint_subject_multiple_rdn.go#L42) on having "multiple attributes in one RDN" in one certificate. In fact I do not understand the warning and why you made it.

As from initial type definition we have this:
[code]
And nothing stops us from having multiple `AttributeTypeAndValue` - could be `(1..MAX)` values inside o

[2018-05-07 13:36] justinbastress commented on #220
@YuryStrozhevsky from the Source (https://github.com/zmap/zlint/blob/master/lints/lint_subject_multiple_rdn.go#L52), it appear this was pulled from the AWSLabs certlint -- and there doesn't seem to be any I don't see any further reference to a specification there (https://github.com/awslabs/certlint/blob/25d5957f8c36dafcbd82870df57a8367b49650be/lib/certlint/namelint.rb#L121).

[2018-05-07 13:57] rmhrisk commented on #220
@pzb can you elaborate?

[2018-05-07 18:55] pzb commented on #220
Certlint warns about it because I observed that the majority of multiple attribute RDNs are due to bugs.  A surprising number of certificates includes all the attributes in a single RDN by mistake.  I'm assuming this was because of a poor API to create Names where an array of attributes becomes a single RDN rather than becoming a sequence of RDNs with one attribute each.

In certlint Warnings (`W`

[2018-05-07 19:07] zakird commented on #220
It might be worth downgrading this from a warning to a notice.

[2018-05-07 19:39] dadrian commented on #220
Are client API's equipped to deal with RDN's of size > 1? Offhand, I know that at least Golang pushes the extra attributes to a grab-bag `[]Names` for certain values, including CommonName and SerialNumber. If many clients don't expose these values, it may be worth leaving the notice as a warning.

https://golang.org/src/crypto/x509/pkix/pkix.go?s=3333:3386#L123

[2018-05-07 19:51] pzb commented on #220
Ruby also has issues:

https://github.com/ruby/openssl/blob/master/lib/openssl/x509.rb#L127 (parsing string into Name)

https://github.com/ruby/openssl/blob/master/ext/openssl/ossl_x509name.c#L332 (name converts to Array of Attributes, not Array of Array of Attributes); if to do `OpenSSL::X509::Name.new(cert.subject.to_a)` in Ruby, you will get a new name with each attribute as its own RDN. Ruby h

[2018-05-07 20:01] zakird commented on #220
@dadrian thanks for noting that. I think this is generally the type of case that we try to catch with a `Notice`. There aren't very many in general (see https://github.com/zmap/ztag/blob/master/ztag/schema.py#L940).

We've generally tried to stick to pretty religiously to needing a document to point to (e.g., RFC or CA/B Forum clause) in order for something to rise up to be a `Warning` or `Error`.

[2018-05-07 21:11] dadrian commented on #220
Sounds like we should make this a notice, and then get the BR's changed. 🤪

[2018-05-07 22:04] rmhrisk commented on #220
It seems, based on Ruby's behavior, a client that wants to interoperate with poorly done implementations should default to the other form. It also seems in the context of zlint this should be a Notice.

[2018-05-07 22:33] pzb commented on #220
Certlint is usually uses notice versus warning for software incompatibilities; I should probably the multi-attribute message to be a notice as well:

https://github.com/awslabs/certlint/blob/master/lib/certlint/certlint.rb#L278
https://github.com/awslabs/certlint/blob/master/lib/certlint/certlint.rb#L406

[2018-05-08 06:09] YuryStrozhevsky commented on #220
@pzb BTW I make [same issue](https://github.com/awslabs/certlint/issues/64) for `certlint`. So, probably would be better to just reference this issue from certlint's issue.

[2018-05-19 20:06] zakird commented on #211
This looks like it was resolved by #214; closing.

[2018-05-19 20:06] #211 closed

[2018-05-20 22:55] zakird commented on #186
Now that we've seen that this would be considerably more complex (and partially undefined) when @szank went to implement this in #188, I think that we should close this issue, thus requiring capitalization to be consistent between the fields.

These two comments in particular make it more clear to me that "here be dragons", and because of that, there _could_ be security problems associated having

[2018-05-21 00:07] zakird commented on #212
I quickly read through all the lints this afternoon (🤮) and it looks like we should be in good shape. The only thing that caught my eye is that we have several util functions that do simultaneous reads from shared maps, but this looks acceptable in golang. I'm going to close this issue as it doesn't look like there's anything to be done at this point and from both justin and my cursory looks, we s

[2018-05-21 00:07] #212 closed

[2018-05-21 00:38] pzb commented on #186
https://tools.ietf.org/html/rfc5891#section-3.1 explains the rules for comparing domain names.  Whether the match is case sensitive or not depends on whether you are looking at U-labels or A-labels.

[2018-05-21 00:48] zakird commented on #219
This is addressed in #222.

[2018-05-21 00:48] #219 closed

[2018-05-21 10:04] szank commented on #186
Hi @zakird, @pzb . Thanks for your input. I am happy with closing my PR, it is quite incomplete and if someone wants to tackle this issue, it would be better to start from a clean slate.

I would like to raise another related issue:
What does the zlint team thing about validating the CommonName according to the IDNA rules for the public trust SSL certs?

The linter would implement the Registration

[2018-05-21 17:08] #220 closed

[2018-05-21 17:21] zakird commented on #186
Can you move this into a new issue? Happy to have conversation there.
On Mon, May 21, 2018 at 3:04 AM Maciej Galkowski <notifications@github.com>
wrote:

[2018-05-23 20:13] rmhrisk opened #223 "False error on CRLdp does not contain url"
I believe there may be a bug in Zlint. If you look at this certificate:
https://censys.io/certificates/6ef0debdfc2d9af68c5174c2b88ccfabde9540a1b6b96e2526b59e6a9ab09b10

You will see it has a zlint error, specifically, it is:
[code]

And if you look at the CRLdp in the CenSys user interface it shows a single ldap URI:
![image](https://user-images.githubusercontent.com/1619279/40448587-3a6dd324-5ed6

[2018-05-23 20:45] justinbastress commented on #223
From https://www.ietf.org/rfc/rfc5280.txt:

[code]

So unless the CABR says otherwise, it seems like this error is indeed erroneous.

[2018-05-23 20:46] rmhrisk commented on #223
@justinbastress Thanks for the quick response!

The CABR has nothing on this, beyond a HTTP link must be present.

[2018-05-24 19:59] nguyekim commented on #223
It seems to me that the RFC - as in many cases - leaves room for interpretation and that both options seem valid, i.e. the formulation as quoted above from the RFC allows both.

[2018-05-24 20:29] Santhanraj opened #225 "E: EV certificates must include localityName in subject - only true if stateOrProvinceName is absent"
This shouldn't be an error since localtyName is optional when stateOrProvinceName is present (since EV ver 1.6.4 and ballot 191)

E.g., https://crt.sh/?id=466655384&opt=zlint

BR: 7.1.4.2.2 (e)
Certificate Field: subject:localityName (OID: 2.5.4.7)
Required if the subject:organizationName field, subject:givenName field, or subject:surname field are present and the subject:stateOrProvinceName field

[2018-05-24 20:44] zakird commented on #225
@kumarde can you take a look at getting this fixed up?

[2018-05-25 01:11] rmhrisk commented on #223
In such cases what clients support is a good litmus test. Windows, OSX, OpenSSL, and probably others seem to like the nested approach.

[2018-05-25 01:14] rmhrisk opened #226 "Should there be a lint for CT compliance?"
For quite a long time Chrome has checked CT for EV certificates, very soon the same will haven for OV and DV certificates.

It seems it would be good to add a (W) when the CT policy of chrome is not met.

[2018-05-25 01:18] rmhrisk opened #227 "Should the lint’s be reviewed for relevance to CA certificates?"
The creation of issuing CA certificates has been historically uncommon but it seems the trend to create many issuers, one per customer or use case is picking up. Some of the lint’s may be relevant to CA certs while others are not.

It would probably make sense to review the lint’s and not execute them for certificates that are not appropriate for CA certificates.

For example the EV lint’s will co

[2018-05-25 07:06] nguyekim commented on #223
Just for asking for clarification, the nested Approach refers to which coding option mentioned above?
CRLDistributionPoints: [ { fullname: [ "url1", "url2", "url3" ] } ] or the secondOption. E.g. Windows displays this first option correctly.

[2018-05-25 08:00] rmhrisk commented on #223
Yes, if I understand your question correctly I mean the encoding.

[2018-05-25 15:57] rmhrisk opened #228 "Consider adding classifications to the lint list"
Right now each lint has a severity and a citation, it would be useful if the lints also had a classification, for example:
- Extended Validation Errors
- Validation Errors
- Encoding Errors

This would allow the tools that utilize zlint to quickly filter through the issues to get to the most pressing things within that classification.

[2018-05-25 16:18] dadrian commented on #227
This should be happening already in the `CheckApplies` function for EV lints, e.g. https://github.com/zmap/zlint/blob/master/lints/lint_ev_country_name_missing.go#L28. Do you have a link to a cert where it was inappropriately ran? We must have either forgotten a check on some of the lints, have a bug with CheckApplies, or our util.IsEV function is too weak.

[2018-05-25 16:24] rmhrisk commented on #227
@dadrian check this one out: https://censys.io/certificates/3fe8be392a08684b99f497e618c7ddf5a02a4289bf9d08e595045931bfba814f/zlint

[2018-05-25 17:18] zakird commented on #226
I'm a bit hesitant to add something Chrome-specific as a warning. It's perfectly reasonable that an organization has an internal CA that doesn't have CT, and that's not against any written standard. I'd be fine having a notice for this.

[2018-05-26 03:12] rmhrisk commented on #226
Notice would be good in my book.

[2018-05-28 07:58] nguyekim commented on #223
Thanks for quickly solving this issue! Kim

[2018-05-29 11:36] zakird commented on #225
This is addressed by #230.

[2018-05-29 11:36] #225 closed

[2018-05-31 20:30] sdavidson-quovadis commented on #228
I agree this would be useful - as issues in these buckets typically differ in resulting from a "process problem" and "technology problem".

[2018-05-31 20:35] sdavidson-quovadis commented on #226
Useful, given the nearly universal adoption of CT in trusted SSL.

[2018-05-31 20:37] sdavidson-quovadis commented on #223
Thank you for resolving this!

[2018-05-31 20:41] fotisl commented on #226
I agree with @rmhrisk that CT compliance would be a nice feature. Furthermore, I do not consider it chrome specific since most browsers have stated that they will require it. For example, apple has already created a trusted CT log program.
An organization running an internal CA may not log certificates to any log, but on the other hand they don't have to be compliant with the CA/B forum baseline r

[2018-06-01 07:38] RufusJWB commented on #226
I would like to support this issue. Since CT is more or less universal we should have this checked by ZLint as well, probably as a _Info_ until Googles CT policies are incorporated into BRGs.

[2018-06-01 12:31] robstradling commented on #226
How fully-fledged would ZLint's CT compliance check need to be?
For example, would it need to keep an up-to-date list of which logs are accepted by which CT clients, and validate that the cert has a sufficient number of embedded SCTs from accepted logs?  Or would it merely count the number of embedded SCTs?

[2018-06-01 13:06] rmhrisk commented on #226
I was thinking simply counting.

[2018-06-01 13:16] fotisl commented on #226
I was thinking of counting logs under the google domains and non-google ones and requiring at least one from every group. If current google policy is adopted by other browsers or the ca/b forum, then counting based on duration would be nice. Keeping state, especially for some cases like disqualified logs, would make it pretty complex and may return false results.

[2018-06-01 16:00] robstradling commented on #226
@fotisl Counting google vs non-google would require ZLint to maintain, at the very least, an up-to-date list of Google LogIDs.

[2018-06-01 16:13] fotisl commented on #226
@robstradling Yes, you are correct. Counting and maybe selecting a minimum number of scts based on duration is better.

[2018-06-07 09:02] robstradling commented on #226
It's also worth bearing in mind that the "1 Google, 1 non-Google" requirement in the Google CT Policy is a bootstrapping mechanism.  Once the CT ecosystem reaches a to-be-defined level of maturity, I think we're all expecting Google to drop this requirement.

[2018-06-07 09:11] robstradling commented on #226
Apple now have a CT Policy (https://support.apple.com/en-us/HT205280) and they intend to enforce CT compliance for all TLS connections (https://twitter.com/BasileBailey/status/1003911999506575360) at the end of 2018.
This policy seems to be a strict subset of Google's CT Policy.  (Apple don't have a "1 Google, 1 non-Google" requirement).

[2018-06-07 16:13] dadrian commented on #226
We'd be happy to take a lint that just counts SCTs (probably notice-level), and anyone is welcome to open a PR that does this.

[2018-09-04 17:14] cpu opened #235 "Give TLD data and associated lints effective periods"
## Background

This is a follow-up issue from the discussion in https://github.com/zmap/zlint/pull/233 - to summarize the problem:
IANA occasionally deprecates a gTLD. The existing [`updateTLDs.sh` script](https://github.com/zmap/zlint/blob/02fe9a29bbae57da0c77db7afb53734dc262b130/updateTLDs.sh) removes deprecated gTLDs from the [generated `tldMap` data](https://github.com/zmap/zlint/blob/848521ff

[2018-09-04 17:58] zakird commented on #235
This sounds spot-on to me.

[2018-09-04 18:31] cpu commented on #235
@zakird Great, thanks for confirming. I'll get started and we can hash out the fine details in the PR review.

[2018-09-06 20:48] cpu commented on #235
Here's my initial PR: https://github.com/zmap/zlint/pull/236

[2018-09-11 20:54] #235 closed

[2018-10-19 20:42] cardonator opened #240 "SANs with all caps hit e_dnsname_not_valid_tld, false positive"
Certificates that have SANs with all caps in them currently always hit e_dnsname_not_valid_tld lint check, which is not correct. Here's a couple of examples:

https://crt.sh/?id=873228359&opt=zlint,cablint,x509lint
https://crt.sh/?id=875711998&opt=zlint,cablint,x509lint

As you can see, zlint hits errors on both certs which no other linter hits.

I know there is an issue with just lower casing all

[2018-10-19 21:16] cardonator commented on #240
Sorry, looking into this a bit more, I believe this was a bug introduced with PR #236 where `gtld.go:HasValidTLD` was changed to run its own logic instead of relying on `gtld.go:IsInTldMap` which would lowercase the domain that was being inspected. See referenced PR.

[2018-10-21 01:38] #240 closed

[2018-11-07 16:09] microsec opened #242 "Incorrect maximum length constraint checking for explicitText (bytes vs. characters)"
Zlint returns an error for the [attached certificate](https://github.com/zmap/zlint/files/2558171/www.mokk.hu.zip), stating that "**Explicit text has a maximum size of 200 characters**".

However, the suspicious explicitText **has only 170 characters** ("Nem minősített, szervezet-ellenőrzött webszerver tanúsítvány, 3. hitelesítési osztály, regisztrációkor a személyes megjelenés kötelező. A tanúsít

[2018-11-07 18:43] zakird commented on #242
I agree, it looks like this should be 200 characters not bytes. We'd be happy to accept a pull request that addresses this.

[2018-11-07 21:53] cardonator commented on #242
I looked into this a bit just to see what's possible. It looks like the ExplicitText extension data is completely hosed by the time the certificate is unmarshaled into the certificate object in zcrypto. Even calling `utf8.ValidString` on the Byte array returns false.

I tried extracting the info using openssl but it can't even seem to parse the UTF8 string in the second ExplicitText extension so I

[2018-11-08 08:13] microsec commented on #242
X509lint seems to do the following (see: https://github.com/kroeckx/x509lint/blob/master/checks.c):

* Convert any string type to UTF-8 (in case of BMPString, it means UCS-2BE -> UTF-8)
[code]
* Then convert UTF-8 string to UTF-32 and ignore BOM
[code]
* Divide UTF-32 byte length by 4
[code]

[2018-11-08 14:46] cardonator commented on #242
Looking at RFC 5280, I'm not sure it's correct to allow that field to contain a UTF-16BE string.

https://tools.ietf.org/html/rfc5280#section-4.2.1.4

Defines `explicitText` as a DisplayText type. DisplayText allowed types are:

[code]

However, this is a SHOULD and not a MUST.

RFC 6818 removes `ia5String` as an allowed type.

[2018-11-08 23:46] cardonator commented on #242
Digging into this a bit more, I am able to get the linter working properly by converting the field content to a BMPString using some code from an open PR on Go's asn1 library. Fundamentally, there is just no API for processing BMPString in Go at all, and even zcrypto doesn't handle it.

I have a partial solution coded up on my fork (https://github.com/zmap/zlint/compare/master...cardonator:utf8-20

[2018-11-13 21:41] cardonator commented on #186
Regarding the issue mentioned here, doesn't (https://tools.ietf.org/html/rfc8399#section-2.4) override any previous RFC regarding subject fields and DN/DNS names in a cert? I think it does, and it reads:

[code]

[2018-11-23 18:12] #205 closed

[2019-01-24 00:02] #242 closed

[2019-02-20 10:26] Pieter-1337 opened #257 "zlint ERROR Root CA Certificate: extendedKeyUsage MUST NOT be present.t"
Hi, I am currently creating a root certificate which can sign a San certificate.
I am using following powershell command to create the Root: `$rootCert = New-SelfSignedCertificate -CertStoreLocation cert:\LocalMachine\My -keyUsage KeyEncipherment,DigitalSignature,CrlSign,CertSign -Subject "CN=AgionRootCA, OU=supplied, O=supplied, C=BE, L=supplied, S=supplied"  -TextExtension @("1.3.6.1.4.1.311.21.

[2019-02-20 14:49] kumarde commented on #257
OIDD 2.5.29.37 is ExtendedKeyUsage, which I see you've added in the `TextExtension` field.

[2019-02-20 14:49] #257 closed

[2019-02-20 20:39] cpu opened #258 "Add tld-update-bot as a collaborator"
Hi folks :wave:

Following up on my comment in https://github.com/zmap/zlint/pull/255 I set up some quick automation for submitting gtld update PRs. I modelled it after the approach used by the [`publicsuffix-go`](https://github.com/weppos/publicsuffix-go) project's ["autopulls"](https://github.com/weppos/autopull/tree/autopull-publicsuffix-go) which were in turn based on a bash script by [nbio](h

[2019-02-21 06:02] zakird commented on #258
Thanks @cpu! This is great! I've added `tld-update-bot` as a collaborator. I think you may need to accept the invitation over email.

Right now, master branch is less protected than I realized. Today, merging into master requires only 1+ reviews (from anyone I believe) and then any collaborator can merge. The SOP for other ZMap projects has been to restrict to a specific group of core contributors

[2019-02-21 12:01] Pieter-1337 commented on #257
@kumarde  Thank you for the awnser this did resolve my issue :)

[2019-02-21 14:15] cpu commented on #258
Done :ballot_box_with_check: :robot:

I changed the Travis env vars to point to this repo. There should be a build every morning around this time going forward. I'll keep an eye on the logs until there is a change in the upstream TLD data.

No objections from me. Thanks @zakird !

[2019-02-21 14:16] #258 closed

[2019-02-26 22:18] dadrian opened #259 "Error lint for `arpa` domains corresponding to reserved IP addresses"
Per https://groups.google.com/forum/#!topic/mozilla.dev.security.policy/JFwqZx7RLL0

While `arpa` names are legal, there is not way to properly validate a certificate for reserved IP space (e.g. 10.0.0.0/8, 192.168.0.0/16). Certificates with domains such as `1.1.168.192.in-addr.arpa` should trigger an error.

This is a more specific case than #177.

[2019-02-27 01:00] zakird commented on #259
This lint should use https://github.com/zmap/zlint/blob/master/util/ip.go#L62 similar to the checks we have for IP addresses.

[2019-02-27 13:36] cpu commented on #259
:wave: I started working on this and should have a PR available for review in a little bit.

I'm going to assign this issue to myself and remove the help wanted label. If someone else _really_ wants to take this off my plate feel free to speak up and we can pair or I can give it up :-)

[2019-02-27 18:00] cpu commented on #259
Here's a first pass: #260. It took me a little bit longer because I forgot how bizarre rfc3596 & reverse DNS for IPv6 is :laughing: I think the lint is ~=ready. If someone wanted to do the rules lawyering to find the best BR citation for why this isn't permitted I'd appreciate it.

[2019-02-27 22:03] #259 closed

[2019-03-05 19:31] cpu opened #264 "Add Go module support, pin dependencies"
Supporting [Go modules](https://github.com/golang/go/wiki/Modules) would make `zlint`'s dependencies explicit. This would help with situations like the one discussed in https://github.com/zmap/zlint/pull/263 where a lint may depend on new functionality in `zcrypto`.

There are alternatives to Go modules for tracking dependencies (godeps, gvt, etc) but [Go 1.13+](https://blog.golang.org/modules2019

[2019-03-06 21:35] cpu commented on #14
Updating this issue based on [the plan discussed in #263](https://github.com/zmap/zlint/pull/263#discussion_r262651547):

- [X] - Close the old PR that combined parsing and linting (#263)
- [X] - Open a new PR with the two lints that don't rely on `TorServiceDescriptorHash` parsing (https://github.com/zmap/zlint/pull/265)
- [ ] - Open a `zcrypto` PR to add `TorServiceDescriptorHash` parsing
- [ ]

[2019-03-07 01:17] dadrian commented on #264
I strongly agree with this.

[2019-03-07 13:28] cpu commented on #264
@dadrian Great! Related to module support do you have any thoughts about whether to commit vendored dependencies to the repo or not?

I'm generally in favour of doing that because it makes builds faster and helps eliminate occasional flakyness from `go get` but I understand that some folks in the Go community think its unnecessary since the vendored deps can be reconstructed from the `go.mod`.

[2019-03-07 16:06] zakird commented on #264
I don't have any issue with vendorizing the dependencies.

[2019-03-07 19:58] cpu commented on #264
I have a PR for this up for review: https://github.com/zmap/zlint/pull/266

[2019-03-07 22:36] #264 closed

[2019-03-07 22:37] #177 closed

[2019-03-13 00:16] AGWA opened #270 "Remove the low entropy serial number check"
I believe this check does more harm than good.

A fully compliant CA which generates a random serial number from exactly 64 bits of entropy will produce a serial number less than 8 bytes long 1 in 256 times.  That means that for every million certs issued, this check will cause about 4,000 false positives.

To avoid the false positives, the CA might be induced to do something silly like ensure the

[2019-03-26 12:04] pazuzu2099 opened #272 "Certs with QcRetentionPeriod fails in new Zlint QCStatement validation"
Hi, we have realized that all certificates with the QcRetentionPeriod are failing when they validate against Zlint. We could not find any certificate that work, nor among the sample certificates included in the application (we have not found any certificate with that field to check what is being verified).

The error is always the same
ERROR: Checks that a QC Statement of the type id-etsi-qcs-QcRe

[2019-03-26 16:00] zakird commented on #272
@mtgag would you be willing to take a quick look at this? I believe this is triggering some of the lints you recently introduced and I suspect you're more familiar with them than I am.

[2019-03-30 01:27] zakird opened #274 "e_qcstatem_qclimitvalue_valid crashes"
The `e_qcstatem_qclimitvalue_valid` line causes Go panic for some certificates. I have temporarily commented out the specific lint, but we need to go back and fix the underlying problem. This certificate triggers the crash:
[qcstatement_crash_zlint.txt](https://github.com/zmap/zlint/files/3024992/qcstatement_crash_zlint.txt)

[2019-03-30 14:47] cpu commented on #274
I was able to reproduce and fix the immediate bug: https://github.com/zmap/zlint/pull/276

[2019-03-31 18:23] #14 closed

[2019-03-31 21:14] #274 closed

[2019-04-03 14:02] dougbeattie opened #277 "Checks for Mozilla and Microsoft Root program requiremnts"
I'm curious if anyone else would like to use these checks and have them cover Mozilla and Microsoft specific root program requirements.

Mozilla: https://www.mozilla.org/en-US/about/governance/policies/security-group/certs/policy/
**Example**: Root certificates in our root program, and any certificate which chains up to them, MUST use only algorithms and key sizes from the following set:
- RSA key

[2019-04-03 14:32] zakird commented on #277
This has come up repeatedly with different folks and we'd be happy to see these lints in ZLint. We'll need to add a slightly more complex interface to check certificates, but that shouldn't be an issue. There's also an open issue for adding checks for CT compliance for Chrome and Apple.

[2019-04-04 12:28] dougbeattie commented on #277
That sounds like a good plan.  When do you think you'd have this "more
complex" interface designed?  Is there anything I can do to start defining
some of the checks for this (in the Google doc that is a summary of all
checks?)  and then perhaps have one of our developers build a few of them?

On Wed, Apr 3, 2019 at 10:33 AM Zakir Durumeric <notifications@github.com>
wrote:

[2019-04-04 13:10] dadrian commented on #277
This should fit into the current interface for writing lints just fine, _unless_ you actually want to build chains. I'd just start writing some lints and see what happens.

[2019-04-04 14:26] zakird commented on #277
I agree with @dadrian, they interface shouldn't be a big issue right now compared to getting the new lints created. If you can make a list and start to implement them that would be helpful. I'd just make sure that they all have the appropriate `Source:` and we can use to filter later.

[2019-04-06 17:38] cpu commented on #226
I took a crack at this: https://github.com/zmap/zlint/pull/278

:mag:'s welcome!

[2019-04-09 19:33] cpu commented on #226
There's a basic lint for counting SCTs in-tree now modelled after Apple's policy (with some caveats).

@rmhrisk In your original issue description you specifically call out having an informational lint for Chrome's CT policy so I haven't closed this issue as resolved because I don't think my counting lint meets this bar.

---

On the question of how to close this issue and more accurately lint Chr

[2019-04-09 19:48] titanous commented on #226
I think a separate Go package that can fetch/normalize the data from the Google and Apple feeds would be the best way forward. This package could also be useful for server software that wants to check if a certificate meets CT requirements, so might be a good place for some of the linting logic in reusable form?

[2019-04-09 23:18] rmhrisk commented on #226
I agree with @titanous. It seems that a re-usable module like that would be needed by many and isnt really core to zlint itself.

[2019-04-10 08:12] robstradling commented on #226
Could any of these packages be (re-)used by ZLint for this purpose?
https://github.com/google/certificate-transparency-go/tree/master/ctpolicy
https://github.com/google/certificate-transparency-go/tree/master/loglist
https://github.com/google/certificate-transparency-go/tree/master/loglist2

[2019-04-10 13:09] cpu commented on #226
@robstradling Those look perfect, great find! I didn't realize ct-go implemented this.

[2019-05-07 09:40] mtgag commented on #272
Yes, we will take a look into it.

[2019-05-09 18:26] rwbaumg commented on #272
I am seeing the same problem.

This does appear to be a bug, since the ASN.1 encoding for retention period is correct in my test certificate according to ETSI documentation, and the extension is parsed just fine by a number of other tools.

The issue appears to be around [qc_stmt.go#L244)](https://github.com/zmap/zlint/blob/master/util/qc_stmt.go#L244) but I have not had a chance to do much debugg

[2019-05-16 07:07] mtgag commented on #272
in the MTG fork a fix for this problem is provided. Please take a look at

https://github.com/zmap/zlint/pull/282

[2019-05-21 18:01] cpu opened #283 "Lint rsaEncryption algorithm identifiers for mandatory NULL params"
[RFC 3279, Section 2.3.1 "RSA Keys"](https://tools.ietf.org/html/rfc3279#section-2.3.1) says the following about the `rsaEncryption` algorithm identifier encoding:

[code]

It was noted by [@sleevi on MDSP](https://groups.google.com/d/msg/mozilla.dev.security.policy/NFAG2_o3dhY/gQ2UW_ohAwAJ) that there are real-world certificates that violate this aspect of RFC 3279 and are flagged by `certlint` b

[2019-05-21 19:33] cpu commented on #283
I put a PR up for this in #285.

[2019-05-21 19:44] cpu commented on #277
@dougbeattie Are any of your developers working on this issue?

[2019-05-22 19:48] dougbeattie commented on #277
Yes, we're working on the one at the moment:
- RSA Modulus must be a multiple of 8.

Also, I received this input from Wayne at Mozilla on a couple of others that might be useful:
- P-521 is not permitted
- Intermediates issued after January 1st 2019 must have EKUs
- Backdating of certificates is not permitted.  When using zLint as a preissuance checker, it could check that the date of the certific

[2019-05-24 15:24] tadukurow commented on #277
We're indeed looking into this. Just looking into clarifying some final points, but should have these added fairly quickly after that.

[2019-05-28 11:09] dougbeattie commented on #277
We're having some trouble with defining when a lint should apply.
Zlint automatically determines if something should be CABF compliant or not based on DV/OV/EV and keyusages, but the mozilla policy is for any root in their store, so we can't think of a similar mechanism.  Does anyone have some guidance for us on this?

[2019-05-28 18:02] zakird commented on #277
There isn't a beautiful solution to this. I think that the right thing to do here is to create a lint, but set the source to be Mozilla. We can then change the runner to choose which corpus of tests to run.

[2019-06-02 14:32] cpu commented on #283
After discussion and some collaboration we've arrived at a better lint for this issue in https://github.com/zmap/zlint/pull/286 replacing my naive version in #285.

[2019-06-06 12:24] cpu commented on #283
Resolved by https://github.com/zmap/zlint/pull/286 thanks to @tadukurow & co. :tada:

[2019-06-06 12:24] #283 closed

[2019-06-07 17:44] zakird commented on #272
Given that this was resolved in #282, I'm going to close this.

[2019-06-07 17:44] #272 closed

[2019-07-19 10:09] jinNakamura opened #291 "Ambiguity on KeyUsage with ECC public key"
This issue was discussed in GoogleGroups and Bugzilla as follows:
<https://groups.google.com/forum/#!searchin/mozilla.dev.security.policy/ito%7Csort:date/mozilla.dev.security.policy/vDhKG7T6sCM/gKwMGqrYAwAJ>
<https://bugzilla.mozilla.org/show_bug.cgi?id=1560234>

If the KeyUsage of the certificate with ECC public key contains both digital signature and key encryption, cablint returns as the error

[2019-07-19 17:21] cpu commented on #291
:wave: Thanks for opening an issue about this @jinNakamura. I spent a little bit of time reading the MDSP, LAMPS/SPASM, and Bugzilla discussion and I _think_ I'm up to speed now.

My understanding of the discussion consensus is that while this EKU/public key algorithm combination is non-sense it isn't clearly forbidden by the relevant RFCs/BRs as they are written today. Based on that conclusion th

[2019-07-19 18:49] cpu commented on #270
This issue has been open for a while without any objections surfacing. Three people beyond @agwa have indicated some positive support with a :heart: reactji (_surely the most formal of democratic signalling mechanisms_) so I opened a PR to remove the lint: https://github.com/zmap/zlint/pull/292

[2019-07-19 20:32] cardonator commented on #291
@cpu I agree with your assessment. Unfortunately, there are a number of places in the RFCs and BRs where the ambiguity of the term "MAY" is left up to the interpretation of the CABF and not clearly defined in the documentation. This was also the case with a previous PR that was rejected.

One of the difficult aspects of just flat out re-implementing cablint and x509lint functionality into zlint is

[2019-07-20 01:53] #270 closed

[2019-07-22 12:53] cpu commented on #291
@cardonator These are good points, thanks. You've convinced me that avoiding `Error` level for the time being is prudent since it would be easy to ratchet to that level in the future.

I'm fairly fuzzy on what the distinction is meant to be between `Notice` and `Warn`, is there a reason you favour the one of the other in this case?

One of my takeaway's from thinking about this issue is that it wo

[2019-07-22 17:53] cardonator commented on #291
@cpu based on our use case with zlint, we use Notices to log informational only lints during the issuance process, but they don't impact issuing the certs at all. When we get a Warning, the lint message has to be reviewed prior to issuance. When we get an Error, we alert and block issuance.

[2019-07-23 22:54] zakird commented on #291
I haven't had a chance to look at this issue in depth, but I wanted to provide some historical context on the lint levels. We originally defined four levels with specific definitions.

*Error:* Violation of RFC/BR `MAY` or `MAY NOT` type of statements. Certificate unequivocally does not conform to standard. Each lint _must_ have a specific statement like that in its citation.

*Warn:* Violation of

[2019-07-23 23:18] cardonator commented on #291
@zakird Thanks for the historical context. Out of curiosity, did you mean to say `MUST` and `MUST NOT` as part of the definition of an `Error` type? IMO much of the ambiguity comes from `MAY` and `MAY NOT` which don't necessarily imply that the opposite behavior is disallowed by the BRs/RFCs. This ambiguity was highlighted by Ryan in the referenced conversation:

of values (X, Y, Z) means SHALL NO

[2019-07-23 23:18] zakird commented on #291
🤦‍♂ You're absolutely correct. `MUST`/`MUST NOT` not `MAY`/`MAY NOT` May/May not would be warnings.

[2019-07-24 01:21] jinNakamura commented on #291
Thank you for your comments.
As you said, the RFC has not been officially updated yet.
Therefore, we also thought that the Warn level is appropriate at this stage.
Also, if the RFC is officially updated, we will let you know the information again.

[2019-07-24 14:17] cpu commented on #291
@zakird Thank you for the added historical context on the lint levels. That was really useful to read :+1:  I think your description of `Notice` matches up well with @cardonator's rationale/preference for this specific situation.

Unless someone else is more eager than me I'll work on banging out a quick lint for this at the `Notice` level in the next ~week.

Thanks @jinNakamura, that would be gre

[2019-07-25 20:21] cpu commented on #291
Here's a PR: https://github.com/zmap/zlint/pull/293 I'd appreciate :mag:'s and :eyes:'s when folks are free. Thanks!

[2019-07-26 13:29] #291 closed

[2019-07-26 13:30] cpu commented on #291
Resolved in master by d9a29c3 :tada:

[2019-07-31 18:50] jsha opened #298 "ct_sct_policy_count_unsatisfied should ignore precertificates"
Follow up to https://github.com/zmap/zlint/pull/278. Since precertificates never have SCTs, the ct_sct_policy_count_unsatisfied linter should ignore precertificates.

Related also to https://github.com/letsencrypt/boulder/pull/4378.

[2019-07-31 18:51] cpu commented on #298
:+1: I'll work on a fix for this shortly.

[2019-08-01 15:25] cpu commented on #298
As promised: https://github.com/zmap/zlint/pull/299

[2019-08-01 16:21] #298 closed

[2019-08-09 02:00] aysylu opened #305 "lints/result.go error: undefined strings.ReplaceAll"
I found this when running [Kritis](https://github.com/grafeas/kritis) integration tests, stack trace below:

[code]

[2019-08-09 02:47] zakird commented on #305
Can you confirm the version of Go you're using? Offhand, I suspect you're using an outdated version, `strings.ReplaceAll` was added fairly recently.

[2019-08-09 03:47] cardonator commented on #305
It was added in Go 1.12 so very likely out of date Go version on the Kritis side.

[2019-08-09 13:58] cpu commented on #305
It's not made explicit in the readme but I consider `zlint` to require Go 1.12.x, largely because that's the only version used in [the project .travis.yml](https://github.com/zmap/zlint/blob/88c3f6b6f2f5ebc573c4679e548d6f1823d89213/.travis.yml#L5-L6) for running tests in CI. I'll open a PR to update the README to call this requirement out more explicitly.

I didn't intentionally introduce Go 1.12.

[2019-08-09 14:04] cpu commented on #305
https://github.com/zmap/zlint/pull/306

[2019-08-09 14:07] cpu opened #307 "Consider semver releases"
Adopting [semver](https://semver.org/) and tagged releases would help relying projects avoid breakages like described in https://github.com/zmap/zlint/issues/305 and is a best practice for Go module projects. Presently most projects will track master or have to pick fixed commits manually.

What do other folks think?

[2019-08-09 14:17] cardonator commented on #307
In my opinion, it only makes sense to adopt Semver and make the releases compatible with the Go module system.

[2019-08-09 16:36] aysylu commented on #305
@cpu @cardonator @zakird thank you all! I'll update Kritis infrastructure accordingly.

[2019-08-09 16:36] #305 closed

[2019-08-09 22:13] zakird commented on #307
Yes please! I had originally planned to release 1.0.0 when all of the lints had tests, but given that it's already in production at a number of places, I don't think it makes sense to block on that.

[2019-08-19 19:50] cpu commented on #307
:ballot_box_with_check: - https://github.com/zmap/zlint/releases/tag/v1.0.0

I updated the README with [some guidance](https://github.com/zmap/zlint/pull/310) to keep in mind as we move forward with zlint maintenance in a semver world.

Thanks for the input everyone, congrats on a `v1.0.0` release :+1:

[2019-08-19 19:50] #307 closed

[2019-08-26 14:07] cpu opened #312 "Add "integration" testing against large cert corpus"
Suggested by @zakird: To better catch regressions like [this one](https://github.com/zmap/zlint/pull/311) it would be beneficial if `zlint`'s continuous integration included a step that ran all of the `zlint`'s lints across a large (1M? 10M? 100M?) certificate corpus. Any differences in lint results for corpus certificates should be expected, or investigated.

Some initial design thoughts:
* It wo

[2019-09-06 15:26] cpu commented on #312
Quick update for this issue: I have a big collection of certs ready to go (thanks to @zakird) and plan to start working on the Travis side, hopefully over the next week. The last week or so has been preempted by fire fighting :fire: :fire_engine:

[2019-09-12 09:30] l-ko opened #316 "go get fails from alpine"
Dockerfile:
[code]

outputs:
[code]

[2019-09-13 09:25] l-ko commented on #316
@cpu alright, I've managed to install `binutils 2.32-r0` alongside `go 1.12.8-r0` using the main alpine 3.10 repository, and it worked just fine.

Thank you.

[code]
[code]

[2019-09-13 11:20] #316 closed

[2019-09-13 11:54] cpu commented on #316
@l-ko Glad to hear it. Thanks for reporting back.

[2019-09-15 20:38] cpu commented on #312
I put up a proof-of-concept PR here: https://github.com/zmap/zlint/pull/318 The PR description calls out some of the trade-offs made. I think it strikes a good balance of coverage vs execution time vs in-repository bloat. Reviews/additional input welcome!

[2019-09-30 16:26] cpu opened #322 "Replace per-cert integration test golden data with per-lint."
This is a follow up for #318 which added integration tests that define expected golden state data as a property of certificates. It may be better to reframe this per-lint:

Quoting @zakird:

[2019-09-30 16:26] cpu commented on #312
Resolved by #318. Tracking a proposed follow-up improvement in https://github.com/zmap/zlint/issues/322

[2019-09-30 16:26] #312 closed

[2019-09-30 16:43] cpu commented on #322
I'll probably have a PR in the works for this mid/late next week. If someone else wants to take a crack at it before then let me know and I'll remove my assignment from the issue.

[2019-11-07 11:03] falko-strenzke opened #324 "Fatal Error parsing invalid cert aborts unit tests"
I tried to use the certificate below as test-data in a unit test. The certificate is invalid since it features a GeneralString in the subject:organizationIdentifier. When trying to parse the certificate this leads to

    FATA[0000] unable to parse PEM
    exit status 1

During unit tests, this leads to the abortion of the tests due to a panic. I think the unit test framework should at least catch

[2019-11-07 13:39] zakird commented on #324
We agree, this is not expected behavior. If ZLint is unable to parse a certificate that should result with the lint failing with a `FATAL` not for the library to panic.

[2019-11-07 13:44] zakird commented on #324
Actually, scratch that last comment. This certificate does not cause the library to panic. When the certificate is in the form you presented:
[code]

As such this doesn't look like a bug.

[2019-11-08 08:37] cryptosource-GmbH commented on #324
What I meant was that the in the unit tests the panic is uncaught. I simply added the cert to the list of test certificates in one of the test files. When running
    go test -v lints/*
this results in
[code]

But I assume the only way to deal with this would be to recover from the panic within the lint and possibly then return a fatal result.

[2019-11-08 14:37] cpu commented on #324
@cryptosource-GmbH (_are you also @falko-strenzke btw or are we talking to two people?_) I agree with @zakird's assessment here. The panic in your last comment seems like working-as-expected behaviour to me. If you add a corrupt test file to a unit test a panic seems like a reasonable response. I see it as a developer facing problem to a developer introduced issue. The `ReadCertificate` function f

[2019-11-11 21:58] cpu commented on #322
Massively failed on this projected timeline but I haven't forgotten :-)

[2019-11-12 14:10] cpu commented on #324
I'm going to close this issue since it seems we've settled on a wontfix outcome. The discussion can continue in this thread if needed. Thanks!

[2019-11-12 14:10] #324 closed

[2019-11-18 16:29] monomosc opened #326 "e_signature_algorithm_not_supported should warn not err for RSA PSS"
The ```e_signature_algorithm_not_supported``` Lint currently prohibits PSS-signed Certificates. Is there a reason for that?

Specifically, the line

[code]
is missing the ```SHA256WithRSAPSS,SHA384WithRSAPSS,SHA512WithRSAPSS``` SignatureAlgorithm OIDs. I couldn't find anything in the BRs prohibiting those Signature Algorithms.

Note that rsaPSS is also sometimes referred to as PKCS#1 2.1.

[2019-11-18 16:34] zakird commented on #326
I'm not seeing anything in the BRs that specifically preclude this, at least in 6.1.5.

[2019-11-18 16:38] sleevi commented on #326
Yeah, there’s some active discussion around it.

Here’s the status:
1. BRs 6.1.5 are ambiguous as to the potential RSA algorithms that can be used.
2. Currently, Mozilla Firefox, Google Chrome, and Apple Safari do not support PSS certificates, nor does the Chromium-based Edge. I’m not sure for the IE-based Edge
3. Mozilla Policy 2.7 is considering either limiting the encoding or outright forbiddin

[2019-11-18 16:43] monomosc commented on #326
Maybe an interesting side note: All browsers except Mozilla do not complain at all when presented a valid Certificate signed with rsaPSS.

And just 4 days ago Mozilla [announced support of PSS](https://github.com/mozilla/pkipolicy/blob/2.7/rootstore/policy.md#511-rsa)
after finally resolving this [age-old issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1088140)

I am actually very sure that rs

[2019-11-18 16:45] sleevi commented on #326
I don’t believe that’s true. Could you describe how you tested?

I wrote that PR. It wasn’t intended to indicate support, just expectations. The NSS library still has issues here.

[2019-11-18 16:53] monomosc commented on #326
That's interesting and not at all clear to me. I got it from here: https://bugzilla.mozilla.org/show_bug.cgi?id=1088140, citing directly

which does not make that clear.

On it. Give me some time.

[2019-11-18 17:19] sleevi commented on #326
Right, there are “layers” of support being discussed.

Of relevance are both support at the SPKI layer (keys expressed with an OID other than rsaEncryption) and at the signature layer. That’s also why I asked about your testing methodology, and Wayne trying to clarify on that bug that PSS SPKIs are not supported (and, related, PSS signatures are not supported by Mozilla::PKIX or by the NSS CERT la

[2019-11-18 17:32] monomosc commented on #326
So I did absolutely nothing special and:

Chrome:
![chrome](https://user-images.githubusercontent.com/24259919/69074617-05309780-0a30-11ea-8ee2-bd5c2bfd3018.png)

Edge:
![edge](https://user-images.githubusercontent.com/24259919/69074626-0792f180-0a30-11ea-9227-6b7039134926.png)

Note that this is in our company-internal network with company-internally trusted Roots (Root is signed with PKCS#1 1.5,

[2019-11-18 17:35] sleevi commented on #326
Thanks. I omitted Windows because CAPI is the one platform that supports
PSS signatures, and presently, Chrome added support to continue to
interoperate with our Windows users. For a portion of users, that support
is disabled :)

[2019-11-18 17:39] cpu commented on #326
:+1: Seems reasonable to change `e_signature_algorithm_not_supported` to return `lints.Warn` for this case instead of `lints.Error`.

@monomosc I can commit to reviewing a PR that would impl. the change to warning. Thanks!

[2019-11-18 17:50] monomosc commented on #326
PSS signatures, and presently, Chrome added support to continue to
interoperate with our Windows users. For a portion of users, that support
is disabled :)

Ooooh, I see. Didn't know that. Damn those windows-loving ******.

Ok then. If my opinion were to count for anything, I'd vote for at least reducing the linter level to Warning, as it might cause compatibility issues for customers of Web PKI,

[2019-11-18 17:52] zakird commented on #326
I agree, let's move this to a warning since that's what's in the BRs. If Mozilla policies prohibits, we can add another lint to match that document and to cite appropriately.

[2019-11-19 16:42] cryptosource-GmbH commented on #324
yes, it's the same person ;-) I agree, we can close the thread. Thank you both for your suggestions.

[2019-11-22 09:02] recksiek2 opened #328 "question: A detailed list of BR coverage can be found here"
I had a look to the excel spreadsheet https://docs.google.com/spreadsheets/d/1ywp0op9mkTaggigpdF2YMTubepowJ50KQBhc_b00e-Y.
I noticed that the Zlint errors (e_*) documented in the excel do not correspond to the current code.
Is this an old excel sheet?

[2019-11-22 13:16] recksiek2 commented on #328
in addition to above comment, is there documentation available which sections are covered by zlint regarding RFC5280?

[2019-11-22 17:21] zakird commented on #328
This is the most up-to-date set we have, if there are errors, it'd be great to get those resolved in the sheet.

[2019-11-24 00:17] cpu commented on #322
Better late than never, right? :rocket:  https://github.com/zmap/zlint/pull/329

[2019-11-24 21:51] #322 closed

[2019-11-25 10:18] recksiek2 commented on #328
it is available, its just inside another sheet from the spreadsheet. Sorry for the confusion!

[2019-11-26 17:22] cpu opened #332 "Cut 1.1.0 release tag"
There's a new `w_extra_subject_common_names` lint in master. Per the [versioning note](https://github.com/zmap/zlint#versioning) in the README we should make the next release a MINOR version bump.

I'm in favour of releasing tags frequently and think we should aim to do this ~the 5th of Dec. When the lints in #323 are ready we can cut another tag.

[2019-12-04 13:34] cpu commented on #326
@monomosc Are you still interested in submitting a PR to change this linter's result level for the RSA PSS case? No pressure, just looking to make sure if you don't have the time that it gets picked up by someone else.

[2019-12-05 15:19] cpu commented on #332
Fresh from the press: https://github.com/zmap/zlint/releases/tag/v1.1.0

[2019-12-05 15:19] #332 closed

[2019-12-10 17:57] monomosc commented on #326
Hi, I have started work on this and then got interrupted - I'm still looking to finish this but if I haven't at least submitted a PR soon I understand if someone else picks this up.

[2020-01-06 18:38] cpu commented on #326
:wave: I ended up writing a quick PR to address this: https://github.com/zmap/zlint/pull/342

Since this issue was opened [v2.7 of the Mozilla root program](https://github.com/mozilla/pkipolicy/pull/199/files) was adopted and like @sleevi mentioned it has language to specifically forbid the RSASSA-PSS signature scheme OID:

Once the open PRs are resolved I'd like to come back around on the new Moz

[2020-01-06 18:56] #326 closed

[2020-01-06 23:17] cardonator opened #343 "Question regarding cabf_br/lint_subject_contains_malformed_arpa_ip"
We got a hit on this lint for a cert that has a common name in the format of:

[code]

Looking at this lint, it is producing a warning and I just want to make sure this lint is being helpful in this case.

The extended warning I'm getting is

[code]

The rule this references is BR 7.1.4.2.1 which doesn't really seem to reference anything other than reserved IP address blocks. I don't think this is

[2020-01-07 14:21] cpu commented on #343
:wave: @cardonator Thanks for the question.

I wrote this lint myself before I had much experience with ZLint and when the guidance on what status to return for different cases was a little bit less established. I suspect I might have been too strict here but I'll have to rebuild the context. I have a memory of an RFC that indicated reverse IPv6 addrs should always be fully expanded. I'll get back

[2020-01-07 14:59] cpu commented on #343
I was thinking of [RFC 3596](https://tools.ietf.org/html/rfc3596), specifically [§2.5 "IP6.ARPA Domain"](https://tools.ietf.org/html/rfc3596#section-2.5).  That section seems to me to be fairly explicit that each nibble of the IPv6 address is represented by a hex digit, like shown in the example address conversion:

That's how I arrived at the value of 32 expected labels for each IPv6.ARPA domain

[2020-01-07 15:16] sleevi commented on #343
@cpu

While I'm fine with moving it `community`, I suspect this is something the CA/B Forum should take up, because I would suggest the intent is to forbid it via 3.2.2.6 of the BRs and through 3.2.2.4's prohibitions on wildcards-for-IPs, and because for the reasons you cite, it's unclear to me how a CA could fulfill the obligations of the BRs for such a name.

The 3.2.2.6 argument is that `ipv6.a

[2020-01-07 15:29] cpu commented on #343
One correction: I had more coffee and realized the existing lint already treats this case as a warning and not an error. The only change would be to move it to community.

https://github.com/zmap/zlint/blob/9bba7b7e572cd92a5b6d74ad0520522f45277ffc/lints/cabf_br/lint_subject_contains_malformed_arpa_ip.go#L73-L76

@sleevi Thanks for weighing in. That makes sense to me. I agree with you that this fee

[2020-01-07 15:33] cpu opened #344 "Support configurable lint sources for LintCertificate"
In https://github.com/zmap/zlint/pull/337 we split lints into directories by category. We should follow up on this change by implementing a breaking API change that will allow consumers to provide an options struct to the top level `zlint.LintCertificate` function that allows choosing lint categories/sources to use to lint the certificate.

We will also need to decide on default lint categories. M

[2020-01-07 15:34] cpu commented on #344
I've assigned myself this issue but may not have a chance to submit a PR for a little bit. If someone else is eager to take this let me know and I'll re-assign.

[2020-01-07 16:38] zakird commented on #343
This doesn't strike me as something worth moving offhand, at least until this is resolved in CA/B Forum. The error case seems to match the CABF BRs, and a warn doesn't seem inappropriate since it would be against community expectations to issue a wildcard like that.

[2020-01-07 18:40] cardonator commented on #343
Thanks for the feedback all.

@sleevi The common root of `0.0.1.f.5.4.3.ip6.arpa` was validated using a DNS TXT Random Value. The Random Value was generated and set by the customer correctly according to the BRs. DNS tools are able to correctly pull DNS records at this level. (For clarity, I did modify the provided SAN to be a format vs. the actual customer submitted domain) However, I can see roo

[2020-01-07 18:56] timfromdigicert commented on #343
I'll put it on next week's Validation WG agenda.

[2020-01-07 19:38] cpu commented on #343
@cardonator This is good feedback, thanks! I made a clumsy attempt at improving the situation with
https://github.com/zmap/zlint/pull/345 It isn't perfect but I think is a step in the right direction while the larger discussion is in progress.

[2020-01-07 20:15] cardonator commented on #344
Personally, I agree with running all categories by default unless otherwise specified. Also, does it make sense to have include _and_ exclude category capability? (I'm specifically thinking of ETSI here where you might want to "run everything except ETSI".

[2020-01-07 20:20] cpu commented on #344
That sounds nice :+1:

[2020-01-07 20:36] cpu commented on #344
Chatting about this more with @zakird I'm open to the idea of defaulting to all lint sources just for CI and having the library offer a more conservative default (that's his preference). I'm primarily worried about bit rot in CI if there are lint categories that aren't exercised during integration tests.

[2020-01-07 20:57] timfromdigicert commented on #344
If everything is run by default, and you get something you don't like, you can turn that off.

If everything isn't run by default, and you don't get something you needed, you're guaranteed not to notice.

[2020-01-13 17:30] weddi-eddy opened #346 "[Request] Lint Testing Folder"
Would it make sense to add an **experimentals** folder for lints such as this one that are suggested but need additional testing and comment? I guess by default, these should be excluded in the API, but can be included for CA and auditor development environments. It gives internal devs an easier to way to test it and possibly provide feedback.

If you did this however, you would need to think abou

[2020-01-13 17:41] sleevi commented on #346
Setting aside the implementation for a second, what's the workflow you're thinking for how ZLint users will use this?

That is, it seems like as a production CA, you'd want to make sure you enable lints you're confident in: no false negatives and no false positives, ideally. You would not want to enable additional lints that had false positives (those could cause issuance rejection), and you would

[2020-01-13 18:20] weddi-eddy commented on #346
So, here's where the idea stemmed from.  The PSD2 new CABF OIDs don't have to be in place until the end of this month (don't quote me on that... but I believe that's the deadline). When new fields are implemented, we perform a ton of testing of the new fields in a non-trusted development environment.  When I send a certificate through ZLint (pre-certificate or otherwise), I get the results back an

[2020-01-13 20:02] zakird commented on #346
If this is the use case, then I think there are better solutions in typical development/release lifecycles. We can (and likely should) move to a solution where a RC is released ahead of time for something like that. Folks can run the RC in their development/testing environment and then we can release the major version after folks have had a chance to test. The proposed solutions mixes provenance a

[2020-01-13 20:07] weddi-eddy commented on #346
Yeah! That's an acceptable approach and solves my issue.  I think that there needs to be a defined time between RC and release.  Compliance teams often ask when a certain lint is to be released and it's nice to have an answer (either based on date or time lapse of RC to R).

[2020-01-13 20:09] cpu commented on #346
I'm open to that :+1:

[2020-01-13 20:10] weddi-eddy opened #350 "[Question] - Including and Excluding Folders"
Hello.  This is a question I was wondering based on comments in pull 336.

How can we include or exclude lints from various folders? Is there an easy way to do this?  Let's say I have a bunch of CAs in a picnic basket that only need to conform to one or a select few Lint folders.  How can I set ZLint to only check the folders (and lints within the folders) of what I want?

[2020-01-13 20:14] cpu commented on #350
:wave: hi @weddi-eddy. Thanks for the question,

There isn't a way to do this presently without modifying the ZLint source (e.g. to omit the `RegisterLint` calls from the lints you don't want run). You'll want to track this issue for an update to the linting API that would allow specifying categories to include/exclude: https://github.com/zmap/zlint/issues/344

I'm going to close this issue to kee

[2020-01-13 20:14] #350 closed

[2020-01-13 20:15] weddi-eddy commented on #346
I know for our DEV systems, we automate some of the builds and upgrades (and keep a copy of existing versions and lints for backup purposes).  Would being able to obtain a copy of this RC be a trivial task through a Github command?  I apologize if this is a simple question. I'm fairly new to github and it pull procedures.

[2020-01-13 20:20] cpu commented on #346
It should be possible. There is a way to work with "releases" [through the Github API](https://developer.github.com/v3/repos/releases/). One of the fields specified for releases is a `prerelease` bool. Likely we will publish RC releases to Github with this bool set to true.

[2020-01-13 20:23] weddi-eddy commented on #344
It'd be really cool to have a switch to be able to select what you want. By default, I'd say it does everything (which, perhaps there's a switch that simply lists the folders and can also list the lints in each folder; something like zlint --list-folders or something).  If you run zlint as per normal, it does the default folders, whatever is considered to be default.  If you want specifics, then y

[2020-01-13 20:34] weddi-eddy commented on #344
Thinking on this a bit more, I think there should be a way of easily telling what is included by default (for sanity's sake) so you know what ZLint is polling against.

[2020-01-13 20:36] zakird commented on #344
Quick note, I would strongly prefer this to be based on ZLint Source not directory.

[2020-01-13 20:39] cardonator commented on #344
I agree, I'd prefer it to be based on source.

[2020-01-13 20:41] weddi-eddy commented on #344
Sure! I say directory but realistically, I just like the idea of switches as it can be easily scripted. Source is fine.

[2020-01-13 20:43] cpu commented on #344
Yup, agreed on the folders front (I avoided the term in my issue desc). The folder is a source level construct associated with [the package](https://golang.org/doc/code.html#Organization) and is compiled away. It's something contributing developers should be concerned with but not consumers of the API or the `zlint` command line.

Otherwise the idea to be able to enumerate the available sources pr

[2020-01-13 20:52] cpu opened #351 "Formalize release process, consider tooling"
In #307 the project switched to [semantic versioning](https://semver.org/) and started to cut regular [release tags](https://github.com/zmap/zlint/releases) accordingly.

Discussion in https://github.com/zmap/zlint/issues/346 prompted the request that ZLint start providing "release candidate" releases before finalizing final releases. The general idea being to provide a more formalized pre-release

[2020-01-13 20:54] cpu commented on #346
I opened an issue to track the discussion on providing RCs: https://github.com/zmap/zlint/issues/351

@weddi-eddy If you agree that would meet the needs expressed in this issue I'd appreciate if you could close it out so we can keep things tidy. Thanks!

[2020-01-14 12:56] weddi-eddy commented on #346
Thanks @cpu! You guys rock!

[2020-01-14 12:56] #346 closed

[2020-01-15 14:50] cpu opened #352 "Mozilla trusted roots data set and assoc. tooling"
ZLint's Mozilla root program specific lints will deliver the best quality results when we have the infrastructure in place to make a determination if a public key corresponds to an SPKI from the Mozilla trusted root set.

One approach (originally included as part of #323) is to process certificates from the NSS `certdata.txt` file, emitting SHA256 hashes of the associated encoded SPKI fields. The

[2020-01-15 16:57] cpu opened #354 "Coverage for Mozilla PKI policy requirements"
This is a top-level issue to capture overall progress towards having acceptable ZLint coverage for the [Mozilla PKI policy requirements](https://github.com/mozilla/pkipolicy). It replaces the more general discussion from #277.

The list below should be considered **incomplete** until someone has time to do a full read through of the PKI Policy comparing the requirements listed with the existing ZL

[2020-01-15 16:58] cpu commented on #277
Closing in favour of https://github.com/zmap/zlint/issues/354 - There's been work done in master to split up lints by source and I'd favour seeing smaller issues created off of one larger tracking issue.

Thanks!

[2020-01-15 17:00] cpu opened #355 "Lint for Mozilla PKI policy allowed ECDSA curves"
See https://github.com/mozilla/pkipolicy/blob/master/rootstore/policy.md#51-algorithms

[2020-01-15 17:03] cpu opened #356 "Lint for Mozilla PKI policy RSASSA-PSS encoding requirements"
See https://github.com/mozilla/pkipolicy/blob/master/rootstore/policy.md#511-rsa

[2020-01-15 17:04] cpu opened #357 "Lint for Mozilla PKI policy omission of id-RSASSA-PSS oid"
See https://github.com/mozilla/pkipolicy/blob/master/rootstore/policy.md#511-rsa

[2020-01-15 17:05] cpu opened #358 "Lint for Mozilla PKI Policy for ECDSA encoding requirements"
See https://github.com/mozilla/pkipolicy/blob/master/rootstore/policy.md#512-ecdsa

[2020-01-15 17:11] cpu commented on #344
I decided to prioritize landing the Mozilla lints that have been in the PR queue for a long time w/ #353. I'll return to this once as much of that code as can be landed is in master.

[2020-01-15 18:20] cpu commented on #277
I neglected to consider that this issue also requested lints for Microsoft root program reqs. I think it makes sense to consider applying the same process as I've started for #354 for the Microsoft requirements. I don't have the bandwidth to pick that up in addition to managing the Moz. reqs so I'll re-open this issue for now as a marker.

[2020-01-15 18:50] sleevi opened #359 "Microsoft trusted roots data set and assoc. tooling"
Similar to the discussion on https://github.com/zmap/zlint/issues/352 , it would be good to be able to apply lints to the set of Microsoft-trusted CAs.

There are several ways this can be implemented:
- Pulling the latest authroot.stl from the [authroot.cab](http://ctldl.windowsupdate.com/msdownload/update/v3/static/trustedr/en/authrootstl.cab) and emitting a `[]string` of SPKIs, similar to the Mo

[2020-01-15 18:59] sleevi opened #360 "Lint for Microsoft PKI policy EKU separation"
See https://docs.microsoft.com/en-us/security/trusted-root/program-requirements#4-program-technical-requirements , 11 and 12
11.

12.

The 'effective date' for _new_ in Item 11 is 2015-07-23, as per [Version 2.0 of the Microsoft Trusted Root Program Requirements](https://social.technet.microsoft.com/wiki/contents/articles/31633.microsoft-trusted-root-program-requirements.aspx)  that introduced thi

[2020-01-15 19:02] sleevi opened #361 "Lint for Microsoft PKI policy requiring CA/Browser Forum OIDs"
See https://docs.microsoft.com/en-us/security/trusted-root/program-requirements#4-program-technical-requirements , Item 15

The effective date for this requirement is 2015-07-23, per [Version 2.0 of the Microsoft Trusted Root Program Requirements](https://social.technet.microsoft.com/wiki/contents/articles/31633.microsoft-trusted-root-program-requirements.aspx) that introduced this requirement.

[2020-01-15 19:08] sleevi opened #362 "Lint for Microsoft PKI policy requiring OCSP"
See https://docs.microsoft.com/en-us/security/trusted-root/program-requirements#4-program-technical-requirements , Item A.5

[2020-01-15 19:09] sleevi opened #363 "Coverage for Microsoft PKI policy requirements"
This is a top-level issue to capture overall progress towards having acceptable ZLint coverage for the [Microsoft PKI policy requirements](https://aka.ms/rootcert). It replaces the more general discussion from #277.

The list below should be considered **incomplete** until someone has time to do a full read through of the PKI Policy comparing the requirements listed with the existing ZLint lints.

[2020-01-15 19:10] sleevi commented on #277
@cpu I filed https://github.com/zmap/zlint/issues/363 for the Microsoft requirements, to at least make it easier for folks to get started.

[2020-01-15 19:11] #277 closed

[2020-01-15 19:14] cpu commented on #277
Thanks @sleevi ! Much appreciated.

[2020-01-16 17:28] cpu commented on #354
#277 landed in master. I've updated the list to indicate what requirements were covered by that PR's 5 new lints.

[2020-01-17 22:16] cpu commented on #344
I started working on this feature. I'm going to try and break it up across a handful of PRs. The first of which (likely the largest by diff size) is ready for review: https://github.com/zmap/zlint/pull/364

[2020-01-20 22:08] cpu commented on #344
I made some progress on this today and have [a mostly complete implementation branch](https://github.com/cpu/zlint/tree/cpu-refactors-lint-registration) ([WIP Diff here](https://github.com/zmap/zlint/compare/master...cpu:cpu-refactors-lint-registration?expand=1)).

I still need to do a cleanup pass, add some missing unit test coverage, and update documentation. Everything in there is subject to ch

[2020-01-22 21:16] jsha opened #368 "Add lints for DirectoryString encoding as Printable or UTF8"
https://tools.ietf.org/html/rfc5280#page-24

   When encoding attribute values of type DirectoryString, conforming
   CAs MUST use PrintableString or UTF8String encoding, with the
   following exceptions:

      (a)  When the subject of the certificate is a CA, the subject
           field MUST be encoded in the same way as it is encoded in the
           issuer field (Section 4.1.2.4) in all cert

[2020-01-22 22:12] jsha opened #369 "explicitText lint description and semantics differ from RFC 5280"
The description of explicitText in https://github.com/zmap/zlint/blob/e3ad0f9eba10b1fa0ee70e6581a627cdfeaa590c/lints/rfc/lint_ext_cert_policy_explicit_text_not_utf8.go#L17-L28

Differs from [RFC 5280 page 33](https://tools.ietf.org/html/rfc5280#page-33):

I've emphasized the section that differs. I used Google to try and find the source of the language that's currently quoted in the lint, and it a

[2020-01-22 22:17] sleevi commented on #369
@jsha https://tools.ietf.org/html/rfc6818#section-3 ?

[2020-01-22 22:23] jsha commented on #369
Ah, thanks. I missed that one. I'll send a PR to add that reference to the lint comment.

[2020-01-22 23:03] sleevi opened #371 "Cleanup: Move the lint initialization to be the start of a file"
This came up in #369 , and then expanded upon in #370 .

The current style of lints is that they follow a form of
* `citation of relevant spec` (usually)
* `Lint.Initialize`
* `Lint.CheckApplies`
* `Lint.Execute`
* `init()`

The citation of the relevant spec text is related to the `Citation` and `Source` within the new `Lint`, but that's not immediately clear, especially for `Lint`s that have siza

[2020-01-23 16:02] cpu commented on #344
My PR with the library/CLI updates is ready for review: https://github.com/zmap/zlint/pull/372

[2020-01-31 16:55] cpu commented on #356
I've heard out of band from @mtgag that they will be working on submitting a PR with an implementation for this issue. If someone else would like to work on this please coordinate efforts.

[2020-01-31 16:55] cpu commented on #357
I've heard out of band from @mtgag that they will be working on submitting a PR with an implementation for this issue. If someone else would like to work on this please coordinate efforts.

[2020-01-31 16:56] zakird commented on #369
Is this resolved? (I think it is, but not 100% and don't want to inappropriately close)

[2020-02-05 20:44] jsha opened #382 "Linting CRL and OCSP responses"
Hi all,

I think it would be useful to have linters for CRL and OCSP responses. Do you think that would be a good addition to this repo, or do those make sense as a separate tool?

Thanks,
Jacob

[2020-02-05 21:00] cpu commented on #382
Personally I think it makes sense to include in-repo :+1:

I suspect it might make be a good idea to make a separate command line tool (vs adding to `cmd/zlint/main.go`) for linting these other resource types from the CLI (if only to avoid piling in extra command line flags).

[2020-02-05 22:39] zakird commented on #382
I agree this makes sense. Similar to @cpu, I'd like to make sure it doesn't greatly complicate the existing code base.

[2020-02-10 19:39] cpu opened #383 "Update newLint.sh and template"
Now that lints are split up inside of `lints/` it probably makes sense to update `newLint.sh` to ask what folder the new lint should be created in.

[2020-02-11 18:43] #344 closed

[2020-02-11 19:00] cpu opened #384 "Allow filtering ResultSet by Status threshold"
Originally requested by @cardonator in https://github.com/zmap/zlint/pull/372#issuecomment-580441107 I had hoped to land a feature for this with #372 but ran out of time and don't want to block the RC tag.

Filtering lint results to only include those with a status above a configured threshold is a common requirement for downstream users of `zlint`, e.g. the `cfssl` integration supports this opera

[2020-02-11 21:57] cpu commented on #344
I'd encourage the folks that were interested in this functionality to test the [v2.0.0 release candidate](https://github.com/zmap/zlint/releases/tag/v2.0.0-rc1) that is now available. It includes the implementation of including/excluding lints by source (7741587) and lots of other treats (binary `zlint` cmd releases!).

I'll be working on smoke testing an integration with CFSSL ahead of pushing a

[2020-02-11 22:05] cpu commented on #351
This is all done now and we have our first release candidate available: https://github.com/zmap/zlint/releases/tag/v2.0.0-rc1

This was covered by https://github.com/zmap/zlint/pull/386

This was covered by https://github.com/zmap/zlint/pull/374

[2020-02-11 22:05] #351 closed

[2020-02-12 16:35] cpu opened #392 "Fix module incompatibility for v2.0.0-rc1"
We neglected to consider the Go module semantic import requirements ([docs](https://golang.org/cmd/go/#hdr-Module_compatibility_and_semantic_versioning)) and the `v2.0.0-rc1` tag (and the code w/ breaking API changes in master) aren't compatible. E.g. importing to CFSSL gives:

[code]

~I'm working on figuring out the best path forward. Likely it will involve creating a `v2` directory in the root

[2020-02-13 20:39] cpu commented on #383
Resolved by #397

[2020-02-13 20:39] #383 closed

[2020-02-14 23:28] cpu commented on #392
Resolved by https://github.com/zmap/zlint/commit/fd40f579253ea1ebfb18a585ab5cd8e7dcde61aa and published as [`v2.0.0-rc4`](https://github.com/zmap/zlint/releases/tag/v2.0.0-rc4)

[2020-02-14 23:28] #392 closed

[2020-02-20 18:02] cpu opened #407 "Lint for Apple root program certificate lifetime restriction"
There is an upcoming change to the Apple root program that will be reducing the maximum allowed certificate lifetime: https://support.apple.com/en-us/HT211025

~Once an official policy reference (I've only seen a [tweet](https://twitter.com/chosensecurity/status/1230253348236013570)) is available with more details (e.g. when does this requirement become active?) ZLint should implement a lint scope

[2020-02-25 18:15] cardonator opened #408 "[Question] Regarding the way v2 is set up in the repo"
Hi all, is there a reason a literal v2 folder was created in concert with updating to v2 of the library? I believe the idiomatic way of handling this is to leave your repo alone and just add `/v2` to the end of the module line in the go.mod file. Post Go 1.12, go get seems to be capable of understanding this semantic without requiring changes to the representation of your library in the repo.

If

[2020-02-25 19:26] cpu commented on #408
:wave: Hi @cardonator, thanks for the question.

What you're describing is what the Go module docs ["Releasing Modules (v2 or Higher)" section](https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher) calls the "Major Branch" approach: users import the code with the `v2` suffix but there's no matching directory in the source tree. In contrast, what ZLint has in master is what the

[2020-02-25 19:35] cardonator commented on #408
@cpu thanks for the explanation :+1:  That does make sense. I guess I skimmed over that section of the doc because I didn't like it (aesthetically ;) ).

[2020-02-25 19:48] #408 closed

[2020-02-26 18:28] sleevi opened #410 "Coverage for ETSI Requirements"
Similar to #354 and #363 , this top-level issue captures overall progress towards having acceptable ZLint coverage for [ETSI ESI](https://portal.etsi.org/tb.aspx?tbid=607&SubTB=607) developed [documents](https://portal.etsi.org/TB-SiteMap/esi/esi-activities)

## Required data/tooling:
* [ ] Lists of which CA-specific ("TSP-specific") OIDs are used to indicate a certificate is qualified
    (**Ref*

[2020-02-26 18:29] sleevi commented on #410
@mtgag I was having trouble parsing out which lints went to which requirements, so I attempted to try and distill some of them here. I'm not sure I matched the PRs to the right bits, but hopefully you can double check and make sure this looks correct?

I thought this might be easier to figure out prioritization as well as to figure out where/how to break stuff up discretely, in the event there are

[2020-02-26 19:14] sleevi opened #411 "Coverage for CABF BRs SC17 version 7: Alternative Registration Numbers for EV Certificates"
The CABForum adopted [SC17 v7](https://cabforum.org/2019/05/21/ballot-sc17-version-7-alternative-registration-numbers-for-ev-certificates/), which were adopted in [EV Guidelines v1.7.0](https://cabforum.org/wp-content/uploads/CA-Browser-Forum-EV-Guidelines-v1.7.0.pdf)

This permits the use of the `organizationIdentifier` field within the Subject, as well as introduces an additional extension to be

[2020-02-26 19:16] sleevi commented on #411
@mtgag Just trying to organize the other PRs.

[2020-02-26 22:18] zakird opened #412 "Project Decision: What is a Warning?"
When we initially started ZLint, all warnings and errors were expected to have a citation to an RFC or BRs statement. All other checks were expected to be Informational. There was a single exception to this rule: presence of subject CN since _every_ certificate has this. IIRC, some browsers would reject certificates without. Instead, all certificates today have an informational for this.

Since th

[2020-02-26 22:23] jsha commented on #412
FWIW, the way Boulder currently uses zlint, via cloudflare/cfssl, allows setting both an error level and a set of ignored lints. So we are able to ignore the CN lint while treating all other informational lints as blocking.

[2020-02-26 22:25] zakird commented on #412
Out of curiosity, do you block any others?

[2020-02-26 22:45] sleevi commented on #412
@zakird Do you have a good example of a WARNING with an RFC citation? I'm assuming, perhaps incorrectly, that such a case would be when a SHOULD is violated, but perhaps there are stronger criteria?

[2020-02-27 00:40] zakird commented on #412
I think that's correct, warnings are when a `SHOULD (NOT)` is violated. These RFB-based lints are warnings:

lint_distribution_point_missing_ldap_or_uri.go
lint_eku_critical_improperly.go
lint_ext_aia_access_location_missing.go
lint_ext_cert_policy_contains_noticeref.go
lint_ext_cert_policy_explicit_text_includes_control.go
lint_ext_cert_policy_explicit_text_not_nfc.go
lint_ext_cert_policy_explici

[2020-02-27 03:58] cardonator commented on #412
Thanks for spinning this conversation up, @zakird . My initial gut reaction to your proposal is that we allow Warning lints to be created whose citation references industry best practices that aren't codified in a requirements document in any manner but are recommended to follow. This could be accomplished either by creating community lints (which I know was a controversial topic during the recent

[2020-02-27 19:34] sleevi opened #413 "Lint for nameConstraints for dNSName and iPAddress"
Presently, there are not lints on the well-formedness of the dNSName and iPAddress nameConstraints. There are lints for other name types, such as https://github.com/zmap/zlint/blob/fd40f579253ea1ebfb18a585ab5cd8e7dcde61aa/v2/lints/rfc/lint_name_constraint_on_edi_party_name.go or https://github.com/zmap/zlint/blob/fd40f579253ea1ebfb18a585ab5cd8e7dcde61aa/v2/lints/rfc/lint_name_constraint_on_x400.go

[2020-02-27 19:40] sleevi commented on #413
Erp, I missed the similarity to #136 due to also mentioning iPAddresses here.

I'm ok duping them, or keeping this separate to also lint the well-formedness of IP addresses.

[2020-02-27 20:08] sleevi commented on #412
Thanks for confirming, @zakird. That totally makes sense to me and is a clear and unambiguous requirement. I'm wholly supportive of continuing to require that level for warnings.

I worry that both community lints/best practices/INFO will inherently be subjective. Even when I totally agree with them / want the desired behaviour, my concern is that CAs would disagree, and thus end up disabling such

[2020-02-27 21:21] rolandshoemaker commented on #413
Looks like `zmap/zcrypto/x509` is already enforcing IP constraint validity [during parsing](https://github.com/zmap/zcrypto/blob/master/x509/x509.go#L1655-L1665).

Stdlib `crypto/x509` does its own DNS name validity check, but [disagrees that leading periods are invalid](https://golang.org/src/crypto/x509/x509.go#L1245). See https://github.com/golang/go/issues/16347 for discussion of why this was

[2020-02-27 22:55] sleevi commented on #413
@rolandshoemaker Thanks for pointing out the iPAddress. While that makes sure that the base value is parsable, I was thinking about other checks, such as making sure it's not an internal IP address. I filed https://github.com/cabforum/documents/issues/160 so that these requirements could be made more explicit, where they are presently implicit.

That said, the Golang change seems to be about compa

[2020-02-28 00:59] zakird commented on #412
I agree with keeping definition of `WARNING` and `ERROR` simple/straight-forward, especially for anything in the RFC/CAB sources. I also agree that some best practices will be subjective and in general, I think that we should stick away from very subjective things. I have no interest wadding into a certificate length controversy.

That said, I'm not convinced that all best practices are controvers

[2020-02-29 19:50] cardonator commented on #412
Aren't there already a number of (helpful) lints like that in the AWSLabs source? I think that does indicate that, for at least some CAs or people, best practice type of lints can be helpful in a variety of ways.

[2020-03-02 10:24] mtgag commented on #410
Back from the RSA conference... Yes, I will double check.

[2020-03-03 08:04] mtgag commented on #410
A proposal for this one:

Reference only to Appendix A. There are other positions (e.g. GEN-5.1-3) that may be relevant and need to be listed or the question may arise why is for example GEN-5.2.3-1 listed but GEN-5.1-3 not. Referencing only the appendix should be sufficient.

Also

This is not explicitly checked by #388. This probably needs to be an independent lint.

[2020-03-03 14:42] cpu commented on #412
I don't have strong feelings here. Happy to follow consensus.

[2020-03-11 17:50] cpu opened #418 "breaking change: rename exported lint.AppleCTPolicy constant"
The `lint.AppleCTPolicy` constant has a generic value ("Apple") but the constant name itself is too specific "CT Policy": https://github.com/zmap/zlint/blob/b28794baf37819442e98e28655a8d4536681b095/v2/lint/source.go#L35

That was fine for the v2.0.0 release because there was only one lint in `lints/apple/` using the source, and it is CT specific. Now that we're adding more Apple policy lints (e.g.

[2020-03-11 18:26] zakird commented on #418
Agree, we should "just do it" and do it sooner rather than later. _sigh_.

[2020-03-11 20:58] sleevi commented on #410
Good point! The fact that GEN-5.3.1 says all other requirements in prose are superseded by the ASN.1 module in Annex A should be a sufficient reference!

Thanks. This caused me a little confusion, so I want to make sure I understood:
- Your `Execute` method seems to be checking this - https://github.com/zmap/zlint/pull/388/files#diff-fce640e2443336bd5313f417352d4bc7R41-R58
- However, because `Chec

[2020-03-11 21:10] sleevi opened #419 "Lint the signature field of a tbsCertificate matches the signatureAlgorithm field of a certificate"
RFC 5280, [Section 4.1.1.2](https://tools.ietf.org/html/rfc5280#section-4.1.1.2) states:
[code]

While the outer `signatureAlgorithm` is fully malleable to attackers, adding a lint to ensure the consistency between the inner and outer algorithms would align with RFC 5280.

This is most likely blocked on https://github.com/zmap/zcrypto/issues/213 to expose this information.

[2020-03-11 21:24] sleevi commented on #354
https://github.com/zmap/zlint/pull/376 landed in master, to marking that one complete as well.

[2020-03-11 21:24] #357 closed

[2020-03-12 15:02] cpu commented on #356
Resolved by https://github.com/zmap/zlint/pull/377

[2020-03-12 15:02] #356 closed

[2020-03-12 15:03] cpu commented on #354
#356 landed in master, marking "RSASSA-PSS encoding requirements" completed.

[2020-03-17 16:17] #407 closed

[2020-03-30 17:02] sleevi opened #424 "Bug: ETSI ESI QCStatements can appear in non-qualified certificates"
The lint `lint_qcstatem_mandatory_etsi_statems.go` incorrectly assumes that the presence of an ETSI ESI-defined QCStatements implies that the certificate is qualified, and thus subject to ETSI EN 319 412-2

This is captured at:
https://github.com/zmap/zlint/blob/master/v2/lints/etsi/lint_qcstatem_mandatory_etsi_statems.go#L59-#L71

However, this assumption is not correct, as expanded upon in https

[2020-03-30 17:03] sleevi commented on #424
@cpu I'm inclined to WARN, but I could be just as convinced to remove entirely, given that there are use cases.

See also https://bugzilla.mozilla.org/show_bug.cgi?id=1625421

[2020-03-31 14:20] cpu commented on #424
I don't have a strong preference. Switching it to a warning sounds fine to me :+1:

[2020-04-08 16:36] cpu commented on #369
It looks like the RFC ref'd by sleevi did make it into a comment in-file:
https://github.com/zmap/zlint/blob/fd40f579253ea1ebfb18a585ab5cd8e7dcde61aa/v2/lints/rfc/lint_ext_cert_policy_explicit_text_not_utf8.go#L17-L30

I'm going to go ahead and close this issue. Thanks!

[2020-04-08 16:36] #369 closed

[2020-05-07 14:09] mtgag opened #428 "Discussion: Issuer certificate as (optional) input to lint"
Hello,

this came up while working on
https://github.com/zmap/zlint/pull/378

The current implementation makes some assumptions because the certificate issuer is not present. An assumption-free implementation would need the issuer certificate as input to the lint.

The proposal is to allow the issuer certificate as (optional) input to lints. This has the advantage that several other lints would th

[2020-05-07 14:33] zakird commented on #428
One issue is that this makes testing a specific certificate non-deterministic. We could incidentally mark a certificate as having an `error` because we passed in the wrong parent in during the linting process. We should probably have some way of denoting which parent was used for the test in the lint output.

[2020-05-11 14:02] #355 closed

[2020-05-11 14:03] cpu commented on #355
Resolved by https://github.com/zmap/zlint/pull/378

[2020-05-11 14:03] cpu commented on #358
Resolved by https://github.com/zmap/zlint/issues/358

[2020-05-11 14:03] #358 closed

[2020-05-11 14:06] cpu commented on #354
https://github.com/zmap/zlint/pull/378 is merged. The "Section 5.1 - "Algorithms"" related issues identified in this meta-issue are now all accounted for :tada:

[2020-05-11 17:19] dadrian commented on #428
As @zakird noted, the non-determinism makes this a bit complicated. Assuming the use-cases @mtgag described above (AKID checking, Issuer-Subject DN comparisons), I don’t see us automatically finding the issuer, since to decide _which_ certificate is the issuer, we would be using the aspects of the certificate these lints are specifically checking for errors. Necessarily, we would need to know the

[2020-05-11 17:38] zakird commented on #428
I agree with @dadrian points out here, but also note that CAs add the parent to CT, so in many ways we  know the issuing certificate that CAs intended to use when performing external validation.

[2020-05-12 07:15] mtgag commented on #428
I thought about a simple approach.  Something like extending the LintInterface to

CheckApplies(c *x509.Certificate, issuer *x509.Certificate) bool and

Execute(c *x509.Certificate, issuer *x509.Certificate) *LintResult

where the issuer is optional.

For old lints (that do not need the issuer) nothing changes in the implementation independent of whether the caller provides the issuer or not. For

[2020-05-12 07:42] cardonator commented on #428
I agree with @dadrian that the lints being non-deterministic and/or relying on what could be third party information makes them a better candidate for a separate group of lints.

Also, I feel like it's pretty rough to change the Lint interface for what is likely to be decidedly less lints. That means every lint needs to be able to handle an issuer parameter even if it won't ever use it, which will

[2020-05-12 15:02] cpu opened #430 "Call for testing: ZLint v2.1.0 release candidate"
:wave: Hi folks,

I've cut a new release candidate, [v2.1.0-rc1](https://github.com/zmap/zlint/releases/tag/v2.1.0-rc1).

Testing would be appreciated. If you find any problems feel free to report them in this issue. I will plan to cut a final v2.1.0 release in the next week if no problems are identified, per the ["Versioning and Releases"](https://github.com/zmap/zlint#versioning-and-releases) gu

[2020-05-12 20:01] dadrian commented on #428
[code]

What happens when `issuer` is nil for a lint that requires an issuer? Does it skip CheckApplies, or is it an error result?

[2020-05-12 21:19] zakird commented on #428
That's a good question. I think that might very well introduce a new status similar to NA but for not enough data provided result.

[2020-05-13 06:37] mtgag commented on #428
I believe if the issuer is nil this should be a "weak" failure. Either skip in the sense that this lint does not apply since the issuer is missing or as @zakird proposed introduce a new status. Otherwise providing the issuer would become somehow mandatory which currently I think it is restrictive.

[2020-05-13 14:48] zakird commented on #428
My worry for NA is that I don't want folks to think they've had _all_ applicable tests run when that hasn't actually happened. A certificate could be in scope and we just weren't able to run the lint.

[2020-05-13 16:35] cpu commented on #430
Quick procedural note. We've also created a low-volume mailing list for release announcements: https://groups.google.com/forum/#!forum/zlint-announcements

[2020-05-14 14:53] cpu opened #433 "QCStatement test failures w/ latest ZCrypto"
The [`testdata/QcStmtEtsiTaggedValueCert20.pem`](https://github.com/zmap/zlint/blob/master/v2/testdata/QcStmtEtsiTaggedValueCert20.pem) test case used by [`TestEtsiTypeAsQcStmt`](https://github.com/zmap/zlint/blob/fd40f579253ea1ebfb18a585ab5cd8e7dcde61aa/v2/lints/etsi/lint_qcstatem_etsi_type_as_statem_test.go#L24-L41) panics during `test.ReadTestCert` when using ZCrypto w/ https://github.com/zmap/

[2020-05-14 15:10] sleevi commented on #433
@cpu Thanks for opening. I can confirm that the cert is invalid.

[code]

The QC-STATEMENT class is defined at
[code]

[2020-05-14 15:18] cpu commented on #433
@sleevi Thanks!

There isn't really a way for ZLint to lint certificates that ZCrypto won't parse so I'm inclined to remove this test case and calling it done. @dadrian @sleevi Do you folks concur? Alternatively I think filing an issue on ZCrypto to determine next steps would be the best path forward.

[2020-05-14 15:26] zakird commented on #433
I agree, we should remove this. It doesn't test code in ZLint as it stands.

[2020-05-14 15:36] sleevi commented on #433
Agreed.

[2020-05-14 15:36] cpu commented on #433
It looks like I made my issue too specific. There are other panics hidden behind this first one. Here's a few other testcase/testfile pairings that panic w/ ZCrypto's QCStatement parsing:

* `TestEtsiQcCompliance`, `testdata/QcStmtEtsiWrongEncodingCert01.pem`
* `TestEtsiQcType`, `testdata/QcStmtEtsiMissingSeqForQcTypesCert18.pem`
* `TestEtsiQcType`, `testdata/QcStmtEtsiMissingOidCert09.pem`

I'll

[2020-05-14 15:39] mtgag commented on #433
Hello,

went back to the code that produced the certificates and the comment for this certificate is "cotaining something tagged". The intention was to deliberately build a certificate with a wrong encoding, in this case one tagged type which does appear in this extension. This use case is somehow constructed and could be removed.

[2020-05-14 15:40] sleevi commented on #433
Yeah, I'd be supportive of moving these to ZCrypto, which helps test that they enforce the ASN.1 requirements correctly and reject "obviously junk" certs. When ZCrypto didn't parse these, it makes sense to make sure ZLint would yell at these obviously bad certs.

[2020-05-14 15:42] mtgag commented on #433
Yes, I expect more of them, also for the upcoming pull requests regarding ETSI, we create "broken" certificates for testing purposes. I guess this is something we should avoid.

[2020-05-14 15:43] cpu commented on #433
SGTM. I can take care of opening a PR for that as long as folks are happy with fairly surface level tests. I'm very keen on not spending too much of my free time actually learning about QCStatements :-)

[2020-05-14 15:44] zakird commented on #433
That sounds good to me. That way we at least don't lose the code.

[2020-05-14 15:57] cpu opened #434 "Cleanup util QCStatement code, use ZCrypto parsing/types"
I think a lot of the code in [`util/qc_stmt.go`](https://github.com/zmap/zlint/blob/master/v2/util/qc_stmt.go) in ZLint is now duplicated by code that landed upstream in ZCrypto w/ https://github.com/zmap/zcrypto/commit/13cf40b46ed3697eba66054aca90c73bbbc991d4

I think it makes sense for someone familiar with the ETSI ESI requirements to remove the ZLint code that isn't required anymore in favour

[2020-05-14 16:03] cpu commented on #433
I'm working on getting a PR ready to update the ZCrypto version. Should be done shortly.

I removed the test cases flagged in this issue and unit tests are passing. Working on the integration test data now. Here's [an example of a certificate](https://censys.io/certificates/4712f1b2a94994b55626ecba2104bbf23d39c05e7a2751e5af8a923bac23fd8f) from the integration test data that no longer parses in cas

[2020-05-14 16:26] mtgag commented on #434
I think this is on our scope... I will try to incorporate this in the ETSI related lints also in the main project. These pull requests are not forgotten but unfortunately postponed. Hope to get back to it soon.

[2020-05-14 16:27] #433 closed

[2020-05-14 17:06] sleevi commented on #433
@cpu Hooray for the integration tests.

Do you have a link to the failure? I believe this is https://bugzilla.mozilla.org/show_bug.cgi?id=1498463 but I'd want to check the failure to make sure.

[2020-05-14 17:08] sleevi commented on #433
Nevermind, I see it's https://travis-ci.org/github/zmap/zlint/builds/687093484 and yes this was part of that bugged set :)

[2020-05-22 22:38] cpu commented on #430
I've pushed a finalized v2.1.0 release tag: https://github.com/zmap/zlint/releases/tag/v2.1.0

[2020-05-22 22:38] #430 closed

[2020-05-26 16:50] sleevi opened #438 "Lint for EV Certificates businessCategory"
[Section 9.2.3](https://secureservercdn.net/45.40.150.47/273.6a1.myftpupload.com/wp-content/uploads/CA-Browser-Forum-EV-Guidelines-v1.7.2.pdf) of the EV Guidelines states, for the Subject Business Category Field:

There is a lint to ensure the businessCategory is present ([lint_ev_business_category_missing](https://github.com/zmap/zlint/blob/fd40f579253ea1ebfb18a585ab5cd8e7dcde61aa/v2/lints/cabf_b

[2020-05-26 16:53] sleevi opened #439 "Move EV-related lints into cabf_ev"
https://github.com/zmap/zlint/pull/337 created a directory structure for cabf_ev, however, several EV-related lints are in `cabf_br`. They should be moved to `cabf_ev`

* `lint_ev_business_category_missing`
* `lint_ev_country_name_missing`
* `lint_ev_organization_name_missing`
* `lint_ev_serial_number_missing`
* `lint_ev_valid_time_to_long`

[2020-05-26 17:01] sleevi opened #440 "Bug: .onion names are no longer prohibited by the Baseline Requirements"
[`lint_san_dns_name_onion_not_ev_cert.go`](https://github.com/zmap/zlint/blob/fd40f579253ea1ebfb18a585ab5cd8e7dcde61aa/v2/lints/cabf_br/lint_san_dns_name_onion_not_ev_cert.go) has a lint that returns an error if a `.onion` name appears in the SAN and the certificate is not EV.

However, as of BRs [1.6.9](https://cabforum.org/2020/02/20/ballot-sc27v3-version-3-onion-certificates/), with the adoptio

[2020-05-28 23:28] sleevi opened #443 "Lint to prohibit anyEKU in Subscriber Certs after 2020-07-01"
[Section 5.2](https://www.mozilla.org/en-US/about/governance/policies/security-group/certs/policy/#52-forbidden-and-required-practices) of Mozilla Root Store Policy v2.7 states:

While there is a Mozilla's policy on [EKUs for Subordinate CAs](https://github.com/zmap/zlint/blob/fd40f579253ea1ebfb18a585ab5cd8e7dcde61aa/v2/lints/mozilla/lint_mp_allowed_eku.go), no equivalent lint exists for EKUs on e

[2020-05-28 23:28] sleevi commented on #354
Filed https://github.com/zmap/zlint/issues/443 to track a missing lint for a Section 5.2 requirement

[2020-05-31 14:19] cpu commented on #440
@sleevi Since this is the first time this has popped up within ZLint (_as far as I know_) I think I would prefer we update `lint_san_dns_name_onion_not_ev_cert.go`'s `checkApplies` to check whether the `NotBefore` is after `2020-03-27`. I think we can defer adding a more generalized `RetiredDate` that way. WDYT? I can't personally commit to implementing much right now and bias towards smaller fixe

[2020-05-31 15:20] sleevi commented on #440
@cpu Yeah, entirely reasonable! There were definitely lots of ways to solve this, and I wasn’t sure the preference. For example, I wasn’t sure if just making this a “check for rules of .onion” instead (handling both the EV and the DV rules in one lint) made sense.

My assumption was that we should try to separate out lints when EVG and BRGs have separate requirements, or when there are separate da

[2020-06-01 20:19] #419 closed

[2020-06-05 01:47] #439 closed

[2020-06-05 03:22] sleevi commented on #434
I started work on this, but I think there's still some work to be done before we can fully get there.

A few running notes from what I've found so far:
* `lint_qcstatem_qccompliance_valid` - can be deleted
* `lint_qcstatem_etsi_type_as_statem` - trivial
* `lint_qcstatem_etsi_present_qcs_critical` - trivial
* `lint_qcstatem_mandatory_etsi_statems` - Actually a buggy lint, but trivial :)
* `lint_qcs

[2020-06-07 16:01] cpu commented on #440
Yup, that sounds ideal to me :+1: Thanks for thinking this through!

[2020-06-12 21:41] #440 closed

[2020-06-12 21:43] cpu commented on #440
Landed in d4acbba :tada:

[2020-06-29 22:54] cardonator opened #453 "Question regarding `lint_idn_dnsname_malformed_unicode`"
Hi all,

I have been trying to find justification for the above listed RFC lint to be considered an error and I assume I am just failing to find the relevant SCWG conversation, CABF discussion, or BR/RFC justification. Yes, I have read RFC 3490 and 5280 regarding internationalized domain names 😁

Given the following scenario, what is considered _compliant behavior_?

Scenario 1:
[code]

Scenario 2

[2020-06-29 23:08] sleevi commented on #453
RFC 5890, Figure 1, is probably most useful for this. `??--` is a reserved LDH, as discussed in [Section 2.3.1](https://tools.ietf.org/html/rfc5890#section-2.3.1). As referenced within the earlier RFC 3490, this is handled through the [ACE prefix](https://tools.ietf.org/html/rfc3490#section-5) definition within Section 5. As per Section 2.3.1 of RFC 5890, R-LDH labels outside of the XN-labels MUST

[2020-06-29 23:30] cardonator commented on #453
Thanks Ryan, sections 5 and 10 of RFC 3490 is what I was vaguely thinking of and couldn't remember, particularly this sentence from section 5:

[code]

And this sentence from section 10:

[code]

Even though that's not as explicitly stated in RFC 5890, however I think you're right that this quote from Section 4.5 does agree with your interpretation.

[code]

As such, I'll go ahead and lose this an

[2020-06-29 23:30] #453 closed

[2020-06-29 23:32] sleevi commented on #453
Would it be useful to add some comments to this lint, to better document its provenance? It’s an entirely fair question you raised!

[2020-06-29 23:40] cardonator commented on #453
I think it would be helpful as I didn't find just pointing to RFC 3490 as particularly useful in understanding why it would be considered an error.

[2020-07-13 15:02] ENEN-DTR opened #454 "Request for classification of the key usage "keyEncipherment" in TLS certificates using elliptic curves as "error""
Dear ZLint-Team,

Recently we wrongly issued one certificate using elliptic curves with TLS attributes which contained the key usage “keyEncipherment” instead of “keyAgreement.“ The incorrect key usage was inadvertently assigned. This was not previously detected in the dual control procedure.

Linting is part of our pre- and post-production process. We use your linting tool. If the outcome of the

[2020-07-13 15:04] zakird commented on #454
Thanks for the report, @ENEN-DTR. Which lint produced a `WARN` instead of an `ERROR`? Can you point to the BR or RFC that states that this is mandatory?

[2020-07-13 15:06] sleevi commented on #454
The RFC text is currently being processed in IETF: https://tools.ietf.org/html/draft-ietf-lamps-5480-ku-clarifications

This was addressed through Mozilla Policy previously.

[2020-07-13 15:26] ENEN-DTR commented on #454
We use the latest version 2.1.0

[2020-07-24 01:37] jsha opened #458 "Linting OCSP responses"
In [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1588001), Apple shared a [very thorough list of lints they apply to OCSP responses](https://bug1588001.bmoattachments.org/attachment.cgi?id=9160540) from their own issuance infrastructure. It would be useful to implement these in an open-source linter. Are the folks here interested in incorporating an OCSP linter into zlint? Do you think i

[2020-07-24 15:48] zakird commented on #458
This came up once in the past #382. I think the consensus is: Yes! We'd love to have them, but we should structure their addition that they don't make running or maintaining existing certificate lints more difficult.

[2020-07-24 15:54] cardonator commented on #458
I think this fits into our sets of lints nicely, we could even exclude OCSP/CRL lints by default.

[2020-08-07 23:51] eclipseo opened #461 "Tests failures with Go 1.15"
Using zlint 1.1.0 with Go 1.15 rc 1 on Fedora Rawhide, I get these errors:

[code]

[2020-08-11 00:34] jsha commented on #382
I realized I opened this issue twice; sorry about that! Closing in favor of #458, which has a reference for a potentially good set of lints to implement.

[2020-08-11 00:34] #382 closed

[2020-08-11 00:38] jsha opened #462 "Turn off e_sub_ca_aia_does_not_contain_ocsp_url once ballot SC31 takes effect"
[Ballot SC31 makes OCSP optional for intermediate certificates](https://github.com/cabforum/documents/pull/195):

The ballot has passed and is now in the review period. It should take effect when the review period ends (if my calculations are correct) August 20.

[2020-08-13 15:10] sleevi commented on #454
https://www.rfc-editor.org/info/rfc8813 is now published

[2020-08-21 02:31] #462 closed

[2020-09-01 17:26] cardonator opened #465 "Patch release?"
Is there any way we can cut a patch release for zlint? As the 397 day cert validity requirement has gone into place today, the recent changes merged to ignore that check on certificates marked as CAs would be helpful to prevent throwing errors on the lint for that requirement.

Thanks!

[2020-09-01 19:08] cpu commented on #465
Sure! I can work on cutting one later this evening. There are new lints in the [diff from v2.1.0](https://github.com/zmap/zlint/compare/v2.1.0...master) so per the [README versioning info](https://github.com/zmap/zlint#versioning-and-releases) it'll be a MINOR release to v2.2.0 instead of a patch release.

[2020-09-01 20:00] cardonator commented on #465
Thanks!

[2020-09-02 00:01] cpu opened #466 "Call for testing: ZLint v2.2.0 release candidate"
:wave: Hi folks,

I've cut a new release candidate, [v2.2.0-rc1](https://github.com/zmap/zlint/releases/tag/v2.2.0-rc1).

Testing would be appreciated. If you find any problems feel free to report them in this issue. I will plan to cut a final v2.2.0 release in the next week if no problems are identified, per the ["Versioning and Releases"](https://github.com/zmap/zlint#versioning-and-releases) gu

[2020-09-02 00:07] cpu commented on #465
[v2.2.0-rc1](https://github.com/zmap/zlint/releases/tag/v2.2.0-rc1) is available now. Please report any trouble on the [call for testing issue](https://github.com/zmap/zlint/issues/466). I've also posted to the [announcements mailing list](https://groups.google.com/forum/#!topic/zlint-announcements/Cj314eYNhBc). I'll cut the final tag next week if everything goes well.

Thanks for the prompt @card

[2020-09-02 00:07] #465 closed

[2020-09-02 00:10] cpu commented on #461
Thanks for reporting. We'll take a look at this when the project switches to Go 1.15. If you feel like contributing a PR in the meantime it would be most appreciated!

[2020-09-02 19:44] CBonnell opened #467 "e_tls_server_cert_valid_time_longer_than_398_days calculation is off by 1 second"
RFC 5280 section 4.1.2.5 (and the BRs by reference) defines the Validity Period as `the period of time from notBefore through notAfter, inclusive.` This means that a certificate whose notBefore and notAfter field values are the same has a validity period of 1 second. Expanding from this base case, this means that certificates with a notAfter of exactly 398 days (34,387,200 seconds) greater than th

[2020-09-02 19:54] sleevi commented on #467
Hopefully folks paid attention to the SHOULD be 397 days, which was for exactly this scenario.

[2020-09-08 00:37] #467 closed

[2020-09-10 08:00] RufusJWB opened #471 "LINT for "The curious case of the Dangerous Delegated Responder Cert""
Would it be possible to implement a lint for certificates that fall under [The curious case of the Dangerous Delegated Responder Cert](https://www.mail-archive.com/dev-security-policy@lists.mozilla.org/msg13493.html)? For example this [ICA](https://crt.sh/?id=648772148&opt=zlint) is affected by the problem but seems to run through ZLINT without even a warning.

[2020-09-10 13:24] zakird commented on #471
We'd be happy to accept a lint that checks this.

[2020-09-11 06:53] RufusJWB commented on #471
I'll do my very best. Never programmed in GO before

[2020-09-11 13:14] cpu commented on #471
Happy to help review.

[2020-09-17 22:30] cpu commented on #466
Since the first RC we:

* [Fixed a bug](https://github.com/zmap/zlint/commit/2b994a741bfde638a648a759c16644724d07e708) with the `e_tls_server_cert_valid_time_longer_than_398_days` validity calculation and cut a [`v2.2.0-rc2` release](https://github.com/zmap/zlint/releases/tag/v2.2.0-rc2) to include the fix. That was ~9 days ago and nobody has flagged any troubles :+1:
* Rolled in another [gTLD dat

[2020-09-17 22:44] cpu commented on #466
[Published](https://github.com/zmap/zlint/releases/tag/v2.2.0) & [announced](https://groups.google.com/g/zlint-announcements/c/cqYpAaG9Vis) on the mailing list.

[2020-09-17 22:44] #466 closed

[2020-09-18 21:31] RufusJWB opened #473 "LINT for the correlation between EKU and KU"
I couldn't find a LINT for the correlation between EKU and KU as described in [RFC5280 4.2.1.12](https://tools.ietf.org/html/rfc5280#section-4.2.1.12) . Is there one? If not, we should implement one according this spec:

[2020-09-20 20:46] RufusJWB opened #474 "Refactor all test cases into 'looped' tests"
@sleevi I followed your proposal and refactored test test into a loop. To make this whole thing more re-useable and minimize the amount of duplicated code, I moved the definition of the `TestCase` struct and of the `RunTest` func into https://github.com/RufusJWB/zlint/blob/master/v2/test/helpers.go . Now they can be re-used wherever needed in the code.

_Originally posted by @RufusJWB in https://g

[2020-09-21 14:09] RufusJWB opened #475 "Refact `CheckApplicability` function to support S/MIME and Code Signing later"
I don’t support doing that is this change, but I also think we should hold off on that refactoring until we get to that point. That seems like a lot of churn for unclear benefit, at least at present, although I can agree with you in the hypothetical.

One of the issues we had with QWACs is that it’s not merely sufficient for something to be a certificate; lints need an invested community of mainta

[2020-09-21 21:44] cpu commented on #474
I think it's fairly idiomatic to define this on a per-test basis. I wouldn't worry too much about duplication here.

I'm supportive of reworking existing tests into the "table driven" format favoured by the Go community but it's a high labour low reward task. If someone feels up to I won't try to dissuade them but it's also a lot of work without a ton of functional gains.

[2020-09-21 21:45] cpu commented on #475
_Meta commentary: It's not super clear to me what the "ask" of this issue is. The description seems to be tied into the the discussion from #472 in a way that's somewhat challenging to disentangle. I've put a "question" label on this for now but it might be easier to categorize with an updated stand-alone description_

[2020-09-22 07:41] RufusJWB commented on #474
@cpu I'll create a branch based on this issue, so that the work I've done already will be stored and revert the changes in the https://github.com/zmap/zlint/pull/472

[2020-09-22 13:05] cpu commented on #474
Thanks @RufusJWB, sorry for the churn.

[2020-09-24 00:33] cardonator opened #476 "[Discussion] Lints that cover both SHOULD and MUST conditions in the same lint"
Hi all, I wanted to discuss the precedent set by some recent lints in terms of combining SHOULD and MUST conditions into one lint.

In earlier zlint times, every lint was clearly discernible by its name as to whether it would return an Error, Warn, or Notice condition (by the `e_` prefix, for example). That meant you could use the lint name to distinguish zlint related conditions in your logs pret

[2020-09-24 09:57] robstradling commented on #476
Thanks for starting this discussion, @cardonator.  I'm interested in the outcome because https://crt.sh/?zlint=issues currently shows a misleading "TLS server certificates issued on or after September 1, 2020 00:00 GMT/UTC must not have a validity period greater than 398 days" warning for certs with validity periods greater than 397 days but not greater than 398 days.

I would prefer to see SHOULD

[2020-09-24 14:21] zakird commented on #476
This sounds like a regression and we need to fix it. Lints should only return a warning or error based on their type.

[2020-09-24 14:22] zakird commented on #476
This is not explicitly laid out in https://github.com/zmap/zlint/blob/master/CONTRIBUTING.md, but we should update to match.

[2020-09-29 11:41] RufusJWB opened #480 "Lints for ETSI TS 119 312"
ETSI publishes [ETSI TS 119 312](https://www.etsi.org/deliver/etsi_ts/119300_119399/119312/01.02.01_60/ts_119312v010201p.pdf) providing guidance on the selection of cryptographic suites. As this is a normative document under the ETSI audit regime, we should have LINTs for it.

[2020-09-29 12:35] sleevi commented on #480
@RufusJWB It’s not clear to me the relevance or lintability of this document. I’m assuming you’re thinking in the context of OCSP and CA certificates, and not suggesting lints for CAdES/XAdES. For the OCSP/CA side of things, the specifications in Appendix A are only with respect to interoperability profiles, and not with respect to exclusions/prohibitions.

Perhaps you could be more precise what y

[2020-09-29 13:07] RufusJWB commented on #480
I would like to have - for example - LINTs for table 10 of the technical specification. Such a lint could look like the following:

[code]

[2020-09-29 13:11] sleevi commented on #480
But those aren’t normative? They’re just recommendations, and structured weirdly (in that they aren’t a factor of key lifetime, but if absolute date). I don’t know if I’d be able to be an effective reviewer, as I’ve not paid any attention to TS 119 312, as its narrow focus has meant zero practical applicability to browsers so far.

[2020-09-29 13:25] RufusJWB commented on #480
If someone is under ETSI audit regime, they are normative (even if only a 'should'):

https://www.etsi.org/deliver/etsi_en/319400_319499/31941101/01.02.00_20/en_31941101v010200a.pdf

Regarding the "in that they aren’t a factor of key lifetime, but if absolute date": I think this is discussed in table 9.

[2020-09-29 13:29] sleevi commented on #480
I think we’re miscommunicating here. That cited text is not a MUST (“an obligation _or recommendation_”).

More explicitly: I don’t think the things you want linked can be linted in a reasonable way. I also wouldn’t feel comfortable reviewing those lints.

[2020-09-29 13:49] dzacharo commented on #480
To @RufusJWB's point, I thought ZLint also contains lints that report on SHOULD requirements as well, throwing WARNING messages. Perhaps this is something different?

[2020-09-29 13:56] sleevi commented on #480
NOTICE, not WARNING.

However, the objection is on how suitable and lintable these are, given the requirements. Knowledge of whether the TSP generated the key or not is outside of ZLint, as is knowing the effective lifetime of the key (which depends on all certificates issued, not just the linted certificate). Some of these requirements are not implementable in Go via the current ZCrypto support (

[2020-09-29 14:03] dzacharo commented on #480
I think you are confusing the SHOULD requirements (e.g. in GEN-6.5.1-06, GEN-6.5.1-07) with recommendations in other sections of the standard. I agree that it's not easy to maintain such lints but if community members want to have a shot at creating such lints, why shut down these efforts?

[2020-09-29 14:23] RufusJWB commented on #480
Well, currently I have an apprentice who needs to do some GO coding for learning the language. And since I always think an apprentice should do real work, I thought she might help here implementing these LINTs. I would propose the following: she will start working in a different fork and only when we have the feeling that she has achieved something worth presenting, we will make a Pull Request. Ma

[2020-09-29 14:28] dzacharo commented on #480
I am not so familiar with GO to understand the code of these lints in depth like other maintainers or participants. Thanks for the offer though.

[2020-09-29 14:30] sleevi commented on #480
@dzacharo I appreciate your clarification, but that's not what is happening here.

If you examine @RufusJWB 's [remarks](https://github.com/zmap/zlint/issues/480#issuecomment-700701028), you'll notice that the GEN language cited from 319 411 is a SHOULD. However, I'm also highlighting that the language within TS 119 312 is also a SHOULD, and focused on defining interoperability profiles more than

[2020-09-29 15:06] RufusJWB commented on #480
I went through [the discussion in the past](https://github.com/zmap/zlint/pull/336#issuecomment-567766802) and I understand your point, @sleevi . Please excuse my direct question, but I would like to understand whether are we now on point 2 of `The Art of Closing` or would you want us to open single issues for every possible lint and discuss them before we start coding? If we are on point 2 that's

[2020-09-29 15:15] sleevi commented on #480
@RufusJWB I certainly don't want to discourage all contributions, particularly those related to ETSI, but to highlight both prioritization and the degree of clarity of the requirements ("good specs make for good lints", to make up a new aphorism). I think an issue-per-proposed-lint would be just as overwhelming, if not more so, than a bunch of a PRs. If there's strong interest in contributing a nu

[2020-10-06 23:48] cpu opened #482 "Call for testing: ZLint v2.2.1 release candidate"
:wave: Hi folks,

I've cut a new release candidate, [v2.2.1-rc1](https://github.com/zmap/zlint/releases/tag/v2.2.1-rc1).

This release is notable for fixing a vulnerability in a dependency `golang.org/x/text`. The vulnerability, [CVE-2020-14040](https://nvd.nist.gov/vuln/detail/CVE-2020-14040), is specific to handling UTF-16 input strings safely:

Testing would be appreciated. If you find any prob

[2020-10-14 22:09] cpu commented on #482
Released: https://github.com/zmap/zlint/releases/tag/v2.2.1

[2020-10-14 22:09] #482 closed

[2020-11-02 18:44] cardonator opened #492 "dnsname_wildcard_left_of_public_suffix: Currently Warn but should be Notice?"
I was just noticing some warning results we have seen recently in our implementation of zlint and looking into them a bit deeper. I noticed this lint show up a couple of times and looking at the Source/Description I'm not sure that it qualifies as a Warning.

The description says:
[code]

This is complicated with the currently established meaning of Warn and Error somewhat correlating to SHOULD an

[2020-11-04 18:19] robstradling commented on #492
Occasionally we (Sectigo) are asked to issue certificates for DNS names that are public suffixes (according to the PSL) for which the subscribers can prove control.  We're using ZLint and cablint for preissuance linting and blocking issuance if any Warnings or Errors are encountered, so the two Warnings you refer to are somewhat annoying.

I think these Warnings should be changed to Notices, and I

[2020-11-04 19:35] zakird commented on #492
I'm fine with this becoming a NOTICE.

[2020-11-04 23:17] cardonator commented on #492
I have one together just fixing tests. Will post soon 👍

[2020-11-10 20:08] #492 closed

[2020-11-10 21:22] #412 closed

[2020-11-10 21:22] #476 closed

[2020-11-10 22:36] cpu commented on #418
Wellllllllll.... sooner turned into later anyway :-) BUT we have [a better reason](https://github.com/zmap/zlint/pull/493) to cut a major release so we might as well knock this out at the same time.

I assigned this to myself and will try to land a PR shortly.

[2020-11-10 22:43] cpu opened #496 "Split e_tls_server_cert_valid_time_longer_than_398_days into a `e_` and `w_` lint."
Per [recent updates](https://github.com/zmap/zlint/commit/29b3fa90013c35c61f635f58f0d306a23a169a86) to the contrib guidelines  the [`e_tls_server_cert_valid_time_longer_than_398_days` lint](https://github.com/zmap/zlint/blob/2b994a741bfde638a648a759c16644724d07e708/v2/lints/apple/lint_e_server_cert_valid_time_longer_than_398_days.go) should be split into two lints: one that returns an error and on

[2020-11-22 22:40] cpu opened #500 "Switch to Github Actions"
Travis CI has changed their service to be less favourable for open source projects, resulting in long build times. Github Actions seems like a better alternative for modern projects. We should switch the ZLint repo to use Github Actions (paying close attention to the existing integrations, e.g. for goreleaser).

[2020-11-22 22:41] cpu commented on #500
I've converted one personal project with similar requirements. I can take a crack at doing it for ZCrypto + this repo.

[2020-11-22 23:01] cpu commented on #500
ZCrypto side: https://github.com/zmap/zcrypto/pull/230

[2020-11-22 23:04] cpu commented on #418
PR up: #501

[2020-11-23 14:43] CBonnell opened #502 "lint_serial_number_longer_than_20_octets does not check the encoded value length of the serial number"
The serial number length check in
https://github.com/zmap/zlint/blob/71e2966bbbbd8a3ae6e7ff5f07502f6f59926757/v2/lints/rfc/lint_serial_number_longer_than_20_octets.go#L51 permits overly long serial numbers. Namely, serial numbers consisting of 160 bits with the MSB set to 1 will require a leading 0x00 octet in the encoded value to denote the sign, which yields an encoded length of 21 octets; the c

[2020-11-23 16:25] CBonnell commented on #502
Example where certlint correctly flags but zlint does not: https://crt.sh/?id=177041525&opt=cablint,zlint

[2020-11-23 20:01] #418 closed

[2020-11-23 20:14] cpu opened #503 "Cut v3.0.0 release."
We have two changes in master that break backwards compat. and require a major version bump from v2.x.x to v3.0.0:

* [x] - https://github.com/zmap/zlint/pull/493 - changed lint results/names
* [x] -https://github.com/zmap/zlint/pull/501 - renamed an exported constant

There's one more lint change we should try to land at the same time that I'm currently considering a soft blocker:

* [x] - https:

[2020-11-23 20:14] cpu commented on #500
I've started noodling on this but likely won't have a PR until the weekend at the earliest.

[2020-11-25 08:58] RufusJWB opened #504 "How to implement LINTs for the upcoming SMIME BRGs?"
Dear maintainers!

Do you have a preferred way, how to organize the lints for the upcoming SMIME BRGs? I would create a new folder `cabf_smime` within the `v2/lints' folder. Do you share this opinion?

And how do we want to handle the situation, that many of those lints will be duplicates of the `cabf_br` lints? Shall we copy those lints or do we want to somehow 'link' them?

[2020-11-26 10:41] RufusJWB commented on #503
I'm not sure if I forgot to press the comment button or if my comment was deleted. If the latter, please excuse me for posting again.

Do you think you could include #490 and #491 in this release?

[2020-11-26 14:29] cpu commented on #503
Hi @RufusJWB,

I think you posted the comment on #490 [by mistake](https://github.com/zmap/zlint/pull/490#issuecomment-733219591) and I missed it there. Thanks for reposting!

I can't speak for the other maintainers but I'm a bit underwater right now with work responsibilities and don't expect I will have the energy to review these PRs this week. I think given that neither have an approval stamp y

[2020-11-26 15:44] RufusJWB commented on #503
@cpu Maybe you could include #490 since this one is straight forward. #491 is more complex to review.

[2020-11-27 18:28] zakird commented on #503
As @cpu mentioned, we have additional help coming to get these reviewed and merged. 🤞 this will be in place next week. Given that neither #490 nor #491 have breaking changes that require a major release, I think it's fine to release without them, and we'll get a minor revision out as soon as they're in. Longterm, we'll be better off having regular updates going out than gating releases on pending

[2020-11-28 19:14] cpu commented on #500
Impl up for review - #505.

[2020-11-28 19:59] cpu commented on #503
I added the Travis -> Github workflows switch as a task for the V3 release. I'd like to use this as an opportunity to make sure the Github Action workflow for Goreleaser works as expected. I assigned myself this release issue to make sure I'm the one that suffers the debugging if there are problems.

If we can get both #506 and #505 merged over the next few days I'll start on the V3 release.

[2020-11-28 20:00] zakird commented on #503
Not at a computer, but will review both by EOD.

On Sat, Nov 28, 2020 at 11:59 AM Daniel McCarney <notifications@github.com>
wrote:

[2020-11-28 21:28] cpu commented on #461
With Go 1.15.5 I'm only able to reproduce **one** of the failures reported:

[code]

[Dropping the problematic testcase](https://github.com/cpu/zlint/commit/b83ed3330a4a0070ef042f8dde8cfae1129f3e89) is sufficient to [unblock a Go 1.15.x migration](https://github.com/cpu/zlint/runs/1468254388?check_suite_focus=true).

I have an equivalent version bump [open upstream with ZCrypto](https://github.com

[2020-11-28 21:47] #496 closed

[2020-11-28 22:01] #500 closed

[2020-11-28 22:23] cpu opened #507 "Implement zlint-autopull with Github Actions"
Presently the automation that invokes the `zlint-gtld-update` binary periodically and creates PRs with the resulting diff lives in a separate `zlint-autopull` repo: https://github.com/cpu/zlint-autopull It's also based on Travis, where cron builds were limited to at most once a day.

This feels like something that could be converted to a Github Action. Potentially even removing the `tld-update-bot

[2020-11-29 18:49] #461 closed

[2020-11-29 18:52] cpu commented on #461
Master is building/testing under Go 1.15 without error now. Please feel free to open a new issue if you see more failures in Rawhide or elsewhere that were missed.

[2020-11-29 18:56] cpu commented on #503
I'm working on a dry run of a v3 release with some test repos to make sure I have a handle on what I'm doing before I pull the trigger here.

At a high level my plan is:
* copy everything in `v2/` to `v3/`
* update all of the import paths and references (especially CI action working directories).
* delete the old `v2` directory.
* open a PR with all the above, merge to master after review.
* cut a

[2020-11-29 19:58] dadrian commented on #503
@cpu Sounds correct to me.

[2020-11-29 20:02] cpu commented on #503
@dadrian Thanks for double checking my logic.

I tried this plan with a fork of ZLint and ZCertificate and it worked the way you would hope. The ZCertificate fork that depended on the V2 version of the ZLint fork continued to work as expected when the v2 directory of the ZLint fork was deleted in master.

I feel confident enough to move forward with the v3.0.0-rc1 PR + tag here.

[2020-11-29 21:04] cpu opened #511 "Call for testing: ZLint 3.0.0 release candidate"
:wave: Hi folks,

I've cut a new **major** release candidate, [v3.0.0-rc1](https://github.com/zmap/zlint/releases/tag/v3.0.0-rc1). Please see the release notes for the list of breaking changes & the full changelog.

Testing would be appreciated. If you find any problems feel free to report them in this issue. I will plan to cut a final v3.0.0 release in the next week or so if no problems are ident

[2020-11-29 21:07] cpu commented on #503
I've cut [a release candidate tag for v3.0.0](https://github.com/zmap/zlint/releases/tag/v3.0.0-rc1) and opened a [call for testing](https://github.com/zmap/zlint/issues/511) issue.

The new Github Action based Go Releaser flow worked perfectly. One nice bonus: we can deprecate the [zlintbot](github.com/zlintbot) account since GIthub uses its own token to upload the release now. I've gone ahead an

[2020-11-29 21:07] #503 closed

[2020-11-29 21:08] zakird commented on #503
Thanks @cpu for pulling this together!!

[2020-11-30 15:23] ezekiel opened #512 "TLD removal auto-pr missing for "shriram""
"shriram" has a removal date of `2020-11-24`. Likely that @tld-update-bot just needs a nudge?

[2020-11-30 15:47] cpu commented on #512
@ezekiel hey there :-) :wave:

Thanks for flagging. I took a peek at the [automation Travis](https://travis-ci.com/github/cpu/zlint-autopull) and I think the last build was ~7d ago which would explain a missing update from the 24th of Nov. There's a few problems with the Travis automation:

* The Travis integration somehow got disabled (???) and I had to click a button to re-enable. That should be

[2020-11-30 15:58] cpu commented on #512
(Or I could stamp a one-off manually created PR for this fix if it's important to land in <12-24hr)

[2020-11-30 17:05] ezekiel commented on #512
:wave: hello!

Please take your time, no urgency from me for merging. Happy to wait and to see things ironed out. Thank you!

[2020-11-30 23:00] cpu commented on #512
https://github.com/zmap/zlint/pull/513 - once this is merged we should see a PR with the `shriram` removal update in <1hr.

[2020-11-30 23:05] #507 closed

[2020-11-30 23:48] cpu commented on #512
Resolved by https://github.com/zmap/zlint/pull/514

We have a couple little things to sort out with the new automation but it should be reliable enough now to get regular updates again. Will monitor.

[2020-11-30 23:48] #512 closed

[2020-11-30 23:51] cpu opened #515 "Investigate tld-update.yml workflow's PR checks"
In https://github.com/zmap/zlint/commit/12dfc1846136a481fa889340d591701a3dfaa516 we landed a new github-action based automation for creating PRs with update gTLD data.

It looks like (based on [this example](https://github.com/zmap/zlint/pull/514)) that the PRs the bot creates don't initiate the required workflows for the branch status checks.

The [create-pull-request](https://github.com/peter-ev

[2020-11-30 23:56] zakird commented on #515
It also doesn't look like the branch gets deleted automatically as specified in the conf.

[2020-12-05 22:28] christopher-henderson opened #517 "Document why util.IsServerAuthCert returns true if the EKU is empty"

[2020-12-07 17:39] cpu commented on #511
How do folks feel about including lints in a final release that weren't in the RC? E.g. https://github.com/zmap/zlint/commit/1eb11ce3552704904404d56a65f4be3511828dbf which landed just now.

My gut instinct is to try and stay faithful to the RC and only include subsequent bug fixes or data updates (if any) in the final tag. Does that square up with the community/other maintainers views on the matte

[2020-12-07 18:02] zakird commented on #511
I agree don't add any new lints. Should be relatively stable now. We can
release 3.1.0 soon enough.

On Mon, Dec 7, 2020 at 9:39 AM Daniel McCarney <notifications@github.com>
wrote:

[2020-12-07 18:39] cpu commented on #511
Sounds good. I'll try to push a v3.0.0 tag in the next few days.

[2020-12-09 19:37] zakird commented on #343
We're coming up on a year since this issue was created. @sleevi @timfromdigicert was this resolved in CABF?

[2020-12-09 19:39] zakird commented on #226
Now that we have lint "Sources" that folks can include or exclude, this seems reasonable to me to take on as an error in the appropriate class.

[2020-12-10 17:21] timfromdigicert commented on #343
It has not been resolved, but only because we've been discussing other things.

I can put it on next Thursday's agenda again if there's interest in discussing it.

[2020-12-10 19:32] weddi-eddy opened #519 "feature request: ZLint command line -version flag"
I see that v3 was released recently. I just did an update from what I believe is v2 to v3. Is there an easy way to tell the update was successful and which version I am running?  I think a -version switch would be really useful.

[2020-12-10 19:44] cpu commented on #519
:wave: Hi @weddi-eddy

Not quite yet, just a release candidate. We should have a final v3.0.0 release uploaded in the next few days.

This seems like a reasonable feature request for the `zlint` cli 👍

[2020-12-12 15:35] cpu commented on #511
The final v3.0.0 release is now published: https://github.com/zmap/zlint/releases/tag/v3.0.0

[2020-12-12 15:35] #511 closed

[2020-12-12 15:42] cpu commented on #519
This has been published now: https://github.com/zmap/zlint/releases/tag/v3.0.0

@weddi-eddy Until there's a `-version` flag the easiest way is probably to download the binary release for your platform from the release page's assets. E.g. https://github.com/zmap/zlint/releases/download/v3.0.0/zlint_3.0.0_Linux_x86_64.tar.gz for 64bit Linux. Running the `zlint` binary from the release archive will g

[2020-12-12 15:57] cpu commented on #515
Reading the docs more it sounds like this is the intended behaviour. The config element is mildly confusing and is specific to a circumstance where the PR is closed because the bot detects that master updated such that there's no longer a diff in the PR. In this specific case it'll both close the PR and delete the branch.

We can achieve what we want here by setting the repo-wide setting to delete

[2020-12-12 16:06] cpu commented on #515
I looked into [the possible workarounds](https://github.com/peter-evans/create-pull-request/blob/master/docs/concepts-guidelines.md#triggering-further-workflow-runs) and I think for our case there are two options worth considering:

1) **We leave things how they are now, no workflow actions for bot opened PRs.**
_Disadvantages_: This runs the risk of the bot one day proposing a commit that would b

[2020-12-12 16:16] zakird commented on #515
Given what the bot does, I’m fine without tests. It’s pretty easy to
eyeball that it’s not a breaking change. If it starts to be more complex,
we should reconsider.

On Sat, Dec 12, 2020 at 8:07 AM Daniel McCarney <notifications@github.com>
wrote:

[2020-12-12 16:25] cpu commented on #515
It occurs to me that maybe we can sidestep most of this concern by just adding a build & unit test step to the PR workflow itself. Not quite the same as seeing the status represented in the PR but we'd have pretty good assurance that things work (and CI would run as expected on the updated master post-merge too).

[2020-12-12 16:32] cpu commented on #515
This seemed like a good idea either way so I opened a PR: https://github.com/zmap/zlint/pull/521 It doesn't run integration tests but I think that's reasonable in this context.

[2020-12-13 15:30] cpu commented on #515
I updated my [earlier comment](https://github.com/zmap/zlint/issues/515#issuecomment-743777429). Working through how I'm going to handle similar automation for publicsuffix/list I realized we could have the bot open PRs from a fork as a third option. This won't require write access to the repo, but we will still have to configure a PAT and maintain the account. I'm coming around to the idea that s

[2020-12-13 20:31] christopher-henderson opened #522 "What to do with ambiguous results?"
We have lints that that _may_ apply or that _may_ pass/fail, however the runtime does not have quite enough information to prove it.

An example is in #491 wherein a certificate would fail if-and-only-if one of its parents has the TLS auth EKU. We have a discussion in #428 on enabling operators to include chains into runs of the tool in order to disambiguate such cases. However, what if the operat

[2020-12-13 20:58] christopher-henderson commented on #428
\#include <[discussion_from_491](https://github.com/zmap/zlint/pull/491#discussion_r536913698)>

@sleevi @cardonator @zakird porting the week's coversation from #491 here trying to break up the conversation a bit.

There appears to be a second, equally complex, discussion of what to do with otherwise ambiguous results (because even if we allow for a chain to be included in the run that does not me

[2020-12-14 18:00] robstradling opened #523 "Stale PSL data"
https://crt.sh/?id=3767009644&opt=zlint currently triggers `n_san_iana_pub_suffix_empty`, even though `dominic.ua` was removed from the PSL just over 6 months ago (https://github.com/publicsuffix/list/commit/ac45e5ab644d704f4ec392a2271ad3454bcc6378).  This seems to be because publicsuffix-go hasn't had a stable release since 16th February 2020 (v0.13.0, see https://github.com/weppos/publicsuffix-g

[2020-12-15 15:13] cpu commented on #523
Definitely. We should do this + automate opening PRs with the version bumps. Thanks for flagging.

[2020-12-16 13:58] robstradling commented on #523
On a related note...
I see that ZLint's gtld_map.go records the delegation date and (if relevant) removal date of each GTLD.  I haven't checked but I presume that the GTLD-related lints consider whether or not a certificate's notBefore date is within that time period.  (i.e., if the GTLD existed when a cert was issued, the CA did not misissue).
In contrast, it looks like publicsuffix-go only provi

[2020-12-21 17:17] cpu commented on #523
The [`e_dnsname_not_valid_tld` lint](https://github.com/zmap/zlint/blob/master/v3/lints/cabf_br/lint_dnsname_right_label_valid_tld.go) does, yes. It uses [`util.HasValidTLD`](https://github.com/zmap/zlint/blob/d8314a3cab4a3b971016681608f217b9a2655126/v3/util/gtld.go#L73-L90) with the cert's `NotBefore` for this.

As far as I can tell the only place that directly touches the PSL in this repo is the

[2020-12-21 18:11] cpu commented on #523
Working on ZCrypto automation to track master: https://github.com/zmap/zcrypto/pull/240

We'll still have to figure out the ZLint side when ZCrypto updates. We could continue to chain github actions and make a bot PR here for each ZCrypto update.

[2020-12-22 01:51] #523 closed

[2020-12-22 14:34] cpu commented on #523
ZCrypto and ZLint master are both using the latest available publicsuffix-go data. ZCrypto should get PRs automatically when there are new updates. I'll keep an eye on it and match with ZLint manually for now to see how the new process goes.

[2021-01-03 19:35] christopher-henderson opened #530 "CABF EV Guidelines 1.7.0 Section 9.8.2 Organization ID Present"
[CA-Browser-Forum-EV-Guidelines-v1.7.0](https://cabforum.org/wp-content/uploads/CA-Browser-Forum-EV-Guidelines-v1.7.0.pdf) Section 9.8.2

[2021-01-03 19:39] christopher-henderson opened #531 "CABF EV Guidelines 1.7.0 Section 9.8.2 Registration Scheme"
[CA-Browser-Forum-EV-Guidelines-v1.7.0](https://cabforum.org/wp-content/uploads/CA-Browser-Forum-EV-Guidelines-v1.7.0.pdf) Section 9.8.2

[2021-01-06 19:36] #502 closed

[2021-01-07 22:51] cardonator commented on #504
What criteria would be make these lints applicable? Would they not run the cabf_br lints at all if they had the right EKU? This is a good question overall since new cert types (looking at you, Qualified certs) don't necessarily apply to cross-sectional EKU baseline requirements like BR (OV)->EVGs (EV).

[2021-01-07 22:59] sleevi commented on #504
So, as it stands right now, the SMCWG (S/MIME) is wholly independent of the SCWG (TLS); thus, the requirements are best described as a "fork" (with no common ancestor), even if they're identical. When you think about S/MIME and TLS being independent hierarchies, this is actually quite good and makes sense. The question of having some common "base" requirement is... complex and complicated and we s

[2021-01-07 23:00] cardonator commented on #522
Another scenario where the ambiguity is difficult is anywhere in the BRs where compliant participants `MUST` have a process for X or so forth, aka areas where no additional context would be able to help zlint provide a more concrete determination.

For context, that was the issue leading to #493 in which the BRs state (3.2.2.6):
[code]

[2021-01-07 23:08] sleevi commented on #522
@cardonator So for those lints, I'm taking it as you'd support a `CookieMonster` level, because just like [cookies are a sometime food](https://www.youtube.com/watch?v=PaHkwE7TaNg), these are certificates that are sometimes good? 😜

[2021-01-07 23:11] cardonator commented on #504
I think that makes a lot of sense. In this case, the common base document would be the RFCs, right? Would these separate linting hierarchies _imply_ compliance with RFCs? Is it something that a user would have to specify? Or should it be managed through the CheckApplies function within the Lint interface for each set of lints? I assume that would require a pretty extensive change across the corpus

[2021-01-07 23:16] sleevi commented on #504
I'm not sure I follow?

Like, the S/MIME WG could decide to reject RFC 5280 and adopt ITU-T's (incompatible) X.509, for example, in which case, S/MIME wouldn't run RFC lints at all.

What I'm suggesting is the CA should be able to decide whether to run `cabf_br`, `cabf_smime`, or `rfc`, each independent of each other.

Are you asking whether https://github.com/zmap/zlint/blob/master/v3/lint/base.g

[2021-01-07 23:16] cardonator commented on #522
@sleevi haha! I was thinking it's more like classic `CookieMonster` where you get all the cookies you want unless you're being a bad boy. 😉

[2021-01-07 23:20] sleevi commented on #522
Jokes aside, on a pragmatic level, I would think that for situations like that - where something is bad UNLESS the CA has taken steps X/Y/Z (such as a documented process) - it probably makes sense to assume the negative case entirely, and then allow the CA to suppress certain lints on a case-by-case basis (e.g. if they have a documented process).

The downside to this approach is the common downsi

[2021-01-07 23:21] cardonator commented on #504
Ohhh, ok. I see what you're saying here. The Working Group will decide what a valid cert hierarchy should look like. 👍

I agree with this and think we've moved that direction. I was wondering about the default behavior when a cert with the SMIME related EKU is passed to zlint.

Tangentially, yes.

[2021-01-07 23:30] sleevi commented on #504
Gotcha. Yeah, I think it may still be too early as the SMCWG works on their draft, and AIUI based on today's CABF Forum Teleconference, [are working through this exact question themselves](https://lists.cabforum.org/pipermail/smcwg-public/2021-January/000076.html).

My own, weakly-held preference, is that if/as ZLint supports other types of certificates (S/MIME, for example), it *probably* makes s

[2021-01-07 23:31] cardonator commented on #522
I like that approach, it's kind of like an attestation for specific requirements that are Error scenarios without an attestation.

[2021-01-07 23:33] sleevi commented on #522
Exactly. Whether that attestation is implicit (i.e. the CA disabled the lint) or explicit (e.g. a "ZLint config" which can contain all of the relevant attestations a CA is making) I'm somewhat ambivalent to. I suspect that either way, there will be plenty of ways for things to go wrong, so I lean on the KISS and leave the work up to the CA to manage those attestations themselves, without any overl

[2021-01-08 09:33] Legrandin commented on #458
+1 for being able to linting CRLs too

[2021-01-08 19:28] sleevi opened #537 "Lint that DSA is not used"
DSA was part of the BRs up to [version 1.7.1](https://cabforum.org/wp-content/uploads/CA-Browser-Forum-BR-1.7.1.pdf) (2020-08-20), where it was removed as part of the [browser alignment ballot](https://cabforum.org/2020/07/16/ballot-sc31-browser-alignment/).

The source of the "lack of DSA" goes back to [Mozilla Policy 2.0](https://wiki.mozilla.org/CA:CertMaintenancePolicyV2.0), which did not list

[2021-01-08 19:29] sleevi commented on #537
Marking it as "question" so people can offer their interpretation of the effective dates here, should a lint be contributed.

[2021-01-08 19:40] sleevi opened #538 "e_dnsname_empty_label is a cabf_br lint, but should be an RFC lint"
The lint currently checks that a DNSName does not contain an empty label, with reference to 7.1.4.2 of the BRs.

However, the source of this lint if RFC 5280, namely [Section 4.2.1.6](https://tools.ietf.org/html/rfc5280#section-4.2.1.6)

RFC 1034 gives the preferred name syntax with an ABNF of (abbreviated)

As label always has at least a letter (in 1123, a let-dig), an empty label is not in the "

[2021-01-08 19:42] sleevi commented on #538
This also includes
`cabf_br/lint_dnsname_hyphen_in_sld`
`cabf_br/lint_dnsname_label_too_long`
`cabf_br/lint_dnsname_underscore_in_sld`
`cabf_br/lint_dnsname_underscore_in_trd`

[2021-01-08 19:46] sleevi commented on #538
For reference: The underscore ones are reiterated in 7.1.4.2.1, but they're merely capturing what 5280 states.

[2021-01-08 20:04] sleevi opened #539 "Lints with wrong references (e.g. CABF when really RFC)"
Tracking this as a meta-issue for "Lints in the wrong category"

As restructuring these would be breaking changes, tracking this under an umbrella issue.

- [ ] #538 - e_dnsname_empty_label is a cabf_br lint, but should be an RFC lint

[2021-01-08 20:05] sleevi opened #540 "w_ext_san_critical_with_subject_dn is a cabf_br lint, but should be an RFC lint"
The citation is correct, but the Source lists it as Baseline Requirements

[2021-01-08 20:10] sleevi commented on #537
This also requires updating `cabf_br/lint_public_key_type_not_allowed`

[2021-01-08 20:19] sleevi opened #541 "e_sub_ca_aia_missing is no longer an error as of BRs 1.7.1"
[BRs 1.7.1](https://cabforum.org/wp-content/uploads/CA-Browser-Forum-BR-1.7.1.pdf) adopted the [Browser Alignment Ballot SC31](https://cabforum.org/2020/07/16/ballot-sc31-browser-alignment/), which made AIA **optional** for subordinate CA certificates.

Previously, CAs were required to include OCSP responders for subordinate CAs. However, the new language of 7.1.2.2(c) reads:

1.3.6.1.5.5.7.48.2).

[2021-01-09 20:49] christopher-henderson opened #542 "Ring in the new year (2021)"
Update copyrights.

[2021-01-09 20:51] #530 closed

[2021-01-09 21:20] #542 closed

[2021-01-10 22:32] RufusJWB commented on #504
Do you think we could start a small test balloon in a branch of this repro, where we create a subfolder `cabf_smime` and copy some of the lints from `cabf_br` to of which we can assume with reasonable certainty, that they will also be used in the S/MIME BRGs, e.g. the serial number length? If this then turns out to be the way into the future, I would fork that branch and have someone working on it

[2021-01-11 00:08] cardonator commented on #504
I definitely think it's a good idea to make a proposal branch so we can look at what the changes would be and validate that direction as the direction we want to go. If we like it, then I think we still need to decide what the "Default behavior" of a zlint scan is when no particular lint groups are requested. My personal preference would be that we default to regular BR and EVG scanning similar to

[2021-01-11 11:02] robplee commented on #537
Question: a number of lints are going to be deprecated/rendered worthless by a new "lint_no_more_dsa" check.  Should we also create an issue to remove them now or do we want to wait until this has been completed?  I guess the other question I have, as a new contributor, is to ask if removing said lints lints will necessitate a major version number increase?

Apologies if this is the wrong place to

[2021-01-11 14:29] sleevi commented on #537
@robplee It’s a good question! I mentioned the effective dates, precisely because it is example of something that once was allowed, but no longer. In other cases, such as certificate lifetimes, lints have added new restrictions (e.g. 825 days to 398), but we’ve kept the old lint around to cover the period in which it was allowed. So introducing a “no DSA allowed” would have an effective date `Y`,

[2021-01-11 17:56] zakird commented on #537
I don't know if we necessarily want to remove old lints immediately because this prevents longitudinal analysis. Rather than remove altogether, we may want to move these into a new archive bin that doesn't run by default. For example, sometimes at Censys, we re-lint _all_ certificates in the store to help patch up errors that leak through from ZLint bugs. I don't think we'd want to lose the histor

[2021-01-11 17:57] zakird commented on #537
We could also add an optional "stopped being effective at" date to lints similar to what we do with TLDs. In that case, we could leave the lint in-place and simply update that date. I think I might prefer this offhand.

[2021-01-11 18:01] cpu commented on #537
I'll have to read this thread in detail when I'm not between meetings but my first instinct is that this would be my preference too.

[2021-01-11 18:04] sleevi commented on #537
Yeah, I could swear that came up in a review discussion somewhere, but I'm having trouble finding it, but SGTM.

[2021-01-11 18:30] cardonator commented on #537
I like the idea of stopped being effective... what about superseded?

[2021-01-18 16:50] cpu commented on #371
I think we can call this done now thanks to @robplee :tada:

I mentioned in [a comment](https://github.com/zmap/zlint/pull/536#issuecomment-762361695) but if someone were interested it would be nice to follow-up on this with a CI lint that checks that the lint init function appears at the start of the file. Some kind of programmatic backstop to prevent us from forgetting it during code review :-)

[2021-01-18 16:50] #371 closed

[2021-01-18 17:10] cpu opened #545 "Cut v3.1.0 release"
There are [~20 commits](https://github.com/zmap/zlint/compare/v3.0.0...master) in master since v3.0.0.

From a quick scan I think we've only added new lints and fixed bugs so this could be a **MINOR** version bump. Whoever takes on [preparing the release candidate tag + announcement](https://github.com/zmap/zlint/blob/master/CONTRIBUTING.md#publishing-a-release) should verify that there isn't anyt

[2021-01-18 19:26] christopher-henderson commented on #545
I'll try to get through this list today.

[2021-01-18 20:46] christopher-henderson opened #546 "Custom static analysis tooling for CI/CD"
Inspired by https://github.com/zmap/zlint/pull/536#issuecomment-762361695

[2021-01-18 22:15] christopher-henderson commented on #546
![image](https://user-images.githubusercontent.com/8518514/104966644-473bcd00-5996-11eb-8a4f-25fff2de783b.png)

Roughly speaking, yes! The AST produced by the Go parser does indeed maintain order of declaration and tracking code within a single file is rather simple to do. Take the following (hacked together) program which takes a path to a file (or code over `stdin` terminated by striking `ctrl-d

[2021-01-18 23:00] christopher-henderson commented on #545
So far, the only one that seems like it could be problematic is https://github.com/zmap/zlint/commit/747b41fe8a541f5dd39e5a323a81729ccfe8629e.

Seeing as how we had 130 certificates in the corpus turn bad on us due to a change in this lint I wouldn't be too surprised if this made lights turn red downstream. Of course, adding a new lint that makes certificates fail is going to happen, but this will

[2021-01-22 22:34] cpu commented on #546
@christopher-henderson That's excellent, neat work! Do you have interest in operationalizing it into a CI check? If not I'd be happy to run with it.

[2021-01-22 22:38] cpu commented on #545
@christopher-henderson That's a good point, thanks for flagging that one.

I'm of the opinion that this case is a bug-fix and so the change in lint results shouldn't be seen as a breaking change like if a new requirement were added, or existing results reclassified. I'm very open to different interpretations if folks disagree but I feel like we could still call this a minor release.

What do other

[2021-01-22 22:48] zakird commented on #545
I think that this is a minor revision. Every bug fix in this project is going to lead to changed lint results. The API is not changing.

[2021-01-22 23:30] cardonator commented on #545
I agree as well. Lint results should change if bugs were introduced and that doesn't seem to justify a major revision.

[2021-01-23 00:31] christopher-henderson commented on #546
@cpu yeah, I was gonna that a quick whack this weekend alongside moving the version bump along.

[2021-01-23 00:37] cpu commented on #546
Awesome, looking forward to it. Thanks!

[2021-01-23 22:23] christopher-henderson commented on #545
I happen to agree that it does not warrant a major revision, but better to say something when you see something.

[2021-01-23 22:25] zakird commented on #545
Absolutely! I appreciate you surfacing the question!

On Sat, Jan 23, 2021 at 2:24 PM Christopher Henderson <
notifications@github.com> wrote:

[2021-01-24 01:04] christopher-henderson commented on #546
So, @cpu, of course nothing is ever _that_ easy. I saw that we use `golangci-lint` so I attempted an integration that has opened up its own can of worms.

First, let's take a gander at their [new linters](https://golangci-lint.run/contributing/new-linters/) guidelines. Write a struct with a magic name and magic interface, update these handful of files, and open a PR. Pretty familiar, no?

Well, th

[2021-01-24 15:05] cpu commented on #545
+1 - I think it's a sign of a healthy project to have these discussions.

[2021-01-24 15:20] cpu commented on #546
@christopher-henderson :laughing: _Who lints the linters?_

That's too bad. I appreciate you thinking about how this could look and describing the challenges. I haven't looked at extending `golangci-lint` before and would have gone down the same rabbit hole.

That's closer to what I was imagining. I was thinking we could leave `golangci-lint` as-is (preserving the nicer integration) and handle thi

[2021-01-24 15:54] cpu opened #549 "Update e_ext_duplicate_extension error result with Details message."
The [`e_ext_duplicate_extension`](https://github.com/zmap/zlint/blob/6d643b9bddd500d5585876859efa09403a1f0f42/v3/lints/rfc/lint_ext_duplicate_extension.go) lint presently returns a plain `&lint.LintResult{Status: lint.Error}` when it encounters a single duplicated extension.

It would be a nicer user experience if we returned a `LintResult` with a `Details` message that indicated what duplicate ex

[2021-01-24 18:21] #549 closed

[2021-01-24 18:21] cpu commented on #549
Fixed in master. We'll pull this into the next tagged release.

[2021-01-24 18:23] christopher-henderson commented on #546
@cpu totally, I think that'll be the plan of attack.

[2021-01-25 08:21] RufusJWB commented on #504
@cardonator  @christopher-henderson Do you think one of the maintainers could create such a branch so that we could start working on a PoC?

[2021-01-26 18:34] christopher-henderson commented on #504
@RufusJWB certainly, I reckon that all we need is a branch in the repo for forks to open PRs against? As far as content of the branch goes I admit that I'll have to study this thread a bit in order to catch up.

[2021-01-26 18:37] christopher-henderson commented on #504
Here is a ['smimebrgs`](https://github.com/zmap/zlint/tree/smimebrgs) branch that is up-to-date with the latest master.

[2021-01-27 16:23] RufusJWB opened #552 "CAB BRGs validity period 397/8 days"
We should move the lints https://github.com/zmap/zlint/blob/master/v3/lints/apple/lint_w_server_cert_valid_time_longer_than_397_days.go and https://github.com/zmap/zlint/blob/master/v3/lints/apple/lint_e_server_cert_valid_time_longer_than_398_days.go to the CAB_BRG folder, since they were adopted to the BRGs with release 1.7.1

[2021-01-27 19:01] sleevi commented on #552
I think this is a dupe of https://github.com/zmap/zlint/issues/539 ?

[2021-01-27 19:01] #552 closed

[2021-01-27 21:35] RufusJWB commented on #552
oh yes, indeed

[2021-01-27 21:38] RufusJWB commented on #539
@sleevi / @christopher-henderson you probably would like to have one PR per Lint, do you?

@ZsofiaTomicsko - fyi

[2021-01-27 22:14] sleevi commented on #539
I’m pretty ambivalent! I wasn’t even sure if this would be a breaking change (hence the discussion tag). I wasn’t sure how “lints moved around / renamed” should be handled.

presumably, this can affect filters for which lints to run, which if that was important, could be further addressed by adding lint aliases (which would be removed whenever a new major version was released).

I think if there w

[2021-01-27 23:08] cpu opened #553 "Revisiting `e_key_usage_and_extended_key_usage_inconsistent` lint and RFC interpretation."
The `e_key_usage_and_extended_key_usage_inconsistent` lint introduced in https://github.com/zmap/zlint/pull/497 (and refined in https://github.com/zmap/zlint/pull/528) had a lot of discussion about the right interpretation of RFC 5280. I'm sorry that I missed getting a chance to review that PR and weigh in at the time, but I wanted to re-open the discussion with one concrete case in mind. I also t

[2021-01-27 23:10] cpu commented on #473
This was addressed by #497 and I've opened a separate issue for some follow-up discussion: https://github.com/zmap/zlint/issues/553

[2021-01-27 23:10] #473 closed

[2021-01-27 23:11] cpu commented on #553
:wave: @cardonator Interested in your thoughts on this case too

[2021-01-27 23:29] cardonator commented on #553
Thanks for pinging me on this @cpu. I want to review this question/use case more thoroughly with some other internal folks and I'll get back with some better thoughts on this subject.

[2021-01-28 02:55] christopher-henderson commented on #553
I can say that after we merged this I I ran a certificate that immediately triggered this error. Granted, it was a certificate that was generated by an internal CA in order to secure a DB API, so it wasn't exactly representative. But it did make me wonder.

I'll take this on to at least smoke check what was going on with these.

[2021-01-28 05:10] clintwilson commented on #553
The examples given here are represented in many (10^8 order of magnitude, it looks like) of the certificates used in the WebPKI, so at least w.r.t. a certificate that has `ExtKeyUsage` == `ExtKeyUsageServerAuth` and `KeyUsage` == `KeyUsageDigitalSignature|KeyUsageKeyEncipherment`, we'll see a very large number of certs encountering this error.
I wonder if @robstradling might also have some thought

[2021-01-28 06:09] RufusJWB commented on #553
We would need to ask @ZsofiaTomicsko about this.

[2021-01-28 10:29] ZsofiaTomicsko commented on #553
My issue is interpreting the "or" in the RFC as a "xor" still seems to be the most logical, and at the moment the only possible solution, since the author is using the "and/or" expression too. For example:

[code]

Because of this I feel like "or" and "and/or" must be interpreted differently, and I can't think of anything else other than "or" meaning "xor" and "and/or" meaning the traditional "or"

[2021-01-28 13:43] cpu commented on #553
Thanks @ZsofiaTomicsko, I think your instinct here was good. Apologies we didn't catch this sooner :-)

I started to pull on this thread and I'm wondering if there's **also** something going on with our integration tests.....

Running:
[code]

I get the summary:
[code]

But there are ~566,923 certificate fingerprints with "errs: 1" in the output from `-fingerprintSummary`. That number seems much m

[2021-01-28 13:53] sleevi commented on #553
I don’t think treating it as xor is correct, especially when looking at the RFCs that use this (e.g. https://tools.ietf.org/html/rfc5246#section-7.4.2 ). Specifically, this is a permission grant for ciphersuites, and “any of these bits are acceptable for permission grants” is how it should be read.

To the question of warning/error however, I do stand by the Error classification, as both the inten

[2021-01-28 14:02] cpu commented on #553
@sleevi That makes sense to me, and so `ExtKeyUsage` == `ExtKeyUsageServerAuth` and `KeyUsage` == `KeyUsageDigitalSignature|KeyUsageKeyEncipherment` seems kosher, am I reading you right?

I would personally feel better about making a call on this if we find more clarity on the integration test diffs. If it's ~140 certs and we can spot check some to verify that their KU/EKUs are definitely inconsis

[2021-01-28 14:12] sleevi commented on #553
Yup. I think I misread on the original issue regarding the discussion of xor/exclusive or. It’s an or of an exclusive set, but not an exclusive or 😅

Totally agreed!

[2021-01-28 14:13] cpu commented on #545
I'd like to block the RC tag on https://github.com/zmap/zlint/issues/553 being resolved.

[2021-01-28 15:06] robstradling commented on #553
RFC5480 specifies "the format of the subjectPublicKeyInfo field in X.509 certificates [RFC5280] that use Elliptic Curve Cryptography (ECC)" (see https://tools.ietf.org/html/rfc5480#section-1).  I think it's therefore reasonable to assume that RFC5480 is intended to be consistent with (the intent of) RFC5280.

https://tools.ietf.org/html/rfc5480#section-3 says:

This means that digitalSignature AND

[2021-01-28 15:45] robstradling commented on #553
I just filed an erratum against RFC5280: https://www.rfc-editor.org/errata/eid6414

[2021-01-28 16:08] cpu commented on #553
@robstradling Your interpretation here makes sense to me and I'm supportive of changing the lint logic to match. Thanks for filing the errata!

[2021-01-28 16:34] robstradling commented on #553
Discussion of the erratum on the PKIX list: https://mailarchive.ietf.org/arch/msg/pkix/rLa6v4kOlD8BQaJBwnmwX4oxsrE/

[2021-01-28 17:19] cardonator commented on #553
I think it's reasonable to assume that any combination of the values is acceptable, but it's hard to understand why the clearly carefully thought out distinction of the other descriptions in the same section are explicitly written with "and/or" notations where this one is not, unless it was intended to be that way.

Interpreting 4.2.1.12 using the same logic as section 3 makes sense to me, but wou

[2021-01-28 22:10] christopher-henderson commented on #553
@robstradling (I don't have an account on the PKIX list so I guess I'll throw my two cents onto the floor of this thread)

For however painful it might be for the person who updates the document, perhaps 5280 should explicitly enumerate the valid combinations rather than attempting a plain English description of it? I'm sure that future implementers would deeply appreciate the oven-ready combinati

[2021-01-28 23:35] cpu opened #555 "Integration test resultCounts overflow if >255 certs lint to the same status from the same lint"
#### Background

While investigating https://github.com/zmap/zlint/issues/553 I noticed that there was an inconsistency between the expected error results by lint name & the number of certificate fingerprints that failed linting:

#### Root cause
The root cause is that the `integration.resultCount` type used to collate findings uses a collection of `uint8` counters:
https://github.com/zmap/zlint/b

[2021-01-28 23:36] cpu commented on #553
I think I figured out what's going on here, and it's a silly bug of my own creation: https://github.com/zmap/zlint/issues/555 I will fix this independently of this discussion.

Unfortunately I think it hid the true impact of this lint, making it seem like only 140 integration test certificates were linted to an error level by this lint. In reality it's **566,924 new error findings**.

[2021-01-28 23:44] cpu commented on #553
With this in mind I'm pretty strongly in favour of reverting the lint as it exists now and re-working any bug fixes in a follow-up PR.

[2021-01-28 23:46] cardonator commented on #553
I completely agree with this and assume it will be a pretty major problem if not reverted for the 3.1.0 release.

[2021-01-28 23:58] cpu commented on #553
I'll push a revert PR + a fix to the integration tests after dinner.

[2021-01-29 01:17] cpu commented on #545
With https://github.com/zmap/zlint/pull/556 landed we're unblocked on this release if we want to push forward before figuring out a way to resolve #553.

[2021-01-29 01:23] cpu commented on #553
Revert of the lint landed w/ https://github.com/zmap/zlint/pull/556
Integration test overflow fix: https://github.com/zmap/zlint/pull/557

[2021-01-29 01:51] christopher-henderson commented on #545
I'll put notes together this weekend and get on top of the release (have to study the release procedure real quick for it looks not especially off-kilter)

[2021-01-29 08:55] RufusJWB commented on #539
I think we have to weight two things: on the one hand side, every single PR has a fixed overhead. And If we create 11 PRs we will have eleven times that overhead. On the other hand side, we have the risk, that one problem/error/discussion point coming up would block all necessary changes. Based on this, I would rather prefer to make 11 PRs.

[2021-01-29 08:57] ZsofiaTomicsko commented on #553
I agree with reverting the lint too, and I apologize for misunderstanding the RFC in the past. Thank you very much for the clarification!

[2021-01-29 11:06] robstradling commented on #553
@ZsofiaTomicsko No apology needed!  Your logic was sound, but the text in the RFC was misleading.  Thank you for your contributions!

[2021-01-29 12:48] sleevi commented on #539
I suppose I think of this more as a cleanup task, like #536, and while yes there may be some discussion, I think the overhead of 11 reviews would be a bit much.

Apologies, my [previous comment](https://github.com/zmap/zlint/issues/539#issuecomment-768614056) was trying to capture “is this a good thing to do, and if so, how best to do it.” Ideally, without forcing a major revision, which would be

[2021-01-29 13:45] cpu commented on #553
@ZsofiaTomicsko Echoing @robstradling - definitely no need to apologize :-) The RFC text is unclear, it was missed in review, and our integration tests fell down on the job. We caught it before the release, no harm done! Thanks again.